Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

add check for txnNotFound (#500)
  CHANGELOG.md
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Add code snippets link to README and fix a typo (#506)
  README.md
Due: none

Add README to snippets folder to point to xrpl.org code samples. (#507)
  snippets/README.md
Due: none

unset hash128 using AccountSet (#508)
  tests/unit/core/binarycodec/types/test_hash_types.py
  xrpl/core/binarycodec/types/hash128.py
Due: isort, black, flake8, mypy

fix types in WasLockingChainSend
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_attestation_batch.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
Due: isort, black, flake8, mypy

add tests
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
Due: isort, black, flake8

update xrp to amount
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_fund.py
Due: isort, black, flake8, mypy

add gateway + setup
  tests/integration/reusable_values.py
Due: isort, black, flake8

update authorize/verify
  xrpl/models/requests/channel_authorize.py
  xrpl/models/requests/channel_verify.py
Due: isort, black, flake8, mypy

change order of operation
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

fund wallet
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

revert: add paychan to reusable values
  tests/integration/reusable_values.py
Due: isort, black, flake8

update: encode claim + test
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

fix typo
  xrpl/models/transactions/xchain_add_claim_attestation.py
Due: isort, black, flake8, mypy

remove XChainAddAttestationBatch
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/transactions/test_xchain_add_attestation_batch.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation_batch.py
Due: isort, black, flake8, mypy, sphinx

fix tests
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_attestation_batch.py
Due: isort, black, flake8, mypy, sphinx

update to latest version of rippled
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
Due: isort, black, flake8, mypy

add XChainModifyBridge flag
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy, sphinx

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add binary codec tests for new txs
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add faucet test
  tests/unit/asyn/wallet/test_wallet_generation.py
Due: isort, black, flake8

update docstrings
  xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_create.py
  xrpl/models/transactions/payment_channel_fund.py
Due: isort, black, flake8, mypy

refactor encode signing claim
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

integration test for faucet wallet
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

lint
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

remove integration testing
  tests/integration/reusable_values.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
Due: isort, black, flake8

replace references of `XRP` with `amount`
  xrpl/models/requests/channel_authorize.py
  xrpl/models/requests/channel_verify.py
  xrpl/models/transactions/escrow_cancel.py
  xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_create.py
  xrpl/models/transactions/payment_channel_fund.py
Due: isort, black, flake8, mypy

amendment-xls34d
  tests/integration/reusable_values.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/unit/core/binarycodec/test_main.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/main.py
  xrpl/models/requests/channel_authorize.py
  xrpl/models/requests/channel_verify.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_fund.py
Due: isort, black, flake8, mypy

refactor `encode_for_signing_claim`
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

nit: update docstring
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

fix reusable values
  tests/integration/reusable_values.py
Due: isort, black, flake8

remove faucet wallet
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

reverse else order
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

add timeout to faucet
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add Owner Reserve Fee for AMMCreate transaction
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

simplify and clean up a few things WRT clients
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

update version
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
