Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Update snippets/multisigning.py
  snippets/multisigning.py
Due: isort, black, flake8

Renamed snippet name
  snippets/multisign.py
Due: isort, black, flake8

Update core keypairs docs
  CHANGELOG.md
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

Fix up core keypairs tests
  tests/unit/core/keypairs/test_main.py
Due: isort, black, flake8

Update CHANGLOG
  CHANGELOG.md
Due: none

Move multisign functions
  snippets/multisign.py
  tests/integration/reqs/test_submit_multisigned.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/multisign.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy, sphinx

Condensed multisign function
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy

ignore unknown args when parsing
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Fix integration tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Fix test import
  tests/integration/reqs/test_submit_only.py
Due: isort, black, flake8

refactor: Alias function for safe_sign_and_autofill_transaction called autofill_and_sign (#471)
  CHANGELOG.md
  README.md
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Change from aliased function autofill sign
  snippets/multisign.py
Due: isort, black, flake8

Fix snippet and integ test (failing)
  snippets/multisign.py
  tests/integration/reqs/test_submit_multisigned.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Added more checks in integ test
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

Buggy comment
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

Add comments for weird test case
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

Fix integ test
  tests/integration/reqs/test_submit_only.py
Due: isort, black, flake8

Added to changelog
  CHANGELOG.md
Due: none

Decreased check size integration test
  tests/integration/transactions/test_check_create.py
Due: isort, black, flake8

Refactor individual test to have own wallet
  tests/integration/transactions/test_check_create.py
Due: isort, black, flake8

Made changes for openssl 3.0
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
  xrpl/core/keypairs/__init__.py
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy, sphinx

removed 3.7
  .github/workflows/unit_test.yml
Due: none

removed 3.7
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

put back 3.7
  .github/workflows/integration_test.yml
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

put back 3.7
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Throw error instead truncate for generate seed with entropy
  tests/unit/core/keypairs/test_main.py
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

Fix docs
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

fix: Used RIPEMD160 algorithm from PyCrypto rather than hashlib (#490)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
  xrpl/core/keypairs/__init__.py
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy, sphinx

fix it_utils
  .vscode/settings.json
  tests/integration/it_utils.py
Due: isort, black, flake8

fix conf.py, IntegrationTestCase
  .vscode/settings.json
  docs/conf.py
  tests/integration/integration_test_case.py
Due: isort, black, flake8

fix: small typing errors in tests (#491)
  .vscode/settings.json
  docs/conf.py
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
Due: isort, black, flake8

Update secret numbers to default to secp
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Removed sequence from many integ tests + relocated ensure classic address
  pyproject.toml
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/core/addresscodec/test_main.py
  xrpl/core/addresscodec/__init__.py
  xrpl/core/addresscodec/main.py
  xrpl/utils/ensure_classic_address.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

Refactor test main wallet generation suite
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Fix latest ledger sequence
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8
