Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix: address CodeRabbit review feedback on is_valid_message
  tests/unit/core/keypairs/test_main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/core/keypairs/secp256k1.py
Due: isort, black, flake8, mypy

fix: handle hex string signatures and OverflowError in is_valid_message
  tests/unit/core/keypairs/test_main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

update fee, config and definitions, script works
  .ci-config/xrpld.cfg
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/ext/confidential/examples/submit_confidential_tx.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

doc update
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/examples/submit_confidential_tx.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

remove clear mutable flags
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

add domain id to both MPTokenIssuanceCreate and MPTokenIssuanceSet
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

add integration tests and async alignment
  .ci-config/xrpld.cfg
  tests/integration/transactions/test_confidential_mpt.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

parameterized unit tests
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
Due: isort, black, flake8

update integration tests
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
Due: isort, black, flake8

Fix xrpld.cfg and update definitions.json
  .ci-config/xrpld.cfg
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Regenerate definitions.json from updated #7350; add sponsor ledger-field read-back tests
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

mior: updates to the granular permissions related to Sponsor amendment
  tests/integration/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

[trivial] use BatchV1_1 as the amendment name in the config file for integ tests
  .ci-config/xrpld.cfg
Due: none

update ci
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
  mypy.ini
Due: none

Merge branch 'main' (Release 5.0.0) into confidential-mpt
  CHANGELOG.md
  pyproject.toml
  tests/unit/asyn/wallet/test_main.py
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix: make Amount.to_json IOU decode independent of ambient Decimal context
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/constants.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

fix: make 160-bit Currency decoding robust and non-raising
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_currency.py
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

fix: extend #992 secret-redaction test coverage to all signing requests
  CHANGELOG.md
  tests/unit/models/requests/test_channel_authorize.py
  tests/unit/models/requests/test_sign_and_submit.py
  tests/unit/models/requests/test_sign_for.py
Due: isort, black, flake8

fix: reject malformed IOU mantissa/exponent bytes in Amount.to_json decode
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Support for Dynamic MPT (XLS-0094)
  .ci-config/xrpld.cfg
  .github/pull_request_template.md
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/utils/time_conversions.py
Due: isort, black, flake8, mypy, sphinx

fix gated cmpt integ test setup
  tests/integration/transactions/test_confidential_mpt.py
Due: isort, black, flake8

flags enum and integ test gate fixes
  tests/integration/transactions/test_confidential_mpt.py
  xrpl/ext/confidential/examples/submit_confidential_tx.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy, sphinx

Add changelogs
  CHANGELOG.md
  xrpl/ext/confidential/CHANGELOG.md
Due: none

integration tests small fixes
  .github/workflows/build_wheels_confidential.yml
  packaging/confidential/version.env
  tests/integration/transactions/test_confidential_mpt.py
Due: isort, black, flake8

fix: correct SponsorshipTransferFlag values to match rippled develop
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/models/transactions/sponsorship_transfer.py
Due: isort, black, flake8, mypy

address PR review
  .github/workflows/integration_test.yml
  CHANGELOG.md
  tests/integration/transactions/test_batch.py
  tests/unit/transaction/test_batch_signers.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

add additional guard
  tests/unit/transaction/test_batch_signers.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

address AI review
  tests/unit/transaction/test_batch_signers.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

feat: Batch (XLS-56) V1_1 signing support (#1015)
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/transactions/test_batch.py
  tests/unit/core/binarycodec/test_main.py
  tests/unit/transaction/test_batch_signers.py
  xrpl/core/binarycodec/main.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

resolve AI comments
  .github/release.yml
  CHANGELOG.md
  packaging/confidential/scripts/fetch-prebuilt-natives.sh
  xrpl/ext/confidential/CHANGELOG.md
  xrpl/ext/confidential/include/secp256k1.h
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

fix: add missing Vault and Loan/LoanBroker types to NON_DELEGABLE_TRANSACTIONS
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

pin to 1.0.1 and fix depth first critical issues
  packaging/confidential/version.env
  tests/unit/ext/confidential/test_utility_layer.py
  xrpl/ext/confidential/MPT_CRYPTO_VERSION
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/include/secp256k1_mpt.h
  xrpl/ext/confidential/include/utility/mpt_utility.h
  xrpl/ext/confidential/setup_mpt_crypto.sh
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

depth first issues fix
  packaging/confidential/scripts/build-mpt-crypto-lib.sh
  packaging/confidential/version.env
  xrpl/ext/confidential/encryption.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

resolve coderabbitai comments
  packaging/confidential/scripts/fetch-prebuilt-natives.sh
  tools/confidential_spec.md
  xrpl/ext/confidential/build_mpt_crypto.py
Due: isort, black, flake8, mypy

pin to 1.0.2 and update windows build
  .github/workflows/build_wheels_confidential.yml
  packaging/confidential/version.env
  tests/unit/ext/confidential/test_utility_layer.py
  xrpl/ext/confidential/MPT_CRYPTO_VERSION
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8

fix CI paths
  .github/workflows/build_wheels_confidential.yml
  packaging/confidential/pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
