Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

support Transaction.has_flag()
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix exports
  xrpl/asyncio/clients/__init__.py
Due: isort, black, flake8, mypy, sphinx

edit changelog
  CHANGELOG.md
Due: none

Add better support for txn flags.
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/transaction_flags.py
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy, sphinx

bump version; fix import TypedDict
  CHANGELOG.md
  pyproject.toml
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

return empty dict if no changes occurred instead of raising an exception.
  xrpl/utils/tx_parser/orderbook_changes.py
Due: isort, black, flake8, mypy

Use 'Decimal' instead of 'float'
  xrpl/utils/tx_parser/balance_changes.py
Due: isort, black, flake8, mypy

Use 'Decimal' instead of 'float'; Add some docstrings; Renamed some functions
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Deleted 'XRPLNoOffersAffectedException'
  xrpl/utils/tx_parser/__init__.py
Due: isort, black, flake8, mypy, sphinx

Update test_tx_parser.py
  tests/unit/utils/test_tx_parser.py
Due: isort, black, flake8

All flags to upper case; Update Changelog; Update pyproject
  CHANGELOG.md
  pyproject.toml
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy

deleted XRPLNoOffersAffectedException
  xrpl/utils/__init__.py
Due: isort, black, flake8, mypy, sphinx

fix: fix xrpl.asyncio.client exports (#365)
  CHANGELOG.md
  xrpl/asyncio/clients/__init__.py
Due: isort, black, flake8, mypy, sphinx

Fix mypy errors; Fix 'previous_value' calculation
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Fix isort
  xrpl/utils/tx_parser/__init__.py
Due: isort, black, flake8, mypy, sphinx

Update xrpl/utils/tx_parser/balance_changes.py
  xrpl/utils/tx_parser/balance_changes.py
Due: isort, black, flake8, mypy

Update xrpl/utils/tx_parser/utils.py
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Update utils.py
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Update orderbook_changes.py
  xrpl/utils/tx_parser/orderbook_changes.py
Due: isort, black, flake8, mypy

Update balance_changes.py
  xrpl/utils/tx_parser/balance_changes.py
Due: isort, black, flake8, mypy

Add better support for txn flags (#363)
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy, sphinx

Improve type hints
  xrpl/utils/tx_parser/balance_changes.py
Due: isort, black, flake8, mypy

Improve type hints
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Improve type hints
  xrpl/utils/tx_parser/orderbook_changes.py
Due: isort, black, flake8, mypy

add federator_info
  xrpl/models/requests/federator_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

add cross-chain helper method
  .github/workflows/unit_test.yml
  .pre-commit-config.yaml
  xrpl/utils/__init__.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy, sphinx

update changelog
  CHANGELOG.md
Due: none

add tests
  tests/unit/utils/test_sidechain.py
  tests/unit/utils/test_time_conversions.py
  tests/unit/utils/test_xrp_conversions.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy

Delete xrpl.utils.tx_parser.rst
  docs/source/xrpl.utils.tx_parser.rst
Due: none

Update __init__.py
  xrpl/utils/__init__.py
Due: isort, black, flake8, mypy, sphinx

Update __init__.py
  xrpl/utils/tx_parser/__init__.py
Due: isort, black, flake8, mypy, sphinx
