Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Merge main (#486)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

breaking: Refactored wallet class and removed wallet sequence (#477)
  CHANGELOG.md
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_check_create.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/keypairs/test_main.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/addresscodec/__init__.py
  xrpl/core/addresscodec/main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

feat: generate wallet from secret numbers (#492)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

chore: Remove deprecated request functions (attempt 2) (#581)
  CHANGELOG.md
  xrpl/account/__init__.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/__init__.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy, sphinx

Fix a mix up with AccountSet flags (#524)
  CHANGELOG.md
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx

feat: Remove `send_reliable_submission` (#592)
  README.md
  snippets/submit_payment.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

Remove long aliases for signing/submitting functions (#599)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Make `sign` synchronous (#598)
  CHANGELOG.md
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

refactor: Make param order for signing/submitting consistent (#600)
  CHANGELOG.md
  README.md
  snippets/paths.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

[BREAKING] fix: XRP().to_amount now expects XRP instead of drops (#554)
  CHANGELOG.md
  tests/unit/models/currencies/test_xrp.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

breaking: Refactored wallet class and removed wallet sequence (#477)
  CHANGELOG.md
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/keypairs/test_main.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/addresscodec/__init__.py
  xrpl/core/addresscodec/main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

feat: Remove `send_reliable_submission` (#592)
  README.md
  snippets/submit_payment.py
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

Lint
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Update CHANGELOG with networkid
  CHANGELOG.md
Due: none

Add amount unit test
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

Add sign_and_submit test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Add test for _calculate_fee_per_transaction_type
  tests/unit/core/addresscodec/test_main.py
Due: isort, black, flake8

Use asyncio.run
  tests/unit/core/addresscodec/test_main.py
Due: isort, black, flake8

Use a valid account address
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

Fix invalid account address
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

Add invalid account test
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

Update the README with submit_and_wait link
  README.md
Due: none

Remove magic address in favor of Wallet.create()
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

feat: 2.0 rebase fixes (#612)
  CHANGELOG.md
  README.md
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

Add classic_address
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

feat: 2.0 rebase fixes (#612)
  CHANGELOG.md
  README.md
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy
