Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

update changelog
  CHANGELOG.md
Due: none

get working integration test
  tests/integration/it_utils.py
  tests/integration/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy, sphinx

Update CHANGELOG.md
  CHANGELOG.md
Due: none

include code rabbit suggestions
  CHANGELOG.md
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

update definitions.json to match rippled develop branch
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

use short-circuit in an if-condition
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

feat: coderabbit.ai config (#750)
  .coderabbit.yaml
Due: none

update poetry.lock
  poetry.lock
Due: none

update definitions, rename MPTokenHolder to Holder, remove LockedAmount
  tests/integration/transactions/test_clawback.py
  tests/integration/transactions/test_mptoken_authorize.py
  tests/unit/core/binarycodec/test_main.py
  tests/unit/models/transactions/test_clawback.py
  tests/unit/models/transactions/test_mptoken_authorize.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/uint64.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

bump version to 4.0.0b3
  pyproject.toml
Due: none

[WIP] Fix CICD integration tests
  .github/workflows/integration_test.yml
Due: none

LedgerEntry RPC: Introduce Credential functionality
  tests/integration/transactions/test_credential.py
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

CI/CD Fix: Update docker-stop command
  .github/workflows/integration_test.yml
Due: none

Update Contributing guidelines
  CONTRIBUTING.md
Due: none

fix black linter errors
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

fix mypy errors
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

re-introduce docker health checks with server_info RPC
  .github/workflows/integration_test.yml
Due: none

fix definitions
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

add definitions.json generation script
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

Models for PD transactions
  .ci-config/rippled.cfg
  tests/integration/reusable_values.py
  tests/integration/transactions/test_permissioned_domain.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/transactions/test_permissioned_domain_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Update CL
  CHANGELOG.md
Due: none

remove extraneous comments
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

[WIP] use single docker run command
  .github/workflows/integration_test.yml
Due: none

[WIP] Revert some changes to the CICD integration tests
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

[refactor] address Ashray PR suggestion
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_delete.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

update release notes in CHANGELOG
  CHANGELOG.md
Due: none

fix: Update the ledger_entry RPC model
  tests/integration/transactions/test_permissioned_domain.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix model generation
  tools/generate_tx_models.py
Due: isort, black, flake8

refactor: Use LedgerEntryType instead of AccountObjectsType; Rectify omissions in the latter enum
  tests/integration/transactions/test_credential.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_did_delete.py
  tests/integration/transactions/test_did_set.py
  tests/integration/transactions/test_permissioned_domain.py
  tests/integration/transactions/test_set_oracle.py
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_create_bridge.py
  tests/integration/transactions/test_xchain_create_claim_id.py
  tests/integration/transactions/test_xchain_modify_bridge.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy, sphinx

fix: Update ledger_entry unit test
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

update CL
  CHANGELOG.md
Due: none

Pulling set_fee tx updates
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

Create SECURITY.md
  SECURITY.md
Due: none

set version to regular 4.0.0
  pyproject.toml
Due: none

update Docker image
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
Due: none

update docker run command
  .github/workflows/integration_test.yml
Due: none

fix docker run command
  .github/workflows/integration_test.yml
Due: none

uncomment MPT integ tests
  tests/integration/transactions/test_clawback.py
  tests/integration/transactions/test_mptoken_authorize.py
  tests/integration/transactions/test_mptoken_issuance_create.py
  tests/integration/transactions/test_mptoken_issuance_destroy.py
  tests/integration/transactions/test_mptoken_issuance_set.py
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
