Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

comment out unwritten txs
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

add test for xchain conversion, fix bugs
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

add XChainAddAttestation model(s)
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy, sphinx

rename file
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_attestation_batch.py
Due: isort, black, flake8, mypy, sphinx

rename Bridge -> XChainBridge in models
  tests/unit/models/test_base_model.py
  xrpl/models/__init__.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
  xrpl/models/xchain_bridge.py
Due: isort, black, flake8, mypy, sphinx

add CreateAccount AddAttestation test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

fix existing tests w/updated rippled, add AccountCreate test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

fix import
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix bugs
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/field_header.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

add/update models
  xrpl/models/transactions/sidechain_xchain_account_create.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

export new tx
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

fix unused variable
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

rename field
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

fix XChainCommit
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add XChainModifyBridge tx model
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

fix XChainAddAttestation
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

add XChainModifyBridge binary codec test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

actually export tx
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

edit changelog
  CHANGELOG.md
Due: none

update RPCs
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

one more fix
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix spacing
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

update to new rippled changes
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy

update definitions.json to avoid conflict with amm
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Update definitions.json
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

more updates
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_account_create_commit.py
Due: isort, black, flake8, mypy, sphinx

make signature reward optional for modify bridge
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

make claim attestation destination optional
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix account objects filters
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

fix fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add xchain bridge to account objects
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

make test easier to read
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

fix mypy
  mypy.ini
Due: none

use NestedModel
  .vscode/settings.json
  mypy.ini
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

update rpcs
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/models/transactions/transaction.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

rename IssuedCurrency -> Issue to match rippled
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/core/binarycodec/types/xchain_bridge.py
Due: isort, black, flake8, mypy, sphinx

add destination tag to XChainClaim
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
