Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

integration tests for validating API responses from rippled
  tests/integration/reqs/test_account_tx.py
Due: isort, black, flake8

Remove deprecated `accounts` and `type` parameters from ledger request model (#724)
  CHANGELOG.md
  xrpl/models/requests/ledger.py
Due: isort, black, flake8, mypy

add a comment
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix a style issue
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

changed to more descriptive comment
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

Revert "revert the changes pertaining to introducing network ID in the config file"
  .ci-config/rippled.cfg
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

include additional test case for populating network_id in reserved XRPL networks
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Update tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

adress PR comments
  snippets/multisign.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix: include the missing if-condition in multisign snippets
  snippets/multisign.py
Due: isort, black, flake8

improve Request.from_dict
  tests/unit/models/requests/test_requests.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

better erroring for amm_info
  CHANGELOG.md
  tests/unit/models/requests/test_amm_info.py
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

improve generalization
  xrpl/models/base_model.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

complete codecov
  tests/unit/models/requests/test_requests.py
Due: isort, black, flake8

add TODO
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

remove commented out code
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

clean up
  tests/unit/models/requests/test_requests.py
Due: isort, black, flake8

improve comment
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Update snippets/multisign.py
  snippets/multisign.py
Due: isort, black, flake8

fix(?) flakiness in snippet
  snippets/bridge_transfer.py
Due: isort, black, flake8

create DNFT support
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/nftoken_modify.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

feat: add rippled API v2 support and use as default (#720)
  .ci-config/rippled.cfg
  CHANGELOG.md
  snippets/multisign.py
  snippets/send_escrow.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_generic_request.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_base_model.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

improve comment
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

Changes pertaining to rippled API v2 -- xrpl-py v3 (#729)
  .ci-config/rippled.cfg
  CHANGELOG.md
  snippets/multisign.py
  snippets/send_escrow.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_generic_request.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_base_model.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

update version and CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

v3.0.0 release (#731)
  CHANGELOG.md
  pyproject.toml
Due: none

fix nft_history
  tests/unit/models/requests/test_requests.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix error message
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

add MPTokenIssuanceCreate
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/constants.py
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update CHANGELOG
  CHANGELOG.md
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

remove redundant account
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

modify ntoken_mint
  docs/conf.py
  tests/unit/models/transactions/test_nftoken_mint.py
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response1.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response2.json
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

Update Github Actions to include the coverage for diff
  .github/workflows/unit_test.yml
Due: none

add int to hex util and MPTokenIssuanceCreate integ test (commented)
  tests/integration/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/utils/test_int_conversions.py
  xrpl/models/requests/account_objects.py
  xrpl/utils/__init__.py
  xrpl/utils/int_conversions.py
Due: isort, black, flake8, mypy, sphinx

fix lint error
  tests/integration/transactions/test_mptoken_issuance_create.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
