Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Update open doc html file path
  CONTRIBUTING.md
Due: none

Use with as syntax for async ws
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

Change to JsonRpcClient
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

Update documentation for code snippets
  docs/source/get_transaction.rst
  docs/source/partial_payment.rst
  docs/source/paths.rst
  docs/source/reliable_transaction_submission.rst
  docs/source/send_escrow.rst
  docs/source/set_regular_key.rst
  docs/source/snippets.rst
  snippets/set_regular_key.py
Due: isort, black, flake8

Wrap client within function
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

Remove function wrapper to make script
  docs/source/get_transaction.rst
  docs/source/partial_payment.rst
  docs/source/paths.rst
  docs/source/reliable_transaction_submission.rst
  docs/source/send_escrow.rst
  docs/source/set_regular_key.rst
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

initial commit
  tests/unit/models/test_ledger_object.py
  tests/unit/models/transactions/test_metadata.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_entry_type.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/ledger_object.py
  xrpl/models/ledger_objects/negative_unl.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ripple_state.py
  xrpl/models/ledger_objects/signer_list.py
  xrpl/models/ledger_objects/ticket.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/metadata_new.py
Due: isort, black, flake8, mypy, sphinx

Add better names to snippets
  docs/index.rst
  docs/source/get_transaction.rst
  docs/source/partial_payment.rst
  docs/source/paths.rst
  docs/source/reliable_transaction_submission.rst
  docs/source/send_escrow.rst
  docs/source/set_regular_key.rst
  docs/source/snippets.rst
Due: none

Comment files more and gave references
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

Reverse param order ledger req
  snippets/get_transaction.py
Due: isort, black, flake8

Redo file structure for snippets documentation
  docs/source/get_transaction.rst
  docs/source/partial_payment.rst
  docs/source/paths.rst
  docs/source/reliable_transaction_submission.rst
  docs/source/send_escrow.rst
  docs/source/set_regular_key.rst
  docs/source/snippets.rst
Due: none

Removed old imports
  docs/source/snippets.rst
Due: none

Changed get transaction to mainnet
  snippets/get_transaction.py
Due: isort, black, flake8

Add poetry run test shortcut scripts
  CONTRIBUTING.md
  pyproject.toml
  tests/poetry_scripts.py
Due: isort, black, flake8

Fix lint
  tests/poetry_scripts.py
Due: isort, black, flake8

Convert to poethepoet
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/poetry_scripts.py
Due: isort, black, flake8

Add support for individual tests
  CONTRIBUTING.md
  pyproject.toml
Due: none

Add test coverage scripts
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  pyproject.toml
Due: none

Reverse changes (poe not seen)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Try poethepoet in unit test CI
  .github/workflows/unit_test.yml
Due: none

Reversed CI file
  .github/workflows/unit_test.yml
Due: none

Update coverage settings and yml
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  pyproject.toml
Due: none

Change poe to poetry run poe
  CONTRIBUTING.md
Due: none

Change poetry run
  CONTRIBUTING.md
Due: none

Reorder coverage and change example test
  CONTRIBUTING.md
Due: none

feat: poetry script for easier test case running (#445)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

Remove / from url, change reg key snippet name
  README.md
  docs/source/snippets.rst
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

Change testnet to standalone
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Refactor timer logic into utils
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Create CONTRIBUTING section
  CONTRIBUTING.md
Due: none

Added integration test guide to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Cancel timer after done
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Del timer after done
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

None timer after done
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

docs: add xrpl.js code snippets over to xrpl-py (#443)
  CONTRIBUTING.md
  README.md
  docs/index.rst
  docs/source/snippets.rst
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

Enhance write integration section of CONTRIBUTING
  CONTRIBUTING.md
Due: none

Fix timer for async/sync
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Explain where IntegrationTestCase is
  CONTRIBUTING.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
