Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Update parser
  .vscode/settings.json
  tests/unit/utils/txn_parser/test_get_balance_changes.py
  tests/unit/utils/txn_parser/test_invalid_txn.py
  tests/unit/utils/txn_parser/test_parse_balance_changes.py
  tests/unit/utils/txn_parser/transaction.py
  tests/unit/utils/txn_parser/transaction_jsons/payment_token.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_xrp_create_account.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_create.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/balance_parser.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/get_balance_changes.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/transaction.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

fix linter
  tests/unit/utils/txn_parser/transaction_jsons/payment_token.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_token_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_xrp_create_account.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_create.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/get_balance_changes.py
  xrpl/utils/txn_parser/utils/nodes.py
Due: isort, black, flake8, mypy

Create escrow_utility.py
  xrpl/utils/escrow_utility.py
Due: isort, black, flake8, mypy

Update xrpl/utils/escrow_utility.py
  xrpl/utils/escrow_utility.py
Due: isort, black, flake8, mypy

implement suggestions
  .vscode/settings.json
  tests/unit/utils/txn_parser/test_get_balance_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_spend_full_balance.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

fix linter
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

better handling optional values
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/balance_parser.py
Due: isort, black, flake8, mypy

add better error handling for invalid client URLs
  CHANGELOG.md
  tests/unit/clients/__init__.py
  tests/unit/clients/test_json_rpc_client.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

raise XRPLRequestFailureException when response can't be JSON decoded
  tests/unit/clients/test_json_rpc_client.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

implement suggestions
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/balance_parser.py
Due: isort, black, flake8, mypy

remove valid URL test case
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

add better error handling for invalid client URLs (#388)
  CHANGELOG.md
  tests/unit/clients/__init__.py
  tests/unit/clients/test_json_rpc_client.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

add test case for valid client URL
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

add test case for valid client URL (#389)
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

fix indentation of example txns
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
Due: none

fix nits, remove pydash, better typing
  poetry.lock
  pyproject.toml
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

more readable _flip_trustline_perspective; pass value instead of value_parser
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/balance_parser.py
Due: isort, black, flake8, mypy

fix type: ignore
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

set "command" as "method" in GenericRequest.to_dict()
  tests/unit/models/requests/test_requests.py
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

implement suggestions; remove last type: ignore
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/nodes.py
Due: isort, black, flake8, mypy

Fix safe_sign_transaction doc
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Fix safe_sign_transaction doc (#392)
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

move fix to to_dict()
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

update CHANGELOG message
  CHANGELOG.md
Due: none

fix bug in GenericRequest.to_dict() (#391)
  CHANGELOG.md
  tests/unit/models/requests/test_requests.py
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

better typing
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/nodes.py
Due: isort, black, flake8, mypy, sphinx

export SubscribeBook request model
  xrpl/models/requests/__init__.py
Due: isort, black, flake8, mypy, sphinx

export SubscribeBook request model (#395)
  xrpl/models/requests/__init__.py
Due: isort, black, flake8, mypy, sphinx

Add balance changes parser (#383)
  CHANGELOG.md
  docs/source/xrpl.utils.txn_parser.rst
  docs/source/xrpl.utils.txn_parser.utils.rst
  poetry.lock
  tests/unit/utils/txn_parser/__init__.py
  tests/unit/utils/txn_parser/test_get_balance_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_xrp_create_account.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_create.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

add release process changes
  CONTRIBUTING.md
Due: none

make more changes
  CONTRIBUTING.md
Due: none

fix changelog
  CHANGELOG.md
Due: none

add and export get_final_balances; renamed some terms; export NormalizedNode
  tests/unit/utils/txn_parser/test_get_final_balances.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/get_final_balances.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

fix linter
  tests/unit/utils/txn_parser/test_get_final_balances.py
Due: isort, black, flake8

renamed some functions and arguments
  xrpl/utils/txn_parser/utils/balance_parser.py
Due: isort, black, flake8, mypy

Update CHANGELOG and pyproject
  CHANGELOG.md
  pyproject.toml
Due: none

Update CHANGELOG with SubscribeBook
  CHANGELOG.md
Due: none

xrpl-py 1.6.0 release (#399)
  CHANGELOG.md
  pyproject.toml
Due: none
