Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Update changelog
  CHANGELOG.md
Due: none

edit changelog
  CHANGELOG.md
Due: none

rename autofill_transaction -> autofill
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

export methods
  xrpl/asyncio/transaction/__init__.py
  xrpl/transaction/__init__.py
Due: isort, black, flake8, mypy, sphinx

add sync method
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

rename autofilled vars in tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

feat: make `autofill` a public method (#331)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Add integration test for fix
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Update CHANGELOG for fix
  CHANGELOG.md
Due: none

Fix #301 (X-address w/ tag in autofill) (#302)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

re-add unreleased in changelog
  CHANGELOG.md
Due: none

v1.3.0 (#335)
  CHANGELOG.md
  pyproject.toml
Due: none

quick regular expression use cleanup
  xrpl/constants.py
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/uint64.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

quick regular expression use cleanup (#332)
  xrpl/constants.py
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/uint64.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

Create Sjenica1
  Sjenica1
Due: none

docs: add explanation for setting up standalone mode for integration tests
  CONTRIBUTING.md
Due: none

Added a transactionparser
  xrpl/utils/__init__.py
  xrpl/utils/tx_parser.py
Due: isort, black, flake8, mypy, sphinx

docs: add explanation for setting up standalone mode for integration tests (#341)
  CONTRIBUTING.md
Due: none

Fixed Linter notes
  xrpl/utils/tx_parser.py
Due: isort, black, flake8, mypy

Fixed Linter notes
  xrpl/utils/__init__.py
Due: isort, black, flake8, mypy, sphinx

add custom faucet host param to generate_faucet_wallet
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Add files via upload
  tests/unit/utils/test_tx_parser.py
Due: isort, black, flake8

Update tx_parser.py
  xrpl/utils/tx_parser.py
Due: isort, black, flake8, mypy

Add pydash
  poetry.lock
Due: none

Update __init__.py
  xrpl/utils/__init__.py
Due: isort, black, flake8, mypy, sphinx

add custom faucet host param to generate_faucet_wallet (#346)
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Add type annotations; Add pydash; Add tests
  poetry.lock
  pyproject.toml
  tests/unit/utils/test_tx_parser.py
  xrpl/utils/tx_parser.py
Due: isort, black, flake8, mypy

fix '_is_valid_metadata': Missing return statement
  xrpl/utils/tx_parser.py
Due: isort, black, flake8, mypy

Restructured tx_parser; Add ParseOrderBookChanges; Add instructions; Add tests; pydash missing py.typed workaround
  docs/source/xrpl.utils.tx_parser.rst
  tests/unit/utils/test_tx_parser.py
  xrpl/utils/__init__.py
  xrpl/utils/tx_parser.py
  xrpl/utils/tx_parser/__init__.py
  xrpl/utils/tx_parser/balance_changes.py
  xrpl/utils/tx_parser/orderbook_changes.py
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy, sphinx

simplify ws
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

bump version
  CHANGELOG.md
  pyproject.toml
Due: none

bump version (#359)
  CHANGELOG.md
  pyproject.toml
Due: none

Fix false negated_balance calculation.
  xrpl/utils/tx_parser/utils.py
Due: isort, black, flake8, mypy

Fix tests because of false negated_balance calculation.
  tests/unit/utils/test_tx_parser.py
Due: isort, black, flake8

Add better support for txn flags
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/transaction_flags.py
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy

support Transaction.has_flag()
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/transaction_flags.py
Due: isort, black, flake8, mypy
