Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

test
  pyproject.toml
Due: none

Add API key support for JSON-RPC requests
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

Update tests/unit/models/transactions/test_account_delete.py
  tests/unit/models/transactions/test_account_delete.py
Due: isort, black, flake8

Update tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_accept.py
Due: isort, black, flake8

refactor DepositPreauth transaction validity checks
  tests/unit/models/transactions/test_deposit_preauth.py
  xrpl/models/base_model.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

refactor suggestions from code-rabbit
  tests/integration/transactions/test_credential.py
Due: isort, black, flake8

Update root repo
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/did_delete.py
  xrpl/models/transactions/did_set.py
  xrpl/models/transactions/oracle_delete.py
  xrpl/models/transactions/oracle_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_account_create_commit.py
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
  xrpl/models/transactions/xchain_modify_bridge.py
  xrpl/models/utils.py
  xrpl/models/xchain_bridge.py
Due: isort, black, flake8, mypy, sphinx

Update root repo
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

update error msg in CredentialDelete txn
  tests/unit/models/transactions/test_credential_delete.py
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

remove unnecessary comments
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_accept.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

modified the structure of error collection
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

modified error msg in DepositPreauth txn
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

use _MAX_URI_LENGTH variable
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

Update all the unit tests as per the changes in model files
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_delete.py
  tests/unit/models/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/transactions/credential_accept.py
Due: isort, black, flake8, mypy

Use List instead of Set to store sequence of credentials
  xrpl/models/requests/deposit_authorized.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

simplify DepositPreauth unit tests
  tests/unit/models/transactions/test_deposit_preauth.py
Due: isort, black, flake8

unify the regex used in DIDSet and Credentials
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_delete.py
  xrpl/models/transactions/did_set.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

remove the use of lambda in collecting errors
  xrpl/models/transactions/credential_accept.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/account_delete.py
Due: isort, black, flake8, mypy

Use variables instead of magic numbers, credential length checks
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

remove magic number in credential_delete txn model
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

use filter construct for deposit_preauth validity check
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

remove doc-strings alluding to de-duplication
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

refactor credential_ids check into utils file
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Update type
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/escrow_finish.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
