Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

update flags docstrings
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
Due: isort, black, flake8, mypy

update DirectoryNode
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/directory_node.py
Due: isort, black, flake8, mypy

update Escrow
  xrpl/models/ledger_objects/escrow.py
Due: isort, black, flake8, mypy

update FeeSettings
  xrpl/models/ledger_objects/fee_settings.py
Due: isort, black, flake8, mypy

update LedgerHashes
  xrpl/models/ledger_objects/ledger_hashes.py
Due: isort, black, flake8, mypy

update LedgerObject and models with flags
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/ledger_object.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/xchain_owned_claim_id.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

update NegativeUNL
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/negative_unl.py
Due: isort, black, flake8, mypy

update NFTokenOffer
  xrpl/models/ledger_objects/nftoken_offer.py
Due: isort, black, flake8, mypy

update NFTokenPage
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/nftoken_page.py
Due: isort, black, flake8, mypy

add ledger_index to LedgerObject
  xrpl/models/ledger_objects/ledger_object.py
Due: isort, black, flake8, mypy

update Offer
  xrpl/models/ledger_objects/offer.py
Due: isort, black, flake8, mypy

update PayChannel
  xrpl/models/ledger_objects/pay_channel.py
Due: isort, black, flake8, mypy

update RippleState
  xrpl/models/ledger_objects/ripple_state.py
Due: isort, black, flake8, mypy

remove unnecessary flags
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/ripple_state.py
Due: isort, black, flake8, mypy

update SignerList
  xrpl/models/ledger_objects/signer_list.py
Due: isort, black, flake8, mypy

add index to Ticket test
  tests/unit/models/test_ledger_object.py
Due: isort, black, flake8

update Ticket
  xrpl/models/ledger_objects/ticket.py
Due: isort, black, flake8, mypy

update docstrings
  xrpl/models/ledger_objects/xchain_owned_claim_id.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

update .rst file
  docs/source/xrpl.models.ledger_objects.rst
Due: none

resolve mypy errors
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

- removed an incorrect test file. - first draft of integration tests for the new URL processing function
  tests/integration/sugar/test_generate_faucet_wallet.py
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

remove incorrect comments. delete the old try-catch logic used for verbose error handling
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix transaction flag mapping
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/flag_interface.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

add XChainModifyBridge flag test
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

improve changelog writeup
  CHANGELOG.md
Due: none

improve tx.flags type
  xrpl/models/flags.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

clean up, add comments
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

Revert "improve tx.flags type"
  xrpl/models/flags.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

limit changes
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/flag_interface.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

make escrow wait time longer
  snippets/send_escrow.py
Due: isort, black, flake8

add more comments
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

rename function
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

add script to process ledger objects
  docs/source/xrpl.models.ledger_objects.rst
  tools/generate_models.py
  tools/generate_tx_models.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/ledger_entry_type.py
Due: isort, black, flake8, mypy, sphinx

remove docstring from ledger_entry_type
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/negative_unl.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ripple_state.py
  xrpl/models/ledger_objects/signer_list.py
  xrpl/models/ledger_objects/ticket.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

export LedgerObject
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/ledger_object.py
Due: isort, black, flake8, mypy, sphinx

set flag=0 in LedgerObject
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/ledger_object.py
  xrpl/models/ledger_objects/negative_unl.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ticket.py
  xrpl/models/ledger_objects/xchain_owned_claim_id.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

exclude ledger objects model from code coverage
  .coveragerc
Due: none

remove unneeded check
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

rename variable
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
