Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

update docstrings
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy

feat: add sidechain-specific RPCs/sugar (#366)
  .github/workflows/unit_test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  tests/unit/utils/test_sidechain.py
  tests/unit/utils/test_time_conversions.py
  tests/unit/utils/test_xrp_conversions.py
  xrpl/models/requests/federator_info.py
  xrpl/models/requests/request.py
  xrpl/utils/__init__.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy, sphinx

Add owner field to NFTokenBurn
  CHANGELOG.md
  xrpl/models/transactions/nftoken_burn.py
Due: isort, black, flake8, mypy

better fee calculation
  .vscode/settings.json
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Edit docstring; Add inline-comments
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Fix typo
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Add referral to original formula
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

Update settings.json
  .vscode/settings.json
Due: none

Remove unnecessary hidden value
  xrpl/models/transactions/nftoken_burn.py
Due: isort, black, flake8, mypy

Add missing owner field to NFTokenBurn (#369)
  CHANGELOG.md
  xrpl/models/transactions/nftoken_burn.py
Due: isort, black, flake8, mypy

add helper function; add tests
  tests/unit/asyn/ledger/__init__.py
  tests/unit/asyn/ledger/test_calculate_fee_dynamically.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/ledger/utils.py
Due: isort, black, flake8, mypy

fix linter; add option dynamic; change default back to open
  CHANGELOG.md
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/ledger/utils.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

fix exception message
  CHANGELOG.md
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

set up dependabot
  .github/dependabot.yml
Due: none

Edit docstrings; Remove
  .vscode/settings.json
  CHANGELOG.md
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/ledger/utils.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Add comments for calculations
  xrpl/asyncio/ledger/utils.py
Due: isort, black, flake8, mypy

split up utils.py; Fix: incorrect naming (metadata -> raw txn data); use of dataclasses and TypedDict
  docs/source/xrpl.utils.txn_parser.rst
  docs/source/xrpl.utils.txn_parser.utils.rst
  tests/unit/utils/test_tx_parser.py
  tests/unit/utils/test_txn_parser.py
  xrpl/utils/__init__.py
  xrpl/utils/tx_parser/orderbook_changes.py
  xrpl/utils/tx_parser/utils.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/balance_changes.py
  xrpl/utils/txn_parser/order_book_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_changes_utils.py
  xrpl/utils/txn_parser/utils/order_book_changes_utils.py
  xrpl/utils/txn_parser/utils/transaction_data_utils.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

split up utils.py; Fix: incorrect naming (metadata -> raw txn data); use of dataclasses and TypedDict
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Fix: typing
  xrpl/utils/txn_parser/balance_changes.py
  xrpl/utils/txn_parser/order_book_changes.py
  xrpl/utils/txn_parser/utils/balance_changes_utils.py
  xrpl/utils/txn_parser/utils/transaction_data_utils.py
Due: isort, black, flake8, mypy

chore: set up dependabot (#371)
  .github/dependabot.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

fix tests
  tests/unit/models/currencies/test_issued_currency.py
Due: isort, black, flake8

allow lower-case currency codes
  xrpl/constants.py
Due: isort, black, flake8, mypy

fix: allow lower-case currency codes (#372)
  CHANGELOG.md
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/constants.py
Due: isort, black, flake8, mypy

remove before/after from PR template
  .github/pull_request_template.md
Due: none

chore: remove before/after from PR template (#373)
  .github/pull_request_template.md
Due: none

Add tests
  CHANGELOG.md
  tests/unit/utils/test_parse_nftoken_id.py
Due: isort, black, flake8

Add parse_nftoken_id
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Change import to typing_extensions
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Remove lint exception and use XrplException
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Remove debug artifact
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Fix tests and incorrect decode logic
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Add util to parse an NFTokenID (#374)
  CHANGELOG.md
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

remove .strip(); orphan
  .vscode/settings.json
  docs/source/xrpl.utils.txn_parser.rst
  docs/source/xrpl.utils.txn_parser.utils.rst
  tests/unit/utils/test_txn_parser.py
Due: isort, black, flake8

Update CHANGELOG.md
  CHANGELOG.md
Due: none

TokenTaxon -> NFTokenTaxon
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

MintedTokens -> MintedNFTokens
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

BurnedTokens -> BurnedNFTokens
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

TokenID -> NFTokenID
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

TokenOffers -> NFTokenOffers
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_cancel_offer.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
