Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

[FIX] Test capturing exceptions correctly validate checks
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

include validity checks on LastUpdateTime
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

Support for PriceOracles (#701)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_set_oracle.py
  tests/unit/models/requests/test_get_aggregate_price.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/transactions/test_oracle_delete.py
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/get_aggregate_price.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/requests/request.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/oracle_delete.py
  xrpl/models/transactions/oracle_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

remove TypedDict from Oracle class
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

rename to OracleEntry
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

update unit tests
  tests/unit/models/requests/test_get_aggregate_price.py
Due: isort, black, flake8

revert CHANGELOG
  CHANGELOG.md
Due: none

use single Oracle class
  tests/unit/models/requests/test_get_aggregate_price.py
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

lint fix
  tests/unit/models/requests/test_get_aggregate_price.py
Due: isort, black, flake8

remove Hooks faucet
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add it to Removed section in CHANGELOG
  CHANGELOG.md
Due: none

replace hooks testnet with alt
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

remove module using Hooks faucet
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

Revert "remove module using Hooks faucet"
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

use sidechain network in test_network_id
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

add missing wss: and port
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

use hooks testnet for testing network id
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

lint fix
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

remove: Hooks faucet (#705)
  CHANGELOG.md
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

refactor: use single Oracle class for Price Oracles (#704)
  tests/unit/models/requests/test_get_aggregate_price.py
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

add nfts_by_issuer
  xrpl/models/requests/__init__.py
  xrpl/models/requests/nfts_by_issuer.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

update Changelog
  CHANGELOG.md
Due: none

remove from tests
  tests/integration/clients/test_json_rpc_client.py
  tests/unit/utils/test_get_nftoken_id.py
  tests/unit/utils/test_get_xchain_claim_id.py
  tests/unit/utils/test_parse_nftoken_id.py
  tests/unit/utils/txn_parser/test_get_balance_changes.py
  tests/unit/utils/txn_parser/test_get_final_balances.py
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
Due: isort, black, flake8

clean up TypeVars
  xrpl/models/base_model.py
  xrpl/models/nested_model.py
  xrpl/models/requests/request.py
  xrpl/models/requests/submit.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

clean up classmethods
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/blob.py
  xrpl/core/binarycodec/types/currency.py
  xrpl/core/binarycodec/types/hash.py
  xrpl/core/binarycodec/types/hash128.py
  xrpl/core/binarycodec/types/hash160.py
  xrpl/core/binarycodec/types/hash256.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/core/binarycodec/types/path_set.py
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_array.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/core/binarycodec/types/uint16.py
  xrpl/core/binarycodec/types/uint32.py
  xrpl/core/binarycodec/types/uint64.py
  xrpl/core/binarycodec/types/uint8.py
  xrpl/core/binarycodec/types/vector256.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/keypairs/crypto_implementation.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/models/currencies/xrp.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix linter
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

add type validation
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

add tests, fix tests
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_check_cash.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

split out from_xrpl tests from from_dict
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

improve test coverage of BaseModel, fix issues
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_xchain_claim.py
  xrpl/models/base_model.py
  xrpl/models/currencies/xrp.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix tests
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

fix snippet
  snippets/paths.py
Due: isort, black, flake8

added nfts_by_issuer to Request's get_method
  xrpl/models/requests/nfts_by_issuer.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

reformat changelog and add required comment for nfts_by_issuer.py
  CHANGELOG.md
  xrpl/models/requests/nfts_by_issuer.py
Due: isort, black, flake8, mypy

add input check for AssetPrice and Scale being either both present or excluded plus additional checks for PriceDataSeries
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

removed type validation
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy
