Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add AccountSetFlag enum to represent transaction flags
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx

fix: sort exports
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

harden typing for AccountSet set/clear flag
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

fix AccountSetFlagInterface and corresponding tests
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

fix: typo
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

Fix a mix up with AccountSet flags (#524)
  CHANGELOG.md
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx

Deprecate the underlying send_reliable_submission
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Suppress deprecation warnings in ci
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

include tem code in exception message
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix: improve error message for `tem` errors in relsub (#590)
  CHANGELOG.md
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update xls34 definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update DiscountedFee definition
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

implement networkID inside autofill
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/main.py
  xrpl/ledger/__init__.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy, sphinx

clean up unused import
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

update xls34 definitions (#591)
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix integration tests
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

update definitions and codec-fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix linting
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix type error
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

Remove send_reliable_submission
  README.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

Run isort
  xrpl/transaction/__init__.py
Due: isort, black, flake8, mypy, sphinx

Rename send_reliable_submission snippet
  snippets/submit_payment.py
Due: isort, black, flake8

Fix set_regular_key code snippet
  snippets/set_regular_key.py
Due: isort, black, flake8

add sidechain devnet to the faucet list
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add test
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

remove use of NFT sandbox
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

reduce diff
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

fix diff more
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

switch order of tests
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

fix bug
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

improve runtime more
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

more parallelization
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

shave off more time
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

feat: add sidechain devnet support to faucet generation (#593)
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add comments
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

add better error handling in reliable submission
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy
