Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

feat: add input check for OracleSet params AssetPrice and Scale (#711)
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

update pyproject and CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

Release 2.6.0- update pyproject and CHANGELOG (#712)
  CHANGELOG.md
  pyproject.toml
Due: none

incorporate DeliverMax in Payment transactions (#684)
  CHANGELOG.md
  tests/integration/transactions/test_payment.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

respond to comments
  snippets/paths.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix test
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

add comment
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

[FIX] Issue #709: do not enqueue all responses
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

use asyncio.gather to concurrently fund wallets for xchain tests
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/transactions/test_set_oracle.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

Add nfts_by_issuer data type (#707)
  CHANGELOG.md
  xrpl/models/requests/__init__.py
  xrpl/models/requests/nfts_by_issuer.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

Revert "use asyncio.gather to concurrently fund wallets for xchain tests"
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/transactions/test_set_oracle.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

[Fix #710] Use network_id to identify faucet_url - move the utility function _get_network_id_and_build_version into client.py file for convinience
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add include_delete field
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

update change log
  CHANGELOG.md
Due: none

integration tests to measure the memory growth of Websocket clients -- Many thanks to https://github.com/Jbekker for pointing out the issue and the testcase for the same
  tests/integration/clients/test_async_websocket_client.py
Due: isort, black, flake8

improve wording of the comments
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

Unit test that reproduces faulty behavior of the code
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

[Fix #716] Allow empty strings in DID LedgerObject fields -- used for purpose of deletion
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

Update CL
  CHANGELOG.md
Due: none

Fix integration test: Update regex to accomodate Amount2 AMM field
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

`from_xrpl` should not accept snake_case dict keys (#694)
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

Address PR comments
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

format CHANGELOG file
  CHANGELOG.md
Due: none

include docs for did_set fields
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

remove a unit-test that sought to delete all fields -- not possible to test in unit tests format the docs for DIDSet model data fields
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

rename unit tests
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

address PR comment: remove comment
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

use async_and_sync construct for running the integ tests
  tests/integration/clients/test_async_websocket_client.py
  tests/integration/clients/test_websocket_client.py
Due: isort, black, flake8

rename unit test: change name from "remove" into "empty_data_field"
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

additional check to prevent wasteful ServerInfo() requests
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

add feature RPC + test
  tests/integration/reqs/test_feature.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/feature.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

update changelog
  CHANGELOG.md
Due: none

respond to comments
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

use api_version:2 in all requests
  tests/integration/reqs/test_generic_request.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_base_model.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
  xrpl/models/response.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
