Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add hex validation for data field
  tests/unit/core/binarycodec/types/test_blob.py
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

update tests for LoanSet txn; remove start_date field
  tests/integration/transactions/test_lending_protocol.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

integ test for Lending Protocol with IOU
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

fix the errors in STIssue codec
  tests/unit/core/binarycodec/types/test_account_id.py
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

remove debug helper method
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

integ test for VaultCreate txn with MPToken
  tests/integration/transactions/test_single_asset_vault.py
Due: isort, black, flake8

feature: allow xrpl-py integ tests to run on XRPL Devnet; This commit adds utility methods that aid in this effort
  tests/integration/it_utils.py
Due: isort, black, flake8

fix: update the order of the encoding arguments in serialization of Issue
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

add SAV integ test with MPToken as Vault asset
  tests/integration/transactions/test_single_asset_vault.py
Due: isort, black, flake8

fix: big-endian format to interpret the sequence number in MPTID
  tests/integration/transactions/test_single_asset_vault.py
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

Update tests/integration/it_utils.py
  tests/integration/it_utils.py
Due: isort, black, flake8

address code rabbit suggestions
  tests/integration/it_utils.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

integ test: LendingProtocol Vault with MPToken asset
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

address Raj comments, part 1
  tests/integration/it_utils.py
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

Update tests/unit/core/binarycodec/types/test_issue.py
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

address Raj comments, part 2
  tests/integration/transactions/test_single_asset_vault.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

fix: rectify `STIssue` codec (`MPTCurrency` case only) (#870)
  tests/integration/it_utils.py
  tests/integration/transactions/test_single_asset_vault.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_account_id.py
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

Add Multi-Purpose Token (MPT) transaction types
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_destroy.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Fix TransactionFlagInterface import errors in MPToken transactions…
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

generate provenance for pypi
  .github/workflows/publish_to_pypi.yml
  pyproject.toml
Due: none

require review
  .github/workflows/publish_to_pypi.yml
Due: none

fix poetry installation
  .github/workflows/publish_to_pypi.yml
Due: none

show me error
  .github/workflows/publish_to_pypi.yml
Due: none

get version info
  .github/workflows/publish_to_pypi.yml
Due: none

run test before build
  .github/workflows/publish_to_pypi.yml
Due: none

run test before build
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
Due: none

ci: add Python 3.14
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

generate vulnerbility repo
  .github/workflows/publish_to_pypi.yml
  .github/workflows/release.yml
Due: none

fix poetry dependency/fix provenance
  .github/workflows/publish_to_pypi.yml
  pyproject.toml
Due: none
