Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update CL
  CHANGELOG.md
Due: none

fix snippets tests
  snippets/multisign.py
  snippets/send_escrow.py
Due: isort, black, flake8

refactor test_networkID: Use a specific network_id for integration test rippled validator
  .ci-config/rippled.cfg
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

remove extreneous comment
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

modify DIDSet transaction unit test to validate single-empty data field
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

Update xrpl/asyncio/wallet/wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

address PR comments
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update .ci-config/rippled.cfg
  .ci-config/rippled.cfg
Due: none

address PR comments
  .ci-config/rippled.cfg
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_base_model.py
  xrpl/models/requests/request.py
  xrpl/models/response.py
Due: isort, black, flake8, mypy

tests: check exception messages correctly (#703)
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

respond to comments
  tests/integration/reqs/test_feature.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

generalize test
  tests/integration/reqs/test_feature.py
Due: isort, black, flake8

restore the error validation for test_empty unit test
  tests/unit/models/transactions/test_did_set.py
Due: isort, black, flake8

another conflict fixed
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

Empty strings in DIDSet transaction (#717)
  CHANGELOG.md
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

refactor the generate faucet wallet logic
  CHANGELOG.md
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

remove extra checks on the existence of client.network_id
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Remove deprecated full field from ledger request model
  xrpl/models/requests/ledger.py
Due: isort, black, flake8, mypy

refactor GenericRequest.from_dict: remove the check on existence of api_version field
  tests/integration/reqs/test_generic_request.py
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

fix the linter error
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

address PR comments
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

feat: add `feature` RPC (#719)
  CHANGELOG.md
  tests/integration/reqs/test_feature.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/feature.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

Use a global dict map between network_id and URL
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

address PR comments
  CHANGELOG.md
  snippets/multisign.py
  tests/unit/models/requests/test_amm_info.py
Due: isort, black, flake8

use a leading "_" for `DEFAULT_API_VERSION`
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_base_model.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

Update tests/integration/reqs/test_generic_request.py
  tests/integration/reqs/test_generic_request.py
Due: isort, black, flake8

revert the changes pertaining to introducing network ID in the config file
  .ci-config/rippled.cfg
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix merge issue
  CHANGELOG.md
Due: none

Remove deprecated `full` parameter from ledger request model (#722)
  CHANGELOG.md
  xrpl/models/requests/ledger.py
Due: isort, black, flake8, mypy

Remove accounts and type field
  xrpl/models/requests/ledger.py
Due: isort, black, flake8, mypy

remove unused imports
  xrpl/models/requests/ledger.py
Due: isort, black, flake8, mypy
