Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

respond to comments
  CONTRIBUTING.md
Due: none

docs: update release process (#337)
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

suggestions
  .vscode/settings.json
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Update order_book_parser.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
Due: none

fix UNL
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

new definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update CONTRIBUTING
  CONTRIBUTING.md
Due: none

refactor: use `xrpl-codec-gen` for `definitions.json` (#416)
  CONTRIBUTING.md
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

account to maker_account; fix quality truncating
  .vscode/settings.json
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Fix test file name
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/offer_partially_filled_and_filled.json
Due: isort, black, flake8

add comments
  xrpl/core/addresscodec/codec.py
Due: isort, black, flake8, mypy

add test
  tests/unit/core/addresscodec/test_codec.py
Due: isort, black, flake8

add keypairs test
  tests/unit/core/keypairs/test_main.py
Due: isort, black, flake8

add doco
  CHANGELOG.md
  xrpl/core/addresscodec/codec.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

initial implementation
  xrpl/core/addresscodec/codec.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix changelog
  CHANGELOG.md
Due: none

add wrong prefix test
  tests/unit/core/addresscodec/test_codec.py
Due: isort, black, flake8

feat: add support for ED25519 seeds that don't use the `sEd` prefix (#415)
  CHANGELOG.md
  tests/unit/core/addresscodec/test_codec.py
  tests/unit/core/keypairs/test_main.py
  xrpl/core/addresscodec/codec.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix linter
  tests/unit/utils/test_xrp_conversions.py
  xrpl/constants.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/utils/time_conversions.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

Get order book changes (#407)
  CHANGELOG.md
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/offer_cancelled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_created.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_partially_filled_and_filled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_with_expiration.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/get_order_book_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

invite added
  README.md
Due: none

update link
  README.md
Due: none

README add invitation to create issues (#420)
  README.md
Due: none

add AMMInstanceCreate
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_instance_create.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update definitions to get AMMInstanceCreate working
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_instance_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix lint errors
  xrpl/models/transactions/amm_instance_create.py
Due: isort, black, flake8, mypy

add unit test for Instance Create
  tests/unit/models/transactions/test_amm_instance_create.py
Due: isort, black, flake8

fix lint errors
  tests/unit/models/transactions/test_amm_instance_create.py
Due: isort, black, flake8

fix definitions and change AmmCreate to AMMInstanceCreate
  tests/unit/models/transactions/test_amm_instance_create.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_instance_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix lint error
  xrpl/models/transactions/amm_instance_create.py
Due: isort, black, flake8, mypy

add AMMInfo
  tests/unit/models/requests/test_amm_info.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/amm_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

update AMMInfo docstring
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

add docstring to AMMInfo params
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

remove AMMAccount from AMMInstanceCreate model
  tests/unit/models/transactions/test_amm_instance_create.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/amm_instance_create.py
Due: isort, black, flake8, mypy

add AMMDeposit
  tests/unit/models/transactions/test_amm_deposit.py
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix lint errors
  tests/unit/models/transactions/test_amm_deposit.py
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

add AMMWithdraw
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add AMMVote
  tests/unit/models/transactions/test_amm_instance_create.py
  tests/unit/models/transactions/test_amm_vote.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx
