Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

API name changes with updated definitions.json
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_create.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

rename amm_info param asset1 -> asset
  tests/unit/models/requests/test_amm_info.py
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

change AMM_MAX_TRADING_FEE to 1% and rename fee_val to trading_fee
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_vote.py
  xrpl/models/transactions/amm_create.py
  xrpl/models/transactions/amm_vote.py
Due: isort, black, flake8, mypy

rename MinBidPrice -> BidMin and MaxBidPrice -> BidMax
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

update definitions to change Asset & Asset2 nth values to 3 & 4
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Refactored multisign helper
  snippets/multisigning.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Use asset/asset2 instead of amm_id for Deposit/Withdraw/Bid/Vote
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

Update docstring for multisign helpers
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Deprecate submit_transaction
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

fix packaging issues
  CONTRIBUTING.md
  MANIFEST.in
  py.typed
  pyproject.toml
  xrpl/account/py.typed
  xrpl/asyncio/account/py.typed
  xrpl/asyncio/clients/py.typed
  xrpl/asyncio/ledger/py.typed
  xrpl/asyncio/py.typed
  xrpl/asyncio/transaction/py.typed
  xrpl/asyncio/wallet/py.typed
  xrpl/clients/py.typed
  xrpl/core/addresscodec/codec.py
  xrpl/core/addresscodec/py.typed
  xrpl/core/binarycodec/py.typed
  xrpl/core/keypairs/py.typed
  xrpl/core/py.typed
  xrpl/ledger/py.typed
  xrpl/models/amounts/py.typed
  xrpl/models/currencies/py.typed
  xrpl/models/py.typed
  xrpl/models/requests/py.typed
  xrpl/models/transactions/py.typed
  xrpl/transaction/py.typed
  xrpl/utils/py.typed
  xrpl/wallet/py.typed
Due: isort, black, flake8, mypy

Format change log
  CHANGELOG.md
Due: none

feat: add amm devnet support for wallet inferencing (#466)
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Remove deprecated
  CHANGELOG.md
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Create alias for safe_sign_transaction
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Update tests to use new submit-transaction alias
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_better_transaction_flags.py
Due: isort, black, flake8

Changed CHANGELOG to added instead of changed
  CHANGELOG.md
Due: none

Alias function for safe_sign_and_autofill_transaction called sign_and_autofill
  CHANGELOG.md
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Add alias to README
  README.md
Due: none

Adjust all uses to alias
  README.md
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Adjust README
  README.md
Due: none

Adjust changelog
  CHANGELOG.md
Due: none

Create function alias
  CHANGELOG.md
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

update poetry.lock and suppress all mypy missing import errors.
  mypy.ini
  poetry.lock
Due: none

mypy config
  mypy.ini
Due: none

Fix typos in docstrings
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

Fix typos in docstrings
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

fix nestedmodel typing
  xrpl/models/nested_model.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix comment
  xrpl/models/nested_model.py
Due: isort, black, flake8, mypy

add XChainCreateClaimID tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add XChainCreateBridge test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

get XChainCreateBridge test working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/bridge.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/models/__init__.py
  xrpl/models/bridge.py
Due: isort, black, flake8, mypy, sphinx

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

get XChainCommit working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add models
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy, sphinx

add XChainClaim tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

fix typo
  xrpl/core/binarycodec/types/bridge.py
Due: isort, black, flake8, mypy

update to handle XChainAddAttestation (and fix everything else)
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/test_base_model.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
  xrpl/models/bridge.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
