Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix return types of int_conversions
  xrpl/utils/int_conversions.py
Due: isort, black, flake8, mypy

alphabetize
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

add MPTAmount support in Payment tx and binary-codec
  tests/integration/transactions/test_payment.py
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  tests/unit/core/binarycodec/types/test_hash_types.py
  tests/unit/models/transactions/test_payment.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/hash192.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

fix Self import in MPTAmount
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

Revert "fix Self import in MPTAmount"
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

Revert "add MPTAmount support in Payment tx and binary-codec"
  tests/integration/transactions/test_payment.py
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  tests/unit/core/binarycodec/types/test_hash_types.py
  tests/unit/models/transactions/test_payment.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/hash192.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

use Python ^3.11 and poetry update dependencies
  poetry.lock
  pyproject.toml
Due: none

Revert "use Python ^3.11 and poetry update dependencies"
  poetry.lock
  pyproject.toml
Due: none

use Python ^3.10 and poetry update dependencies
  poetry.lock
  pyproject.toml
Due: none

test branch builds
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

try downgrading zipp to 3.14.0
  poetry.lock
  pyproject.toml
Due: none

Revert "try downgrading zipp to 3.14.0"
  poetry.lock
  pyproject.toml
Due: none

upgrade to Python ^3.8
  poetry.lock
  pyproject.toml
Due: none

upgrade to python 3.8 in unit test
  .github/workflows/unit_test.yml
Due: none

resolve type issue
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove Python 3.7 support
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
Due: none

remove debug test
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

Revert "use Python ^3.10 and poetry update dependencies"
  poetry.lock
  pyproject.toml
Due: none

remove Python 3.7 support to fix dependency installation and use 3.8 as new default #737
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove python 3.7 from unit test; part of #737
  .github/workflows/unit_test.yml
Due: none

Revert "Revert "add MPTAmount support in Payment tx and binary-codec""
  tests/integration/transactions/test_payment.py
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  tests/unit/core/binarycodec/types/test_hash_types.py
  tests/unit/models/transactions/test_payment.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/hash192.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

Revert "Revert "fix Self import in MPTAmount""
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

resolve lint errors
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

update to BREAKING CHANGE
  CHANGELOG.md
Due: none

final changes
  docs/index.rst
  pyproject.toml
Due: none

fix: remove Python 3.7 support to fix dependency installation and use 3.8 as new default (#737)
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  docs/index.rst
  poetry.lock
  pyproject.toml
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

resolve mypy errors
  CHANGELOG.md
  xrpl/core/binarycodec/types/amount.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy, sphinx

add MPTokenAuthorize tx
  tests/integration/transactions/test_mptoken_authorize.py
  tests/unit/models/transactions/test_mptoken_authorize.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix lint error
  tests/integration/transactions/test_mptoken_authorize.py
Due: isort, black, flake8

fix lint on REQUIRED
  xrpl/models/transactions/mptoken_authorize.py
Due: isort, black, flake8, mypy

add mpt_issuance and mptoken to ledger entries
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

add ledger entry tests
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

add MPT support to Clawback tx
  tests/integration/transactions/test_clawback.py
  tests/unit/models/transactions/test_clawback.py
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

add MPTokenIssuanceSet tx and fix imports
  tests/integration/transactions/test_clawback.py
  tests/integration/transactions/test_mptoken_authorize.py
  tests/integration/transactions/test_mptoken_issuance_set.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add MPTokenIssuanceDestroy tx
  tests/integration/transactions/test_mptoken_issuance_destroy.py
  tests/unit/models/transactions/test_mptoken_issuance_destroy.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_destroy.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update version to 4.0.0b0
  pyproject.toml
Due: none

Update the Paths snippet test: Create trust lines internally to demonstrate ripple_path_find RPC
  snippets/paths.py
Due: isort, black, flake8

remove the bridge_trnasfer snippet, sidechain devnet is shut down
  snippets/bridge_transfer.py
Due: isort, black, flake8

scratch file to gather unique recent accounts
  snippets/compute_ledger_obj_size.py
Due: isort, black, flake8

fix mypy
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy
