Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

get linting test to use same caches
  .github/workflows/unit_test.yml
Due: none

fix env var
  .github/workflows/unit_test.yml
Due: none

only install python once
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

install poetry first
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

fix names
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Set up wallet tests
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Change list to List
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add run_flake8 script
  run_flake8.py
Due: isort, black, flake8

change ci
  .github/workflows/unit_test.yml
Due: none

ci: cache poetry (#456)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Wrote some wallet tests
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/utils/ensure_classic_address.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

docs: Explain how to add integration tests (#450)
  CONTRIBUTING.md
Due: none

Reword timeout to delay
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

Change fixed to changed
  CHANGELOG.md
Due: none

Add helper function
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

test: Change testnet to standalone to increase speed on integration tests (#449)
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Isolate bad test
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Enabled hooks v2 testnet with given wallet
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Refactored wallet tests
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Refactored wallet tests for sync
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Removed asyncio
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Change to sync generate
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Fix helper function call
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Removed a test
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Renamed hooks test to separate them
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

disable partial payment validation errors
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

add tip for debugging parse errors
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Made hooks v2 testnet waiting more robust
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Moved hooks timer reset
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

add backdoor to avoid nested model export
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

do not validate models by default
  xrpl/models/base_model.py
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

Add multisign snippet and multisign functionality to autofill
  snippets/multisigning.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

remove amm devnet support
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Refactor and comment multisign snippet for clarity
  snippets/multisigning.py
Due: isort, black, flake8
