Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Lint
  snippets/set_regular_key.py
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Fix accidental function replaces
  README.md
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

update version
  pyproject.toml
Due: none

Fix classic_classic
  README.md
Due: none

Re-add the `classic_address` alias
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

add snippet test
  .github/workflows/snippet_test.yml
Due: none

fix run command
  .github/workflows/snippet_test.yml
Due: none

fix multisign snippet
  snippets/multisign.py
Due: isort, black, flake8

move tests
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

change name
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

fix multisign issue for real hopefully
  snippets/multisign.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy

Update multisign.py
  snippets/multisign.py
Due: isort, black, flake8

Update multisign.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy

fix other snippets
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

update changelog
  .vscode/settings.json
  CHANGELOG.md
Due: none

fix escrow snippet
  snippets/send_escrow.py
Due: isort, black, flake8

fix escrow (hopefully)
  snippets/send_escrow.py
Due: isort, black, flake8

clean up imports, fix escrow snippet (hopefully)
  .vscode/settings.json
  README.md
  snippets/get_transaction.py
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/reusable_values.py
Due: isort, black, flake8

Update send_escrow.py
  snippets/send_escrow.py
Due: isort, black, flake8

try again
  snippets/send_escrow.py
Due: isort, black, flake8

fix(test): move integration test out from unit tests (#603)
  tests/integration/sugar/test_network_id.py
Due: isort, black, flake8

adjust FinishAfter time
  snippets/send_escrow.py
Due: isort, black, flake8

fix snippet
  snippets/send_escrow.py
Due: isort, black, flake8

test: run snippets in CI (#602)
  .github/workflows/snippet_test.yml
  .vscode/settings.json
  CHANGELOG.md
  README.md
  snippets/get_transaction.py
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/reusable_values.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy

Add fields
  CHANGELOG.md
  xrpl/models/requests/account_channels.py
  xrpl/models/requests/account_currencies.py
  xrpl/models/requests/account_info.py
  xrpl/models/requests/account_lines.py
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/account_offers.py
  xrpl/models/requests/account_tx.py
  xrpl/models/requests/book_offers.py
  xrpl/models/requests/deposit_authorized.py
  xrpl/models/requests/gateway_balances.py
  xrpl/models/requests/ledger.py
  xrpl/models/requests/ledger_data.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_history.py
  xrpl/models/requests/nft_info.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/requests/no_ripple_check.py
  xrpl/models/requests/request.py
  xrpl/models/requests/ripple_path_find.py
  xrpl/models/requests/transaction_entry.py
Due: isort, black, flake8, mypy

fix dataclass
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

add nft_page to ledger_entry
  CHANGELOG.md
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

feat: Add missing `nft_page`, `ledger_index` and `ledger_hash` fields to requests (#604)
  CHANGELOG.md
  xrpl/models/requests/account_channels.py
  xrpl/models/requests/account_currencies.py
  xrpl/models/requests/account_info.py
  xrpl/models/requests/account_lines.py
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/account_offers.py
  xrpl/models/requests/account_tx.py
  xrpl/models/requests/book_offers.py
  xrpl/models/requests/deposit_authorized.py
  xrpl/models/requests/gateway_balances.py
  xrpl/models/requests/ledger.py
  xrpl/models/requests/ledger_data.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_history.py
  xrpl/models/requests/nft_info.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/requests/no_ripple_check.py
  xrpl/models/requests/request.py
  xrpl/models/requests/ripple_path_find.py
  xrpl/models/requests/transaction_entry.py
Due: isort, black, flake8, mypy

Fix typo in README
  README.md
Due: none

fix XRP.to_amount
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

fix test
  tests/unit/models/currencies/test_xrp.py
Due: isort, black, flake8

fix circular dependency
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

add comment
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

improve comment
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

[BREAKING] fix: XRP().to_amount now expects XRP instead of drops (#554)
  CHANGELOG.md
  tests/unit/models/currencies/test_xrp.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
