Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

include conditional escrow test case in snippets
  snippets/send_escrow.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

feat: add AMM support (#422)
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_delete.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/models/__init__.py
  xrpl/models/auth_account.py
  xrpl/models/base_model.py
  xrpl/models/flags.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/amm_info.py
  xrpl/models/requests/request.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_create.py
  xrpl/models/transactions/amm_delete.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update CL
  CHANGELOG.md
Due: none

include the new poetry.lock, to be consistent with the pyproject.toml file
  poetry.lock
Due: none

import TypedDict from typing_extensions, instead of importing from typing module
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

try smart union
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

try xrp currency first
  xrpl/models/currencies/currency.py
Due: isort, black, flake8, mypy

chore: Update vscode extensions & python-version (#685)
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
Due: none

include SetOracle and DeleteOracle transactions
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delete_oracle.py
  xrpl/models/transactions/set_oracle.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update the definitions.json with Oracle LedgerEntry types, new SFields, tecError codes
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

[WIP] rename transactions to OracleSet, OracleDelete to maintain compatibility with definitions.json, update integration tests
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_set_oracle.py
  tests/unit/models/transactions/test_delete_oracle.py
  tests/unit/models/transactions/test_set_oracle.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delete_oracle.py
  xrpl/models/transactions/set_oracle.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update the CI/CD file to latest rippled docker image. remove extraneous debug print statements
  .ci-config/rippled.cfg
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy

integration tests: verify the deliver_max/amount alias fields in Payment transactions
  tests/integration/transactions/test_payment.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

address Omar's comments. update process_xrpl_json into a private method
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

snippets test for set, delete oracle
  snippets/oracle.py
  xrpl/models/transactions/delete_oracle.py
  xrpl/models/transactions/set_oracle.py
Due: isort, black, flake8, mypy

[WIP] updates to the SetOracle integration test
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

GetAggregatePrice request implementation, unit and snippet tests.
  snippets/oracle.py
  snippets/oracle_aggregate.py
  tests/unit/models/requests/test_get_aggregate_price.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/get_aggregate_price.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

LedgerEntry unit tests -- validate the behavior of PriceOracle objects
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

integration tests for OracleSet, OracleDelete transactions
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

Fix: use int data type, not str for oracle_document_id
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

update rippled version docker image
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix: Use TypedDict instead of NestedModel to represent OracleInfo
  snippets/oracle_aggregate.py
  xrpl/models/requests/get_aggregate_price.py
Due: isort, black, flake8, mypy

address Mayukha's comments: rename files and variables to match defs.json - oracle_set and oracle_delete
  .ci-config/rippled.cfg
  snippets/oracle.py
  snippets/oracle_aggregate.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_set_oracle.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/oracle_delete.py
  xrpl/models/transactions/oracle_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

include LedgerEntry verification in oracles snippets test
  snippets/oracle.py
Due: isort, black, flake8

address review comments by mayukha and omar
  snippets/oracle_aggregate.py
  tests/unit/models/requests/test_get_aggregate_price.py
  tests/unit/models/transactions/test_set_oracle.py
  xrpl/models/requests/get_aggregate_price.py
  xrpl/models/transactions/oracle_delete.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

remove snippets tests for PriceOracle feature
  snippets/oracle.py
  snippets/oracle_aggregate.py
Due: isort, black, flake8

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add unique values to each client run
  tests/integration/it_utils.py
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

remove the usage of random.randint in OracleSet integraton tests
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

Custom timeout for requests (#687)
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

Update tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_delete_oracle.py
Due: isort, black, flake8

address review comments
  tests/integration/transactions/test_delete_oracle.py
  tests/unit/models/transactions/test_set_oracle.py
  xrpl/models/requests/get_aggregate_price.py
  xrpl/models/transactions/oracle_delete.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

use "is not None" to check for non-existence of an optional field
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

split unit tests into two -- Request and Transaction model validation
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

fixed the error message in OracleSet validation
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy

Update tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

rename test files to match transaction names
  tests/unit/models/transactions/test_oracle_delete.py
  tests/unit/models/transactions/test_oracle_set.py
Due: isort, black, flake8

validate the exception message in negative test cases
  tests/unit/models/transactions/test_oracle_set.py
  xrpl/models/transactions/oracle_set.py
Due: isort, black, flake8, mypy
