Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

remove repeating constants
  docs/source/xrpl.rst
Due: none

Remove comma
  README.md
Due: none

fix rebase
  README.md
Due: none

fix rebase p2
  README.md
Due: none

implement UNLModify
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
Due: isort, black, flake8, mypy

add tests, fix bugs
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/base_model.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

simplify code
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix docs
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
Due: isort, black, flake8, mypy

added parameters for get_transaction_from_hash
  tests/integration/sugar/test_transaction.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

updated formatting with black
  tests/integration/sugar/test_transaction.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

add list option for flags
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add test
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

edit docstrings
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

clean up code
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Add to changelog
  CHANGELOG.md
Due: none

Adds option for a Transaction's flags to be a List of ints (#235)
  CHANGELOG.md
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

Fixes minor docs errors (#226)
  README.md
  docs/source/xrpl.models.amounts.rst
  docs/source/xrpl.models.currencies.rst
  docs/source/xrpl.rst
Due: none

Exports `xrpl.utils` at the top level (#227)
  xrpl/__init__.py
Due: isort, black, flake8, mypy, sphinx

Exports `get_account_root` in `xrpl.account` (#228)
  xrpl/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

respond to comments
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Adds `get_hash` method to `Transaction` objects (#229)
  CHANGELOG.md
  tests/integration/reusable_values.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

merge master
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  docs/source/xrpl.models.amounts.rst
  docs/source/xrpl.models.currencies.rst
  docs/source/xrpl.rst
  tests/integration/transactions/test_payment_channel_claim.py
  tests/unit/models/transactions/test_transaction.py
  tests/unit/utils/test_time_conversions.py
  xrpl/__init__.py
  xrpl/account/__init__.py
  xrpl/core/binarycodec/types/uint16.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

resolve merge issues
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix flags type
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
Due: isort, black, flake8, mypy

Adds pseudo-transaction models (#233)
  CHANGELOG.md
  docs/source/xrpl.models.rst
  docs/source/xrpl.models.transactions.pseudo_transactions.rst
  tests/unit/models/transactions/test_pseudo_transactions.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/base_model.py
  xrpl/models/response.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/check_cancel.py
  xrpl/models/transactions/check_cash.py
  xrpl/models/transactions/check_create.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/escrow_cancel.py
  xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/offer_cancel.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_create.py
  xrpl/models/transactions/payment_channel_fund.py
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/pseudo_transaction.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/set_regular_key.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/types/__init__.py
  xrpl/models/transactions/types/pseudo_transaction_type.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

removed optional term
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

Updated CHANGELOG
  CHANGELOG.md
Due: none

rename account id -> classic address in keypairs
  xrpl/core/keypairs/helpers.py
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

let issuers accept x-addresses in binarycodec
  tests/unit/core/binarycodec/fixtures/data/x-codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/account_id.py
Due: isort, black, flake8, mypy

add X-address support to account sugar
  tests/integration/sugar/test_account.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
Due: isort, black, flake8, mypy

add x-address method to wallet
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

add paymentchannelclaim flags
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

add async relsub method
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy
