Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

tag-extraction fix + Live multi-account batch integration
  tests/integration/transactions/test_confidential_mpt_batch.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8

fix failied test
  tests/integration/transactions/test_confidential_mpt_batch.py
Due: isort, black, flake8

Restrict negative XRP serialization to an allowlist of signed Amount fields (FeeAmountDelta) via field_name, restoring the encode-time rejection for every other field.
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy

Use Set[str]
  xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

fix ABI mismatch risk
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: none

Reject duplicate sponsor accounts in combine_sponsor_signers so a double-passed contribution fails client-side instead of being rejected by the server.
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

move file to correct location
  .github/workflows/build-mpt-crypto-natives.yml
Due: none

resolve bot comment
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: none

update README
  README.md
  xrpl/ext/confidential/README.md
Due: none

resolve more bot comments
  mypy.ini
  xrpl/ext/confidential/setup_mpt_crypto.sh
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_merge_inbox.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

release 5.1.0
  CHANGELOG.md
  packaging/confidential/pyproject.toml
  pyproject.toml
Due: none

initial work + tests
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/transactions/test_lending_protocol_v1_1.py
  tests/unit/models/transactions/test_loan_broker_cover_withdraw.py
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy, sphinx

update xrpld config
  .ci-config/xrpld.cfg
Due: none

fix integration tests
  tests/integration/it_utils.py
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

fix: reject incomplete hex bytes in MPT metadata
  CHANGELOG.md
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/vault_create.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

chore(coderabbit): reduce review noise and load .ai-review/instructions.md
  .coderabbit.yaml
Due: none

chore(coderabbit): reduce review noise and load .ai-review/instructions.md (#1024)
  .coderabbit.yaml
Due: none

fix integration test ledger tiem
  tests/integration/transactions/test_lending_protocol_v1_1.py
Due: isort, black, flake8

add date validations
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

add more validations
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

fix MIN_INVESTMENT_PERIOD
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

fix type-check
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

minor fixes
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
Due: isort, black, flake8, mypy

chore(deps): batch Q3 2026 Dependabot upgrades
  poetry.lock
  pyproject.toml
Due: none

assorted fixes
  tests/integration/transactions/test_lending_protocol_v1_1.py
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_loan_set.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_set.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_set.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy

add fix3.4.0 signer prefixes
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/unit/core/binarycodec/test_main.py
  tests/unit/transaction/test_counterparty_signer.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/core/binarycodec/__init__.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/main.py
  xrpl/transaction/counterparty_signer.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

fine-tune CHANGELOG
  CHANGELOG.md
Due: none

fix linter
  xrpl/core/binarycodec/main.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

fix integration test
  .ci-config/xrpld.cfg
  tests/integration/it_utils.py
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

fix isort linter
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

docs: add batch-deps-upgrade skill outputs for Q3 2026 batch
  .claude/skills/batch-deps-upgrade/code-changes.md
  .claude/skills/batch-deps-upgrade/pr-description.md
Due: none

docs(batch-deps-upgrade): add Semgrep ticket integration and close mode
  .claude/skills/batch-deps-upgrade/README.md
  .claude/skills/batch-deps-upgrade/SKILL.md
Due: none

chore(batch-deps-upgrade): stop tracking generated scratch outputs
  .claude/skills/batch-deps-upgrade/code-changes.md
  .claude/skills/batch-deps-upgrade/pr-description.md
  .gitignore
Due: none

beta bump
  pyproject.toml
Due: none

remove it requirements for beta release
  .github/workflows/release.yml
Due: none

ci: remove integration test requirement for beta releases (#1039)
  .github/workflows/release.yml
Due: none

add bounds for it
  tests/integration/it_utils.py
Due: isort, black, flake8

Support `fixCleanup3_4_0` signing prefixes (`Sponsor`) (#1036)
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_lending_protocol.py
  tests/unit/core/binarycodec/test_main.py
  tests/unit/transaction/test_counterparty_signer.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/core/binarycodec/__init__.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/main.py
  xrpl/transaction/counterparty_signer.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
