Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

BrokerFee -> NFTokenBrokerFee
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

Minter -> NFTokenMinter
  tests/unit/models/transactions/test_account_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

NonFungibleToken -> NFToken
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

NonFungibleTokens -> NFTokens
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

BuyOffer -> NFTokenBuyOffer
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

SellOffer -> NFTokenSellOffer
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

OfferNode -> NFTokenOfferNode
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

asfAuthorizedMinter -> asfAuthorizedNFTokenMinter
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

update tec/tem error codes
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add new tem/ter definitions
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

tokenid -> nft_id
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
Due: isort, black, flake8, mypy

WIP
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

rename prefix nf_token -> nftoken
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/models/base_model.py
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_cancel_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

small var rename
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

import types from utils.types
  .vscode/settings.json
  xrpl/utils/txn_parser/utils/balance_changes_utils.py
  xrpl/utils/txn_parser/utils/order_book_changes_utils.py
Due: isort, black, flake8, mypy

Format strings
  tests/unit/utils/test_txn_parser.py
Due: isort, black, flake8

rename XLS-20 fields (#375)
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  tests/unit/models/transactions/test_nftoken_mint.py
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/base_model.py
  xrpl/models/flags.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_cancel_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

rename nft sell offer flag
  tests/unit/models/transactions/test_nftoken_create_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

respond to comments
  tests/unit/models/transactions/test_nftoken_create_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

rename nft sell offer flag (#377)
  tests/unit/models/transactions/test_nftoken_create_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

Update changelog and history
  CHANGELOG.md
  pyproject.toml
Due: none

Update changelog and history (#378)
  CHANGELOG.md
  pyproject.toml
Due: none

check if submitted transaction engine_result is tesSUCCESS before waiting for final tx outcome
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

resolve lint errors
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

check for all tem codes
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update docstring
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix nits; rename counterparty to issuer
  tests/unit/utils/test_txn_parser.py
  xrpl/utils/txn_parser/balance_changes.py
  xrpl/utils/txn_parser/order_book_changes.py
  xrpl/utils/txn_parser/utils/balance_changes_utils.py
  xrpl/utils/txn_parser/utils/order_book_changes_utils.py
  xrpl/utils/txn_parser/utils/transaction_data_utils.py
Due: isort, black, flake8, mypy

Better fee calculation (#370)
  .vscode/settings.json
  CHANGELOG.md
  tests/unit/asyn/ledger/__init__.py
  tests/unit/asyn/ledger/test_calculate_fee_dynamically.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/ledger/utils.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Verify submitted transaction is not malformed before waiting for its final outcome. (#379)
  CHANGELOG.md
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Type individual args
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix GenericRequest mypy typing error (#380)
  CHANGELOG.md
  xrpl/models/requests/generic_request.py
Due: isort, black, flake8, mypy

Initial commit
  CHANGELOG.md
  docs/source/xrpl.utils.txn_parser.rst
  docs/source/xrpl.utils.txn_parser.utils.rst
  poetry.lock
  pyproject.toml
  tests/unit/utils/txn_parser/__init__.py
  tests/unit/utils/txn_parser/test_parse_balance_changes.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/balance_parser.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/transaction.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

fix lint
  tests/unit/utils/txn_parser/test_parse_balance_changes.py
Due: isort, black, flake8

export XRPLTxnFieldsException; add TestInvalidTxn; fix nits
  tests/unit/utils/txn_parser/test_invalid_txn.py
  tests/unit/utils/txn_parser/test_parse_balance_changes.py
  tests/unit/utils/txn_parser/transaction.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/transaction.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
