Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

use 3.3.0-rc7
  .github/xrpld-image.env
Due: none

use 3.3.0-rc7
  .github/xrpld-image.env
  CHANGELOG.md
Due: none

add length check
  tests/unit/models/transactions/test_confidential_mpt_clawback.py
  tests/unit/models/transactions/test_confidential_mpt_convert.py
  tests/unit/models/transactions/test_confidential_mpt_convert_back.py
  tests/unit/models/transactions/test_confidential_mpt_merge_inbox.py
  tests/unit/models/transactions/test_confidential_mpt_send.py
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_constants.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_merge_inbox.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

add docker image back
  .github/xrpld-image.env
Due: none

address comments
  tests/integration/transactions/test_confidential_mpt.py
  tests/unit/transaction/test_confidential_fee.py
  tools/build-mpt-crypto-natives.yml
  xrpl/asyncio/transaction/main.py
  xrpl/core/__init__.py
  xrpl/core/confidential_support.py
  xrpl/ext/confidential/CHANGELOG.md
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/__init__.py
  xrpl/ext/confidential/commitments.py
  xrpl/ext/confidential/encryption.py
  xrpl/ext/confidential/keypair.py
  xrpl/ext/confidential/main.py
  xrpl/ext/confidential/plaintext_proofs.py
  xrpl/ext/confidential/transaction_builders.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy, sphinx

remove require_confidential()
  xrpl/core/__init__.py
  xrpl/core/confidential_support.py
  xrpl/ext/confidential/README.md
Due: isort, black, flake8, mypy, sphinx

fix integration tests
  .github/workflows/integration_test.yml
  tests/integration/transactions/test_confidential_mpt.py
Due: isort, black, flake8

verify SHA carryover
  tools/build-mpt-crypto-natives.yml
Due: none

Try using rippleci/xrpld:3.3.0 for integration tests
  .github/workflows/integration_test.yml
  .github/xrpld-image.env
Due: none

use develop docker image for CI
  .github/workflows/integration_test.yml
Due: none

adopt cross platform matrix
  .github/workflows/integration_test.yml
  tests/integration/transactions/test_confidential_mpt.py
Due: isort, black, flake8

use develop image
  .github/xrpld-image.env
Due: none

stop using private image
  .github/xrpld-image.env
Due: none

remove platform based IT
  .github/workflows/integration_test.yml
  tests/integration/transactions/test_confidential_mpt.py
Due: isort, black, flake8

assorted fixes
  .github/workflows/integration_test.yml
  MANIFEST.in
  packaging/confidential/MANIFEST.in
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/__init__.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy, sphinx

Validate domain_id format on MPTokenIssuanceCreate and MPTokenIssuanceSet
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

update error key
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

Support for Dynamic MPT (XLS-94d) (#877)
  .ci-config/xrpld.cfg
  .github/pull_request_template.md
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/utils/time_conversions.py
Due: isort, black, flake8, mypy, sphinx

rewire to static
  packaging/confidential/pyproject.toml
  packaging/confidential/scripts/build-mpt-crypto-lib.sh
  packaging/confidential/scripts/fetch-prebuilt-natives.sh
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/build_mpt_crypto.py
  xrpl/ext/confidential/commitments.py
  xrpl/ext/confidential/crypto_bindings.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

Expand team reviewers to member logins for Slack notifications
  .github/workflows/release.yml
Due: none

Relax main-only trigger and use #test-alert for testing
  .github/workflows/release.yml
Due: none

Test: expand team reviewers, relax main-only guard, use #test-alert channel
  .github/workflows/release.yml
Due: none

Bump version to 5.0.0b1 to test beta release path
  pyproject.toml
Due: none

Temporarily skip integration tests for testing this branch
  .github/workflows/release.yml
Due: none

Bump version to 5.0.1 to test stable release path
  pyproject.toml
Due: none

Temporarily allow team-reviewer-expansion branch for stable-release testing
  .github/workflows/release.yml
Due: none

Revert temporary test-only changes before merging to main
  .github/workflows/release.yml
  pyproject.toml
Due: none

Distinguish team-lookup failure from empty team, preserve reviewer order
  .github/workflows/release.yml
Due: none

confidential mpt batch support + test
  tests/integration/transactions/test_confidential_mpt_batch.py
  tests/unit/ext/confidential/test_chaining.py
  tests/unit/ext/confidential/test_homomorphic.py
  xrpl/ext/confidential/__init__.py
  xrpl/ext/confidential/build_mpt_crypto.py
  xrpl/ext/confidential/homomorphic.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy, sphinx

Revert "rewire to static"
  packaging/confidential/pyproject.toml
  packaging/confidential/scripts/build-mpt-crypto-lib.sh
  packaging/confidential/scripts/fetch-prebuilt-natives.sh
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/build_mpt_crypto.py
  xrpl/ext/confidential/commitments.py
  xrpl/ext/confidential/crypto_bindings.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

refine batch cmpt chaining
  tests/integration/transactions/test_confidential_mpt_batch.py
  tests/unit/ext/confidential/test_chaining.py
  xrpl/ext/confidential/__init__.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy, sphinx

chore(coderabbit): reduce review noise and load .ai-review/instructions.md
  .coderabbit.yaml
Due: none

rewire to static
  packaging/confidential/pyproject.toml
  packaging/confidential/scripts/build-mpt-crypto-lib.sh
  packaging/confidential/scripts/fetch-prebuilt-natives.sh
  packaging/confidential/version.env
  xrpl/ext/confidential/MPT_CRYPTO_VERSION
  xrpl/ext/confidential/README.md
  xrpl/ext/confidential/build_mpt_crypto.py
  xrpl/ext/confidential/commitments.py
  xrpl/ext/confidential/crypto_bindings.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

address multiple PR comments
  CHANGELOG.md
  tests/integration/transactions/test_batch.py
  tests/unit/models/transactions/test_sponsor_models.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

fix bot comments
  .ci-config/xrpld.cfg
  tools/build-mpt-crypto-natives.yml
  xrpl/ext/confidential/context.py
  xrpl/ext/confidential/main.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

assorted fixes
  .github/workflows/integration_test.yml
  packaging/confidential/pyproject.toml
  tests/unit/models/transactions/test_confidential_mpt_clawback.py
  tests/unit/models/transactions/test_confidential_mpt_convert.py
  tests/unit/models/transactions/test_confidential_mpt_convert_back.py
  tests/unit/models/transactions/test_confidential_mpt_merge_inbox.py
  tests/unit/models/transactions/test_confidential_mpt_send.py
  tests/unit/transaction/test_confidential_fee.py
  tools/build-mpt-crypto-natives.yml
  xrpl/ext/confidential/main.py
  xrpl/ext/confidential/setup_mpt_crypto.sh
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_constants.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_merge_inbox.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

fix build wheels Ci
  packaging/confidential/pyproject.toml
Due: none

add batch chaining heuristic
  tests/integration/transactions/test_confidential_mpt_batch.py
  tests/unit/ext/confidential/test_chaining.py
  tests/unit/ext/confidential/test_utility_layer.py
  xrpl/ext/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

enable integ test
  .github/workflows/integration_test.yml
Due: none

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
