Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Use temp utility branch for development
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: none

add new utility layer
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

update wrapper functions and build
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/commitments.py
  xrpl/core/confidential/context.py
  xrpl/core/confidential/encryption.py
  xrpl/core/confidential/keypair.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/plaintext_proofs.py
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

[minor] refactor tests to use a common _MPTID variable
  tests/unit/models/transactions/test_clawback.py
  tests/unit/models/transactions/test_escrow_create.py
  tests/unit/models/transactions/test_loan_broker_cover_clawback.py
  tests/unit/models/transactions/test_offer_create.py
Due: isort, black, flake8

integrate new utility layers to artifact builder
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/commitments.py
  xrpl/core/confidential/encryption.py
  xrpl/core/confidential/keypair.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/main.py
  xrpl/core/confidential/plaintext_proofs.py
Due: isort, black, flake8, mypy

Use newer version of cyclonedx-bom in both vulns scan and release workflow
  .github/workflows/release.yml
  .github/workflows/vulnerability_scan.yml
Due: none

add tests for confidential
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/context.py
  xrpl/core/confidential/libs_backup/darwin/libmpt-crypto.a
  xrpl/core/confidential/libs_backup/darwin/libsecp256k1.a
  xrpl/core/confidential/libs_backup/linux/libmpt-crypto.a
  xrpl/core/confidential/libs_backup/linux/libsecp256k1.a
  xrpl/core/confidential/main.py
  xrpl/core/confidential/plaintext_proofs.py
  xrpl/core/confidential/setup_mpt_crypto.sh
  xrpl/core/confidential/tests/test_encryption.py
  xrpl/core/confidential/tests/test_proofs.py
  xrpl/core/confidential/tests/test_utility_layer.py
  xrpl/core/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

Drop support for Python 3.8 and upgrade urllib3 to fix security vulns
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: none

drop support for Python 3.8
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
Due: none

Update changelog text
  CHANGELOG.md
Due: none

update to new rippled changes
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/examples/submit_confidential_tx.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/main.py
  xrpl/core/confidential/tests/test_utility_layer.py
  xrpl/core/confidential/transaction_builders.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
Due: isort, black, flake8, mypy

trigger build
  .github/workflows/build_mpt_crypto_libs.yml
Due: none

[trivial] address PR comments
  CHANGELOG.md
  xrpl/core/binarycodec/types/path_set.py
Due: isort, black, flake8, mypy

[trivial] remove duplicate definition of HOLDER_ACCOUNT variable
  tests/unit/models/transactions/test_amm_clawback.py
Due: isort, black, flake8

Drop support for Python 3.8 (#917)
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
Due: none

example works
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/transaction_builders.py
Due: isort, black, flake8, mypy

feat: Additional validation for AMMClawback transaction with mpt asset
  tests/unit/models/transactions/test_amm_clawback.py
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

feat: Additional validation for Path model in cases involving mpt_issuance_id
  tests/unit/models/test_path.py
  xrpl/models/path.py
Due: isort, black, flake8, mypy

add openssl to mac and linux build, add wheels to release
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/build_wheels_confidential.yml
  .github/workflows/release.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/tests/test_utility_layer.py
Due: isort, black, flake8, mypy

add zlib
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/build_mpt_crypto.py
Due: isort, black, flake8, mypy

Add push trigger to wheel build workflow
  .github/workflows/build_wheels_confidential.yml
Due: none

update validations
  .github/workflows/build_wheels_confidential.yml
  tools/confidential_spec.md
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

Add unit tests for confidential
  .github/workflows/unit_test.yml
  pyproject.toml
  tests/unit/core/confidential/__init__.py
  tests/unit/core/confidential/test_utility_layer.py
  tests/unit/models/transactions/test_confidential_mpt_clawback.py
  tests/unit/models/transactions/test_confidential_mpt_convert.py
  tests/unit/models/transactions/test_confidential_mpt_convert_back.py
  tests/unit/models/transactions/test_confidential_mpt_send.py
  xrpl/models/transactions/confidential_mpt_clawback.py
Due: isort, black, flake8, mypy

fix linter
  tests/unit/core/confidential/test_utility_layer.py
Due: isort, black, flake8

combine unit test jobs
  .github/workflows/build_wheels_confidential.yml
  .github/workflows/unit_test.yml
  pyproject.toml
Due: none

fix binding path causing failing unit tests
  xrpl/core/confidential/crypto_bindings.py
Due: isort, black, flake8, mypy

remove redundant files
  pyproject.toml
  xrpl/core/confidential/README.md
  xrpl/core/confidential/setup.py
  xrpl/core/confidential/utils.py
Due: isort, black, flake8, mypy

remove confidential from coverage calculation for now
  pyproject.toml
Due: none

use compressed ciphertext
  tests/unit/models/transactions/test_confidential_mpt_convert.py
  tests/unit/models/transactions/test_confidential_mpt_convert_back.py
  tests/unit/models/transactions/test_confidential_mpt_send.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy

build mpt-crypto within release
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/build_wheels_confidential.yml
  .github/workflows/release.yml
Due: none

Do a test run on my fork
  .github/workflows/release.yml
Due: none

bump version for testing
  pyproject.toml
Due: none

skip validation for test release
  .github/workflows/release.yml
Due: none

skip issue creation for test
  .github/workflows/release.yml
Due: none

Add compiled binaries into publish
  .github/workflows/build_wheels_confidential.yml
  pyproject.toml
Due: none

use macos
  .github/workflows/build_wheels_confidential.yml
  pyproject.toml
Due: none

test cibuild for all os
  .github/workflows/build_wheels_confidential.yml
  pyproject.toml
Due: none

use wheel retagging
  .github/workflows/build_wheels_confidential.yml
  pyproject.toml
Due: none

remove old wheels tag
  .github/workflows/build_wheels_confidential.yml
Due: none

Add macOS Intel support (macos-13 runner)
  .github/workflows/build_wheels_confidential.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
