Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Use macos-15-intel for Intel Mac builds (macos-13 deprecated)
  .github/workflows/build_wheels_confidential.yml
Due: none

bump beta version to next test release
  pyproject.toml
Due: none

macos intel correct artifact
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/build_wheels_confidential.yml
Due: none

bump beta version for test release
  pyproject.toml
Due: none

revert release test process
  .github/release.yml
Due: none

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add changelog
  CHANGELOG.md
Due: none

integ tests that exercise delivered_amount field with MPT Amount values
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

fix: incorrect SField definitions for Lending Protocols and DynamicMPTs (#918)
  CHANGELOG.md
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

initial draft of the feature implementation from AI agent
  CHANGELOG.md
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

draft: address initial code review suggestions from Claude. Integ tests are failing
  .ci-config/rippled.cfg
  tests/integration/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Update the sponsorship_transfer integ tests
  tests/integration/transactions/test_sponsorship_transfer.py
  xrpl/models/transactions/sponsorship_transfer.py
Due: isort, black, flake8, mypy

fix all the linter errors update two incorrect unit tests
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

test: add integ test for the case of multisigning SponsorshipTransfer transactions
  tests/integration/transactions/test_sponsorship_transfer.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

feat: add validation for rejecting Batch, PseudoTransactions with sponsor-related fields
  tests/unit/models/transactions/test_sponsor_common_fields.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

integ test: validate AccountDelete transaction with sponsor
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

test: enhanced coverage for sponsorship_set transaction
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/transactions/test_sponsorship_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

test: enahced coverage for ledger_entry RPC
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

test: integ tests for AccountSet transaction
  tests/integration/transactions/test_account_set.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

Update tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
Due: isort, black, flake8

remove test releases
  .github/workflows/release.yml
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: none

update CL for brevity
  CHANGELOG.md
Due: none

feat: Add utility methods to help populate SponsorSignature field. Integ tests are also included to validate the sign_as_sponsor utility methods
  tests/integration/transactions/test_sponsor_signer.py
  xrpl/transaction/__init__.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

[trivial] add type annotation for dict return type to satisfy mpyp
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

feat: Integration tests for AMMBid, AMMVote and AMMDelete transactions which contain MPTCurrency amounts
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
Due: isort, black, flake8

update to commit 57a97c7e7821a5776cebc9bb87c984fa69cba8f1
  .github/workflows/release.yml
Due: none

update trivy-action version (#922)
  .github/workflows/release.yml
Due: none

fix _calculate_precision
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Update README title to 'xrpl-py test'
  README.md
Due: none

use MAX_PREC to avoid truncating
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

fix _calculate_precision (#924)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix lint errors
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

fix lint errors
  .vscode/settings.json
  xrpl/core/binarycodec/types/st_object.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/get_nftoken_id.py
  xrpl/utils/get_xchain_claim_id.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
Due: isort, black, flake8, mypy

Prefix unused variable with underscore.
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy

Update xrpl/wallet/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

minor: linter fixes
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

reduce scope of changes
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
