Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix XChainAddAttestation
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix spacing
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

edit changelog
  CHANGELOG.md
Due: none

more updates
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_account_create_commit.py
Due: isort, black, flake8, mypy, sphinx

rename field
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

Update definitions.json
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add XChainModifyBridge binary codec test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

update definitions.json to avoid conflict with amm
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

make signature reward optional for modify bridge
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

make claim attestation destination optional
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

update to new rippled changes
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy

add destination tag to XChainClaim
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy

make test easier to read
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

update rpcs
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

respond to comments
  .vscode/settings.json
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/models/transactions/transaction.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix mypy
  mypy.ini
Due: none

use NestedModel
  .vscode/settings.json
  mypy.ini
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

Removed testnet for some subscription tests
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

Change decorator explanation to bullets
  CONTRIBUTING.md
Due: none

Update explanation of async vs sync func
  CONTRIBUTING.md
Due: none

Fix bullet formatting
  CONTRIBUTING.md
Due: none

Explain import modules
  CONTRIBUTING.md
Due: none

feat: Change ledger close time from 4 to 1 (#454)
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Refactor test timer logic
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Fix imports
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Add wallet inference for amm, nft, hooks
  CHANGELOG.md
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Update tests/integration/it_utils.py
  tests/integration/it_utils.py
Due: isort, black, flake8

Add hooks v2 testnet support
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Add hooks v2 testnet support
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Fix wallet inference of hooks v2 testnet
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Change triple quote to single line
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Fix linting line too long
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

cache poetry
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

fix cache keys
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

try to use the same cache for integration and unit tests
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
