Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

refactor: make transaction flag mapping more maintainable (#677)
  CHANGELOG.md
  snippets/send_escrow.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

increase the snippets test sleep() time to ensure that EscrowFinish time has passed
  snippets/send_escrow.py
Due: isort, black, flake8

incorporate DeliverMax in Payment transactions
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

update CHANGELOG. fix the incorrect comments on Payment.from_dict()
  CHANGELOG.md
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

Add clawback transaction type
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add ledger_objects flags to flag list
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

use from_xrpl in unit tests
  tests/unit/models/test_ledger_object.py
Due: isort, black, flake8

remove optional fields in unit tests
  tests/unit/models/test_ledger_object.py
Due: isort, black, flake8

make index_next and index_previous strings
  xrpl/models/ledger_objects/directory_node.py
Due: isort, black, flake8, mypy

add CTID field in the tx command request (#672)
  CHANGELOG.md
  snippets/send_escrow.py
  tests/unit/models/requests/test_tx.py
  xrpl/models/requests/tx.py
Due: isort, black, flake8, mypy

add HasPreviousTxnID class to be inherited by ledger object models
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/ledger_object.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ripple_state.py
  xrpl/models/ledger_objects/signer_list.py
  xrpl/models/ledger_objects/ticket.py
  xrpl/models/ledger_objects/xchain_owned_claim_id.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy

Update tests/unit/models/requests/test_channel_authorize.py
  tests/unit/models/requests/test_channel_authorize.py
Due: isort, black, flake8

Include comments to explain the context of KW_ONLY change
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

include the KW_ONLY change in the CHANGELOG file
  CHANGELOG.md
Due: none

chore: Update vscode extensions & python-version
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
Due: none

add TODO to .coveragerc
  .coveragerc
Due: none

update TODO in .coveragerc
  .coveragerc
Due: none

update the ISO currency code regular expression (#674)
  CHANGELOG.md
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/constants.py
Due: isort, black, flake8, mypy

Update tools/generate_tx_models.py
  tools/generate_tx_models.py
Due: isort, black, flake8

remove trailing whitespace in xrpl/models/utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

updated the unit tests to use Payment transaction and Sign request
  tests/unit/models/test_utils.py
Due: isort, black, flake8

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor the required_kw_args_on_init decorator to accomodate different python versions
  tests/unit/models/test_utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

address PR comments
  tests/unit/models/test_utils.py
  xrpl/models/base_model.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

validate the contents of seed before creating a Wallet object
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

update CHANGELOG with the description
  CHANGELOG.md
Due: none

run tests on python 3.12
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
Due: none

Update xrpl/models/utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

address mayukha's PR comments
  tests/unit/models/test_utils.py
  xrpl/models/base_model.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

simplify and remove the double negation in the kw_only_attr utility function definition
  tests/unit/models/test_utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

use a context manager in KW_ONLY unit tests. Makes the code much more readable
  tests/unit/models/test_utils.py
Due: isort, black, flake8

ensure that timeout is a keyword-only arg. this avoids mistaken usage of this parameter
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

revert the changes to CHANGELOG. _request_impl is an internal implementation detail of the request method
  CHANGELOG.md
Due: none

update test JSONs to match XRPL formatting
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/amm.py
Due: isort, black, flake8, mypy

fix branches
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  docs/index.rst
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

move unit tests into their own files
  tests/unit/models/ledger_objects/__init__.py
  tests/unit/models/ledger_objects/test_account_root.py
  tests/unit/models/ledger_objects/test_amendments.py
  tests/unit/models/ledger_objects/test_amm.py
  tests/unit/models/ledger_objects/test_bridge.py
  tests/unit/models/ledger_objects/test_check.py
  tests/unit/models/ledger_objects/test_deposit_preauth.py
  tests/unit/models/ledger_objects/test_did.py
  tests/unit/models/ledger_objects/test_directory_node.py
  tests/unit/models/ledger_objects/test_escrow.py
  tests/unit/models/ledger_objects/test_fee_settings.py
  tests/unit/models/ledger_objects/test_ledger_hashes.py
  tests/unit/models/ledger_objects/test_negative_unl.py
  tests/unit/models/ledger_objects/test_nftoken_offer.py
  tests/unit/models/ledger_objects/test_nftoken_page.py
  tests/unit/models/ledger_objects/test_offer.py
  tests/unit/models/ledger_objects/test_pay_channel.py
  tests/unit/models/ledger_objects/test_ripple_state.py
  tests/unit/models/ledger_objects/test_signer_list.py
  tests/unit/models/ledger_objects/test_ticket.py
  tests/unit/models/ledger_objects/test_xchain_owned_claim_id.py
  tests/unit/models/ledger_objects/test_xchain_owned_create_account_claim_id.py
  tests/unit/models/test_ledger_object.py
Due: isort, black, flake8

fix docstring
  xrpl/models/ledger_objects/ledger_object.py
Due: isort, black, flake8, mypy

test: run tests on python 3.12 (#688)
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  docs/index.rst
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix the failing unit tests
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
