Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

set up testing framework superclass
  tests/integration/it_utils.py
  tests/integration/test_websocket.py
Due: isort, black, flake8

set up transaction tests
  tests/integration/transactions/test_account_delete.py
  tests/unit/models/requests/test_requests.py
  xrpl/clients/websocket_client.py
  xrpl/models/requests/request.py
  xrpl/models/requests/submit.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

shorten websocket waiting time
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

add unit test
  tests/unit/models/requests/test_requests.py
Due: isort, black, flake8

framework WIP
  tests/integration/it_utils.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

use futures instead of sleeping for the request API, and a few other simplifications and performance gains
  .darglint
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

adjust unit tests to cover this case
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

clean up from_dict
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

refactor _from_dict_single_param
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix python3.7
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

add comments to tests
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

respond to comment
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Refactors `from_dict` (#240)
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

move all http to async
  .darglint
  CHANGELOG.md
  docs/source/modules.rst
  docs/source/xrpl.async_support.account.rst
  docs/source/xrpl.async_support.ledger.rst
  docs/source/xrpl.async_support.rst
  docs/source/xrpl.async_support.transaction.rst
  docs/source/xrpl.async_support.wallet.rst
  docs/source/xrpl.core.binarycodec.binary_wrappers.rst
  docs/source/xrpl.core.binarycodec.definitions.rst
  docs/source/xrpl.core.binarycodec.types.rst
  docs/source/xrpl.models.transactions.types.rst
  poetry.lock
  pyproject.toml
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/async_support/__init__.py
  xrpl/async_support/account/__init__.py
  xrpl/async_support/account/main.py
  xrpl/async_support/account/transaction_history.py
  xrpl/async_support/ledger/__init__.py
  xrpl/async_support/ledger/main.py
  xrpl/async_support/transaction/__init__.py
  xrpl/async_support/transaction/ledger.py
  xrpl/async_support/transaction/main.py
  xrpl/async_support/transaction/reliable_submission.py
  xrpl/async_support/wallet/__init__.py
  xrpl/async_support/wallet/wallet_generation.py
  xrpl/clients/client.py
  xrpl/clients/json_rpc_client.py
  xrpl/ledger/main.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
  xrpl/wallet/__init__.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy, sphinx

further nest async and sync json clients
  docs/source/xrpl.async_support.clients.rst
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/async_support/account/main.py
  xrpl/async_support/account/transaction_history.py
  xrpl/async_support/clients/__init__.py
  xrpl/async_support/clients/async_client.py
  xrpl/async_support/clients/async_json_rpc_client.py
  xrpl/async_support/clients/client.py
  xrpl/async_support/clients/exceptions.py
  xrpl/async_support/clients/json_rpc_base.py
  xrpl/async_support/clients/utils.py
  xrpl/async_support/ledger/main.py
  xrpl/async_support/transaction/ledger.py
  xrpl/async_support/transaction/main.py
  xrpl/async_support/transaction/reliable_submission.py
  xrpl/async_support/wallet/wallet_generation.py
  xrpl/clients/client.py
  xrpl/clients/json_rpc_client.py
  xrpl/clients/sync_client.py
  xrpl/ledger/main.py
  xrpl/transaction/ledger.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy, sphinx

comments
  .pre-commit-config.yaml
  tests/integration/it_utils.py
Due: isort, black, flake8

regen docs files
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
Due: none

add tests, export
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/utils.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

first attempt at websocket client
  poetry.lock
  pyproject.toml
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

add tests + minor reorg
  tests/integration/it_utils.py
  tests/integration/test_websocket.py
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

edit changelog
  CHANGELOG.md
Due: none

clean up tests
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/utils.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

handle closure better
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

fix unneeded repeated sending
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

fixes docs
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

export websocket util methods
  xrpl/clients/__init__.py
Due: isort, black, flake8, mypy, sphinx

cleanup
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

handle long connections
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

websocket rework WIP [closing broken]
  poetry.lock
  pyproject.toml
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/websocket_client.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

fix closing error
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

make is_open a method
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

remove unused helper method
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

use futures instead of sleeping for the request API, and a few other simplifications and performance gains
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

add docstrings, cleanup
  tests/integration/test_websocket.py
  tests/integration/transactions/test_account_delete.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy

big moves
  poetry.lock
  pyproject.toml
  tests/integration/test_websocket.py
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/utils.py
  xrpl/asyncio/clients/websocket_client.py
Due: isort, black, flake8, mypy, sphinx

add examples
  async_websockets_example.py
  sync_websockets_example.py
Due: isort, black, flake8

did the sync thing
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/__init__.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy, sphinx

remove non-threadsafe callbacks
  sync_websockets_example.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

dont raise if client already open/closed
  async_websockets_example.py
  sync_websockets_example.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy
