Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

install coverage
  poetry.lock
  pyproject.toml
Due: none

set up CI
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
Due: none

update fail-under
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  pyproject.toml
Due: none

clean up scripts
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Remove flaky test
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

Rename test
  tests/unit/utils/txn_parser/test_get_final_balances.py
Due: isort, black, flake8

chore: add code coverage testing (#401)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
Due: none

fix namings; add derive_account_balances
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/get_final_balances.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

rename SerializedList -> STArray (to match rippled)
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/st_array.py
Due: isort, black, flake8, mypy, sphinx

fix tests
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_serialized_dict.py
  tests/unit/core/binarycodec/types/test_serialized_list.py
Due: isort, black, flake8

simplify FieldInstance logic
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/types/__init__.py
Due: isort, black, flake8, mypy, sphinx

rename SerializedDict -> STObject (to match rippled)
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/serialized_list.py
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy, sphinx

fix SerializedType circular typing
  xrpl/core/binarycodec/types/serialized_type.py
Due: isort, black, flake8, mypy

refactor: redo binary codec types to simplify (#396)
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_serialized_dict.py
  tests/unit/core/binarycodec/types/test_serialized_list.py
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_array.py
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy, sphinx

renamed ComputedBalances to AccountBalances
  CHANGELOG.md
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/get_final_balances.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

Add final balances parser (#398)
  CHANGELOG.md
  tests/unit/utils/txn_parser/test_get_final_balances.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/get_balance_changes.py
  xrpl/utils/txn_parser/get_final_balances.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

expand the maximum signer list to 32 entries
  tests/unit/models/transactions/test_signer_list_set.py
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

add optional wallet_locator to SignerEntry
  tests/unit/models/transactions/test_signer_list_set.py
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

fix string extension
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

add period
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

fix typing
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

add get_order_book_changes
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/offer_cancelled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_created.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_partially-filled_and_filled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_with_expiration.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/__init__.py
  xrpl/utils/txn_parser/__init__.py
  xrpl/utils/txn_parser/get_order_book_changes.py
  xrpl/utils/txn_parser/utils/__init__.py
  xrpl/utils/txn_parser/utils/balance_parser.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy, sphinx

Update types.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Update test_get_order_book_changes.py
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
Due: isort, black, flake8

remove .python-version
  .python-version
Due: none

ignore private method docstrings
  .github/workflows/unit_test.yml
  .pre-commit-config.yaml
Due: none

update dependencies
  poetry.lock
Due: none

add .python-version to gitignore
  .gitignore
Due: none

fix Any typing issues
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: none

update typing-extensions
  pyproject.toml
Due: none

run black
  tests/unit/utils/test_xrp_conversions.py
  xrpl/constants.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/utils/time_conversions.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

upgrade black
  poetry.lock
  pyproject.toml
Due: none

deps: update typing-extensions (#403)
  .github/workflows/unit_test.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  tests/unit/utils/test_xrp_conversions.py
  xrpl/constants.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/utils/time_conversions.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

Remove flaky test (#402)
  tests/unit/clients/test_json_rpc_client.py
Due: isort, black, flake8

fix classmethod types
  xrpl/models/base_model.py
  xrpl/models/requests/request.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
  xrpl/models/requests/submit.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

ignore mypy bug spots
  xrpl/models/requests/request.py
  xrpl/models/requests/submit.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

remove more unneeded casts
  xrpl/asyncio/transaction/main.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy

fix mypy comments
  xrpl/models/requests/request.py
  xrpl/models/requests/submit.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy
