Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

add validations for XChainModifyBridge
  .vscode/settings.json
  tests/unit/models/transactions/test_xchain_create_bridge.py
  tests/unit/models/transactions/test_xchain_modify_bridge.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

fix import
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix account objects filters
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

rename IssuedCurrency -> Issue to match rippled
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/core/binarycodec/types/xchain_bridge.py
Due: isort, black, flake8, mypy, sphinx

add xchain bridge to account objects
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

add destination tag to XChainClaim
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy

update Issue form
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

fix mypy
  mypy.ini
Due: none

add validations for XChainAddAttestation
  tests/unit/models/transactions/test_xchain_add_attestation.py
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix more Literal["XRP"] issues
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/models/transactions/test_xchain_modify_bridge.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

add validations for XChainAccountCreateCommit
  tests/unit/models/transactions/test_xchain_account_create_commit.py
  xrpl/models/transactions/xchain_account_create_commit.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

simplify initializing attestation lists
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix attestation list creation
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

update definitions.json with refactored error codes
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update: encode claim + test
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

fix version
  pyproject.toml
Due: none

change phrasing in changelog
  CHANGELOG.md
Due: none

add inifinte loop check - try
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update description and default val
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Create enable-require-destination-tags.py
  snippets/enable-require-destination-tags.py
Due: isort, black, flake8

Update xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix line length
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Lint
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

remove nft-devnet from tests
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
Due: isort, black, flake8

add TODO and replace tests
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Fix format for faucet url
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Remove nft-devnet from tests (#505)
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Add nft_offer type in AccountObjects (#495)
  CHANGELOG.md
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

Add code snippets link to README and fix a typo
  README.md
Due: none

add readme
  snippets/README.md
Due: none

unset-email-hash
  tests/unit/core/binarycodec/types/test_hash_types.py
  xrpl/core/binarycodec/types/hash128.py
Due: isort, black, flake8, mypy

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix tests
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

small doc fixes
  xrpl/core/binarycodec/types/hash128.py
Due: isort, black, flake8, mypy

rename XChainAddAttestation -> XChainAddAttestationBatch
  tests/unit/models/transactions/test_xchain_add_attestation_batch.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation_batch.py
Due: isort, black, flake8, mypy, sphinx

add XChainAddClaimAttestation tx
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
Due: isort, black, flake8, mypy

add XChainAddAccountCreateAttestation tx
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_account_create_attestation.py
Due: isort, black, flake8, mypy

export new txs
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
