Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

rename get_issued_currency -> to_currency
  tests/unit/models/amounts/test_issued_currency_amount.py
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

edit changelog comments
  CHANGELOG.md
Due: none

add methods to IssuedCurrencyAmount
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

add explanatory comment
  xrpl/models/currencies/issued_currency.py
Due: isort, black, flake8, mypy

add docstrings
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

use constructor instead of from_dict
  xrpl/models/currencies/issued_currency.py
Due: isort, black, flake8, mypy

feat: methods to convert between IssuedCurrency and IssuedCurrencyAmount (#319)
  CHANGELOG.md
  tests/unit/models/amounts/__init__.py
  tests/unit/models/amounts/test_issued_currency_amount.py
  tests/unit/models/currencies/test_issued_currency.py
  tests/unit/models/currencies/test_xrp.py
  xrpl/models/amounts/issued_currency_amount.py
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

export Response
  xrpl/models/__init__.py
Due: isort, black, flake8, mypy, sphinx

export transaction
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

export pseudo-transactions
  xrpl/models/__init__.py
Due: isort, black, flake8, mypy, sphinx

fix: export `Transaction`, `Response`, pseudotransactions at the `models` level (#327)
  CHANGELOG.md
  xrpl/models/__init__.py
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

add hex_to_str and str_to_hex helpers
  CHANGELOG.md
  tests/unit/utils/test_str_conversions.py
  xrpl/utils/__init__.py
  xrpl/utils/str_conversions.py
Due: isort, black, flake8, mypy, sphinx

add hex_to_str and str_to_hex helpers (#333)
  CHANGELOG.md
  tests/unit/utils/test_str_conversions.py
  xrpl/utils/__init__.py
  xrpl/utils/str_conversions.py
Due: isort, black, flake8, mypy, sphinx

add int/float support to IssuedCurrencyAmount
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

add int/float support to to_amount
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

edit changelog more
  CHANGELOG.md
Due: none

feat: add int/float support to `IssuedCurrency`, `XRP, `IssuedCurrencyAmount` (#329)
  CHANGELOG.md
  xrpl/models/amounts/issued_currency_amount.py
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

update deps
  poetry.lock
  pyproject.toml
Due: none

make mypy happy
  xrpl/models/base_model.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

chore: update dev dependencies so tests pass (#334)
  poetry.lock
  pyproject.toml
  xrpl/models/base_model.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

fix tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

make account delete fee calculation dynamic
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: use the ledger to determine the AccountDelete fee instead of hardcoding (#324)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

better errors
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix: better error messages for reliable submissions (#325)
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix nft request docs
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

fixes tests
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/types/serialized_dict.py
Due: isort, black, flake8, mypy

fix casing of 'URI' in transaction JSON format
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add unit tests
  CHANGELOG.md
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

NFT -> Nft
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
Due: isort, black, flake8, mypy, sphinx

add nft mint tx model
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

add minter to account set
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

rename TokenIDs to TokenOffers
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_cancel_offer.py
Due: isort, black, flake8, mypy

adds transaction validations and string conversion utils and updates docs
  CHANGELOG.md
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_cancel_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy, sphinx

add nft burn tx model
  xrpl/models/transactions/nftoken_burn.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
