Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Simplified from_secret_numbers class method
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

add unused AccountSet fields
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

Update CHANGELOG for private request func
  CHANGELOG.md
Due: none

Refactor multisign functions to new file
  snippets/multisigning.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/multisign.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy, sphinx

Update multisign integration test
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

refactor: Make request_impl into a private function (#478)
  CHANGELOG.md
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

isolate entropy for testing
  tests/unit/asyn/wallet/test_main.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Add line explaining what safe meant
  CHANGELOG.md
Due: none

refactor: Alias function for safe_sign_transaction called sign (#470)
  CHANGELOG.md
  README.md
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Fix order of imports
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Changed generate back to create and cleaned up docs
  CHANGELOG.md
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/asyn/wallet/test_main.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Fix typo
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Fix from_entropy
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Fix leading zero for key formatting
  tests/unit/asyn/wallet/test_main.py
  xrpl/core/keypairs/ed25519.py
Due: isort, black, flake8, mypy

Renamed sign_and_autofill to autofill_and_sign
  CHANGELOG.md
  README.md
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Removed need for it_utils submit tests
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add better debugging
  .github/workflows/unit_test.yml
Due: none

fix yaml
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

switch to ubuntu 20.04
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

switch back to latest
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Revert "switch back to latest"
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

clean up
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

add 3.11 support
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

fix: fix Github Actions issues (#485)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Remove print statement
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

Merge main (#486)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

refactor: Alias function for safe_sign_and_submit_transaction called sign_and_submit (#472)
  CHANGELOG.md
  README.md
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Update testcases for secret numbers
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

improve Fields typing
  xrpl/models/transactions/metadata.py
Due: isort, black, flake8, mypy

simplify types
  .vscode/settings.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

refactor: simplify `TypedDict` types (#475)
  .vscode/settings.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/txn_parser/utils/nodes.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Changed from_entropy to take in hex string
  tests/unit/asyn/wallet/test_main.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Removed comments in test func
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

refactor: Alias function for submit_transaction called submit (#468)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Fix autofill_and_sign import
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
