Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix BidMin & BidMax types (#649)
  CHANGELOG.md
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

improve ledger entry objects
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

feat: add support for XLS-38d (#417)
  .vscode/settings.json
  CHANGELOG.md
  snippets/bridge_transfer.py
  snippets/paths.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/requests/test_sign.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_xchain_account_create_commit.py
  tests/unit/models/transactions/test_xchain_claim.py
  tests/unit/models/transactions/test_xchain_create_bridge.py
  tests/unit/models/transactions/test_xchain_create_claim_id.py
  tests/unit/models/transactions/test_xchain_modify_bridge.py
  tests/unit/utils/test_get_xchain_claim_id.py
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID2.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/definitions/field_header.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/models/__init__.py
  xrpl/models/base_model.py
  xrpl/models/currencies/xrp.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/metadata.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_account_create_commit.py
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
  xrpl/models/transactions/xchain_modify_bridge.py
  xrpl/models/xchain_bridge.py
  xrpl/utils/__init__.py
  xrpl/utils/get_xchain_claim_id.py
Due: isort, black, flake8, mypy, sphinx

update CHANGELOG and pyproject
  CHANGELOG.md
  pyproject.toml
Due: none

release: v2.4 (#650)
  CHANGELOG.md
  pyproject.toml
Due: none

fix changelog
  CHANGELOG.md
Due: none

return None instead of error
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

fix type
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

fix test
  tests/unit/utils/test_get_nftoken_id.py
Due: isort, black, flake8

Remove TODO
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

refactor setup_amm_pool
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
Due: isort, black, flake8

refactor resuable values
  tests/integration/reusable_values.py
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_create.py
  tests/integration/transactions/test_amm_deposit.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

add AMMDeposit to setup_amm_pool
  tests/integration/reusable_values.py
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_create.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

fix network ID tests, remove hooks testnet exception
  tests/integration/sugar/test_network_id.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

docs: Remove TODO around build_version since we want the defensive coding (#651)
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: fix network ID tests + refactor network ID logic (#655)
  tests/integration/sugar/test_network_id.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: export `get_nftoken_id` and `parse_nftoken_id`, better error handling (#646)
  CHANGELOG.md
  tests/unit/utils/test_get_nftoken_id.py
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/utils/__init__.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy, sphinx

improve websocket docs and bump websockets lib version (#545)
  README.md
  poetry.lock
  pyproject.toml
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

add util function to compare amm values
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_deposit.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

update to rippleci docker container
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix ports
  .github/workflows/integration_test.yml
Due: none

add server_definitions request model
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/server_definitions.py
Due: isort, black, flake8, mypy, sphinx

add basic test
  tests/integration/reqs/test_server_definitions.py
Due: isort, black, flake8

chore: switch to rippleci Docker container (#658)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

generate DID models
  xrpl/models/base_model.py
  xrpl/models/transactions/did_delete.py
  xrpl/models/transactions/did_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

[WIP] cleanup
  tools/generate_tx_models.py
Due: isort, black, flake8

edit __init__ as well
  tools/generate_tx_models.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add integration tests
  tests/integration/transactions/test_did_delete.py
  tests/integration/transactions/test_did_set.py
Due: isort, black, flake8

update changelog
  CHANGELOG.md
Due: none

add TODO
  tools/generate_tx_models.py
Due: isort, black, flake8

add script to auto-generate models
  tools/generate_tx_models.py
Due: isort, black, flake8

update cspell
  .vscode/settings.json
Due: none

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix model, add more validation
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

add tests
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

add XChainAddAccountCreateAttestation integration test
  tests/integration/reusable_values.py
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
Due: isort, black, flake8

add XChainAddClaimAttestation integration test
  tests/integration/transactions/test_xchain_add_claim_attestation.py
Due: isort, black, flake8

add XChainCreateBridge integration test
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_xchain_create_bridge.py
Due: isort, black, flake8

add XChainCreateClaimID integration test
  tests/integration/reusable_values.py
  tests/integration/transactions/test_xchain_create_claim_id.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
