Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix comment
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix other syntax issues
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update lockfile
  poetry.lock
Due: none

update flake8
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: none

upgrade flake8, fix linter errors
  poetry.lock
  pyproject.toml
  tests/unit/core/binarycodec/types/test_serialized_type.py
  xrpl/core/addresscodec/codec.py
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/models/base_model.py
  xrpl/models/nested_model.py
  xrpl/models/requests/generic_request.py
  xrpl/models/response.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

add pydoclint
  .flake8
  poetry.lock
  pyproject.toml
Due: none

remove darglint
  .darglint
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix typo
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

update poethepoet to latest
  poetry.lock
  pyproject.toml
Due: none

fix typos
  .flake8
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

[Fix] paths snippet: Re-Use TST tokens from xrpl.org docs tutorials
  snippets/paths.py
Due: isort, black, flake8

Use PathFind RPC instead of RipplePathFind
  snippets/paths.py
Due: isort, black, flake8

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix issues
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

feat: coderabbit.ai config
  .coderabbit.yaml
Due: none

bump version
  pyproject.toml
Due: none

remove the bridge_trnasfer snippet, sidechain devnet is shut down
  snippets/bridge_transfer.py
Due: isort, black, flake8

remove the bridge_trnasfer snippet, sidechain devnet is shut down (#747)
  snippets/bridge_transfer.py
  snippets/paths.py
Due: isort, black, flake8

chore: bump Github Actions versions
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
Due: none

fix merge
  poetry.lock
  pyproject.toml
Due: none

Integration test: Validate the serialization of maximum UINT64 value in OracleSet.AssetPrice field
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update scripts after rippled refactor
  tools/generate_tx_models.py
Due: isort, black, flake8

add LedgerStateFix
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/ledger_state_fix.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add basic batch models
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/batch.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add autofill
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add autofill tests
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/batch.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix multisign issue, add test
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

rename some tests
  .vscode/settings.json
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

fix multisign so tests pass
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

improve typing
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

improve tests, fix more issues
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

more cleanup
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

more typing improvements
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

update changelog
  .vscode/settings.json
  CHANGELOG.md
Due: none

add binary codec batch encoding
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

add multi-account batch signing helper function
  .vscode/settings.json
  CHANGELOG.md
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/__init__.py
  xrpl/wallet/batch_signers.py
Due: isort, black, flake8, mypy, sphinx

add batch signer combine function
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/__init__.py
  xrpl/core/binarycodec/main.py
  xrpl/wallet/batch_signers.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
