Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

switch sphinyx attribute doc style from inline to doc string
  xrpl/asyncio/transaction/main.py
  xrpl/models/requests/path_find.py
  xrpl/models/response.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/check_cash.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/offer_cancel.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_create.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/pseudo_transaction.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/set_regular_key.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/time_conversions.py
  xrpl/utils/xrp_conversions.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

respond to comments
  docs/source/xrpl.asyncio.rst
Due: none

add \.rst files that keep being autogenerated and mark them explicitly blank
  docs/source/modules.rst
  docs/source/xrpl.core.binarycodec.binary_wrappers.rst
  docs/source/xrpl.core.binarycodec.definitions.rst
  docs/source/xrpl.core.binarycodec.types.rst
  docs/source/xrpl.models.transactions.types.rst
Due: none

add test
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

fix bug
  tests/integration/reqs/test_submit_only.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Fix path serialization bug (#253)
  tests/integration/reqs/test_submit_only.py
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix bug
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

better fix
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

remove subTest and add Unsubscribe
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

respond to comments
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/wallet/__init__.py
  xrpl/ledger/__init__.py
  xrpl/transaction/__init__.py
  xrpl/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

Improve docs for new features (#250)
  .vscode/settings.json
  README.md
  docs/index.rst
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
  docs/source/xrpl.clients.rst
  docs/source/xrpl.core.rst
  docs/source/xrpl.models.requests.rst
  docs/source/xrpl.models.transactions.rst
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/wallet/__init__.py
  xrpl/clients/__init__.py
  xrpl/clients/websocket_client.py
  xrpl/ledger/__init__.py
  xrpl/transaction/__init__.py
  xrpl/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

Document the release/editing process (#251)
  CONTRIBUTING.md
Due: none

improve module docstrings
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/wallet/__init__.py
  xrpl/ledger/__init__.py
  xrpl/transaction/__init__.py
  xrpl/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

respond to comments
  README.md
Due: none

fix order
  README.md
Due: none

docs for async code in sphinx
  docs/index.rst
  docs/source/xrpl.account.rst
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
  docs/source/xrpl.clients.rst
  docs/source/xrpl.ledger.rst
  docs/source/xrpl.transaction.rst
  docs/source/xrpl.utils.rst
  docs/source/xrpl.wallet.rst
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/transaction/main.py
  xrpl/clients/websocket_client.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add \.rst files that keep being autogenerated and mark them explicitly blank
  README.md
  docs/source/modules.rst
  docs/source/xrpl.core.binarycodec.binary_wrappers.rst
  docs/source/xrpl.core.binarycodec.definitions.rst
  docs/source/xrpl.core.binarycodec.types.rst
  docs/source/xrpl.models.transactions.types.rst
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

fix bad merge resolutions
  xrpl/account/__init__.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/ledger/__init__.py
  xrpl/transaction/__init__.py
  xrpl/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

better fix
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix payment paths type
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

move pathstep, create path
  xrpl/models/__init__.py
  xrpl/models/path.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/path_find.py
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy, sphinx

fix docstrings
  xrpl/models/path.py
Due: isort, black, flake8, mypy

Fix SignerList serialization bug (#254)
  tests/unit/models/test_base_model.py
  xrpl/models/__init__.py
  xrpl/models/base_model.py
  xrpl/models/path.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/path_find.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

add exports
  xrpl/models/__init__.py
Due: isort, black, flake8, mypy, sphinx

print more poetry info
  .github/workflows/integration_test.yml
Due: none

more output
  .github/workflows/integration_test.yml
Due: none

even more output
  tests/integration/integration_test_case.py
Due: isort, black, flake8

acccessible modules
  tests/integration/integration_test_case.py
Due: isort, black, flake8

make it a runtime dependency
  pyproject.toml
Due: none

edit lock
  poetry.lock
Due: none

fix: UInt64.from_value() accepts lower case hex
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

[FOLD] Make the linter happy
  tests/unit/core/binarycodec/test_main.py
Due: isort, black, flake8

[FOLD] fixes for unittests
  tests/unit/core/binarycodec/test_main.py
Due: isort, black, flake8

move aiounittest back to dev
  poetry.lock
  pyproject.toml
Due: none

remove cluttering print statements
  tests/integration/integration_test_case.py
Due: isort, black, flake8
