Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update changelog
  CHANGELOG.md
Due: none

add tests
  tests/unit/wallet/__init__.py
  tests/unit/wallet/test_wallet.py
Due: isort, black, flake8

fix poetry caching
  .github/workflows/unit_test.yml
Due: none

add poetry version flag
  .github/workflows/unit_test.yml
Due: none

don't install poetry if cache hit
  .github/workflows/unit_test.yml
Due: none

edit cache key
  .github/workflows/unit_test.yml
Due: none

apply to other tests
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

add env var to integration tests
  .github/workflows/integration_test.yml
Due: none

feat: save algorithm as a part of the wallet (#540)
  .vscode/settings.json
  CHANGELOG.md
  tests/unit/wallet/__init__.py
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

ci: fix poetry caching (#546)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

add docs
  xrpl/models/transactions/xchain_account_create_commit.py
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
  xrpl/models/transactions/xchain_modify_bridge.py
  xrpl/models/xchain_bridge.py
Due: isort, black, flake8, mypy

Remove capped attempts from reliable_submission
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Move the last_ledger_sequence check up
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Add integration tests for reliable submission
  tests/integration/reqs/test_reliable_submission.py
Due: isort, black, flake8

Remove duplicate reliable submission tests
  tests/integration/reqs/test_reliable_submission.py
Due: isort, black, flake8

Fix broken integration test
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Changing naming and error message
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add bridge to account_objects filters
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove capped attempts from reliable_submission (#547)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Update CHANGELOG and pyproject
  CHANGELOG.md
  pyproject.toml
Due: none

Update CHANGELOG and pyproject (#548)
  CHANGELOG.md
  pyproject.toml
Due: none

fix changelog
  CHANGELOG.md
Due: none

remove tests for deprecated methods
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

refactor does_account_exist to not use deprecated method
  CHANGELOG.md
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

refactor: remove calls to deprecated methods (#550)
  CHANGELOG.md
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

adjust coverage limit
  .github/workflows/integration_test.yml
Due: none

remove deprecated functions from coverage
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

bump version again (pypi issues)
  pyproject.toml
Due: none

remove: remove old sidechain design features (#410)
  CHANGELOG.md
  tests/unit/utils/test_sidechain.py
  xrpl/models/requests/federator_info.py
  xrpl/models/requests/request.py
  xrpl/utils/__init__.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy, sphinx

chore: remove deprecated functions from coverage (#552)
  CHANGELOG.md
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

move is_signed to tx
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add changelog
  CHANGELOG.md
Due: none

remove new error
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy, sphinx

update changelog in unreleased
  CHANGELOG.md
Due: none

improve docs
  poetry.lock
  pyproject.toml
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy, sphinx

update docs a bit
  xrpl/asyncio/clients/async_websocket_client.py
Due: isort, black, flake8, mypy

fix deps
  poetry.lock
  pyproject.toml
Due: none
