Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

more cleanup
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

more cleanup
  xrpl/models/requests/submit.py
Due: isort, black, flake8, mypy

fix: increase websocket payload default max size
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

add sugar
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

deprecate AccountObjectType enum
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy, sphinx

fix: mark variable as private
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

chore: update changelog
  CHANGELOG.md
Due: none

revert the updates to AccountObjects and ledger_entry RPC method; Update the defnitions file
  .ci-config/rippled.cfg
  tests/integration/transactions/test_permissioned_domain.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

update the change-log
  CHANGELOG.md
Due: none

revert the github CI/CD instructions
  .github/workflows/integration_test.yml
Due: none

revert integration test suite updates to AccountObjects RPC
  tests/integration/transactions/test_credential.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_did_delete.py
  tests/integration/transactions/test_did_set.py
  tests/integration/transactions/test_set_oracle.py
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_create_bridge.py
  tests/integration/transactions/test_xchain_create_claim_id.py
  tests/integration/transactions/test_xchain_modify_bridge.py
Due: isort, black, flake8

suggestions from the linter
  tests/integration/transactions/test_permissioned_domain.py
  xrpl/models/transactions/credential_accept.py
Due: isort, black, flake8, mypy

update the Github CI/CD to use develop branch of rippled
  .github/workflows/integration_test.yml
Due: none

models for SAV transactions and requests
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_deposit.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

initial framework of integration tests; definitions file
  .ci-config/rippled.cfg
  tests/integration/transactions/test_sav.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

add integration test
  tests/integration/reqs/test_simulate.py
  xrpl/models/nested_model.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
  xrpl/models/requests/simulate.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix tests
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

Update tests/integration/reqs/test_simulate.py
  tests/integration/reqs/test_simulate.py
Due: isort, black, flake8

fix linting
  tests/integration/reqs/test_simulate.py
Due: isort, black, flake8

fix dynamic nft
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/nftoken_modify.py
Due: isort, black, flake8, mypy

add more test
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/models/transactions/nftoken_modify.py
Due: isort, black, flake8, mypy

resolve comments
  CHANGELOG.md
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/models/transactions/nftoken_modify.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/models/requests/simulate.py
Due: isort, black, flake8, mypy

add unit tests
  .vscode/settings.json
  tests/unit/models/requests/test_simulate.py
Due: isort, black, flake8

fix tests
  tests/unit/models/requests/test_simulate.py
  xrpl/models/requests/simulate.py
Due: isort, black, flake8, mypy

clean up
  xrpl/models/requests/simulate.py
Due: isort, black, flake8, mypy

add integration tests for xrpl.transaction.simulate
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

address PR comments
  xrpl/models/transactions/permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_set.py
Due: isort, black, flake8, mypy

Update tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

no duplicates test: PDSet transaction
  tests/unit/models/transactions/test_permissioned_domain_set.py
  xrpl/models/transactions/permissioned_domain_set.py
Due: isort, black, flake8, mypy

provide MPT support for SAV transaction fields
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/number.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_deposit.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

Test extreme values in the serialzation of STAmount
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

Problems in STAmount: Unable to (de)serialize extreme values
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

[WIP] use struct library to pack Number data
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy, sphinx

switch to develop docker
  .github/workflows/integration_test.yml
Due: none

fix test
  tests/integration/reqs/test_simulate.py
Due: isort, black, flake8

refactor: replace `darglint` with `pydoclint` (#749)
  .darglint
  .flake8
  .github/workflows/unit_test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy

Support AMMClawback amendment
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_clawback.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
