Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update contributing
  CONTRIBUTING.md
Due: none

Fix: default flags field for transaction frozen class should be None
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Fix: Updated Flags type
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

bump version for beta
  pyproject.toml
Due: none

add MPTCurrency type
  xrpl/constants.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/models/amounts/amount.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/currencies/__init__.py
  xrpl/models/currencies/currency.py
  xrpl/models/currencies/mpt_currency.py
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy, sphinx

clean up
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix tests
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

fix comment
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

fix mypy
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

add model tests
  tests/unit/models/currencies/test_mpt_currency.py
Due: isort, black, flake8

add faucet info
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

easier running wallet tests
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Update rippled.cfg
  .ci-config/rippled.cfg
Due: none

if it ain't broke don't fix it
  tests/integration/it_utils.py
Due: isort, black, flake8

add more buffer
  tests/integration/transactions/test_escrow.py
Due: isort, black, flake8

add 1s wait between snippet runs
  .github/workflows/snippet_test.yml
Due: none

more fixes
  tests/integration/transactions/test_escrow.py
Due: isort, black, flake8

bump version
  pyproject.toml
Due: none

increase faucet timeout
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix comment
  xrpl/models/currencies/mpt_currency.py
Due: isort, black, flake8, mypy

limit faucet requests
  snippets/set_regular_key.py
Due: isort, black, flake8

longer time between snippets
  .github/workflows/snippet_test.yml
Due: none

switch snippet back to Payment
  snippets/set_regular_key.py
Due: isort, black, flake8

send funds back to faucet
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

reduce sleep
  .github/workflows/snippet_test.yml
Due: none

remove debug lines
  tests/integration/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

remove LedgerStateFix
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/ledger_state_fix.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Update subscribe.py
  xrpl/models/requests/subscribe.py
Due: isort, black, flake8, mypy

fix comments
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

Python script to fetch rippled amendments; Github Actions to commit updated cfg file
  .github/workflows/integration_test.yml
  tools/fetch_rippled_amendments.py
Due: isort, black, flake8

Re-arrange the Github Actions steps
  .github/workflows/integration_test.yml
Due: none

Github Actions: checkout a brach name; fix the detached HEAD error
  .github/workflows/integration_test.yml
Due: none

Update rippled.cfg with latest amendments
  .ci-config/rippled.cfg
Due: none

Update tools/fetch_rippled_amendments.py
  tools/fetch_rippled_amendments.py
Due: isort, black, flake8

Use non-capturing groups in regex
  tools/fetch_rippled_amendments.py
Due: isort, black, flake8

Response to comments on json_rpc_base.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

Revised per coderabbit nitpick
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

respond to comments
  poetry.lock
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy
