Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix prebuilt steps
  packaging/confidential/pyproject.toml
  packaging/confidential/scripts/build-mpt-crypto-lib.sh
  packaging/confidential/version.env
  xrpl/ext/confidential/build_mpt_crypto.py
Due: isort, black, flake8, mypy

remove broken windows linkage, use unit tests for smoke test
  packaging/confidential/pyproject.toml
  xrpl/ext/confidential/build_mpt_crypto.py
  xrpl/ext/confidential/commitments.py
  xrpl/ext/confidential/main.py
Due: isort, black, flake8, mypy

fix ci build
  packaging/confidential/pyproject.toml
  xrpl/ext/confidential/__init__.py
  xrpl/ext/confidential/commitments.py
Due: isort, black, flake8, mypy, sphinx

fix utility tests requiring core model
  tests/unit/ext/confidential/test_utility_layer.py
Due: isort, black, flake8

update dynamic mpt for breaking changes - immutableflag
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy, sphinx

fix: remove httpx upper bound and move types-Deprecated to dev deps (#1)
  poetry.lock
  pyproject.toml
Due: none

more updates to tets
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

Add custom HTTP header support to clients (API key / auth)
  CHANGELOG.md
  tests/unit/asyn/clients/test_json_rpc_base.py
  tests/unit/asyn/clients/test_websocket_base.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

ci: drive xrpld image from committed config file
  .github/workflows/integration_test.yml
  .github/xrpld-image.env
  CONTRIBUTING.md
Due: none

ci: support private xrpld images via committed config file (#1019)
  .github/workflows/integration_test.yml
  .github/xrpld-image.env
  CONTRIBUTING.md
Due: none

test CI runs against private container
  .github/xrpld-image.env
Due: none

remove unnecessary field in definitions.js
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Apply XLS-68 Sponsored Fees and Reserves from PR #921
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tools/generate_definitions.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/transaction/__init__.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

add 15 Vault/Loan types into NON_DELEGABLE_TRANSACTIONS
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

rename terNO_SPONSORSHIP to terNO_PERMISSION
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

use private container image
  .github/xrpld-image.env
Due: none

Update flag values for sponsorship transfer
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/models/transactions/sponsorship_transfer.py
Due: isort, black, flake8, mypy

Fix bug: Outer Batch fee sponsorship is wrongly rejected
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Fix bug The empty SponsorSignature placeholder cannot be constructed
  tests/unit/models/transactions/test_sponsor_signature.py
  xrpl/models/transactions/sponsor_signature.py
Due: isort, black, flake8, mypy

stop warnings
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
Due: isort, black, flake8

update definitions, fix tests
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix definitions some more
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

fix: Handle signing fields correctly in definitions generation
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

clean up
  tools/generate_definitions.py
Due: isort, black, flake8

chore: Handle signing fields correctly in definitions generation (#1021)
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

Correct logic for sponsored transactions
  CHANGELOG.md
  tests/integration/transactions/test_sponsor_signer.py
  tests/unit/asyn/transaction/__init__.py
  tests/unit/asyn/transaction/test_sponsor_fee.py
  tests/unit/transaction/test_sponsor_fee.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

docs: add .ai-review/instructions.md for repo-specific review context
  .ai-review/instructions.md
Due: none

Fix sponsor signing for multisigned sponsees and Batch inner transactions
  tests/integration/transactions/test_batch.py
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/unit/transaction/test_batch_signers.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/transaction/batch_signers.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

fix multiple coderabbit comments
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/transaction/test_batch_signers.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
Due: isort, black, flake8, mypy

Update SponsorshipSet field names
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/sponsorship_set.py
Due: isort, black, flake8, mypy

use 3.3.0-rc6 container image
  .github/xrpld-image.env
Due: none

Add more tests
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  tests/integration/transactions/test_sponsorship_set.py
Due: isort, black, flake8

fix linting issue
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

allow encode and decode negative amount
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_batch.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/asyn/transaction/test_sponsor_fee.py
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/transaction/test_batch_signers.py
  tests/unit/transaction/test_sponsor_fee.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/batch_signers.py
  xrpl/transaction/main.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

add more unit and integration tests
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/transaction/test_sponsor_signer.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/batch.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy, sphinx

improve unit and integration tests
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry.py
  tests/integration/transactions/test_delegate_set.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsor_prefunded.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsor_trustline_reserve.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_sponsor_common_fields.py
  tests/unit/models/transactions/test_sponsor_models.py
  tests/unit/models/transactions/test_sponsor_permissions.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
Due: isort, black, flake8

address comments around change logs and incorrect comments
  CHANGELOG.md
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

Add validation to reject MPTokenIssuanceSet with both domain_id and holder set
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy
