Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update to Devnet 2
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/escrow_finish.py
Due: isort, black, flake8, mypy

draft commit
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/flags.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Transaction model, unit and integ tests for Delegate XLS-74d amendment
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix linter errors
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

update beta version
  pyproject.toml
Due: none

Update xrpl/models/transactions/transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

address PR comments from Phu and Rabbit
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

fix linter errors
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add DelegatableTransaction and GranularPermission string enums
  tests/unit/models/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_payment.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy, sphinx

Fix: default flags field for transaction frozen class should be None
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

dev: add definitions.json generation script (#772)
  CONTRIBUTING.md
  pyproject.toml
  tools/generate_definitions.py
  tools/generate_tx_models.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

codeowners file
  .github/CODEOWNERS
Due: none

updated owner
  .github/CODEOWNERS
Due: none

handle PermissionValue serialization
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy

add unit test for DelegateSet serialization
  tests/integration/transactions/test_delegate_set.py
  tests/unit/core/binarycodec/fixtures/data/serialized-dict-fixtures.json
  tests/unit/core/binarycodec/types/test_serialized_dict.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

fix integration tests
  tests/integration/transactions/test_delegate_set.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

refactor PermissionValue binary codec
  xrpl/core/binarycodec/definitions/__init__.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy, sphinx

fix: udpated the flags behaviour and added changelog
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/flags.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

remove DelegatableTransaction enum
  tests/integration/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy, sphinx

Add unit tests for JsonRpcBase header support and auth handling
  .gitignore
  tests/unit/asyn/clients/__init__.py
  tests/unit/asyn/clients/test_json_rpc_base.py
  xrpl/asyncio/clients/exceptions.py
Due: isort, black, flake8, mypy

Delete xrpl/asyncio/clients/json_rpc_base.py; superseded by commit 6c8bab5.
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

Delete xrpl/asyncio/clients/client.py; superseded by commit 6c8bab5.
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

refactor based on pr comments
  tests/integration/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

refactor definitions.py
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy

fix lint issue
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy

refactor integration test case
  tests/integration/transactions/test_delegate_set.py
Due: isort, black, flake8

refactor nit comment
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

fix: default flags field for transaction frozen class should be None
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add TransactionType and GranularPermission for types
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

pr review refactors
  tests/unit/core/binarycodec/fixtures/data/serialized-dict-fixtures.json
  tests/unit/core/binarycodec/types/test_serialized_dict.py
  tests/unit/models/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

remove debug statement
  tools/generate_tx_models.py
Due: isort, black, flake8

Fix: default flags field for transaction frozen class should be None (#821)
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix flag handling
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

fix FlagInterfaces
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/batch.py
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

pr review comments
  tests/integration/transactions/test_delegate_set.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/fixtures/data/serialized-dict-fixtures.json
  tests/unit/core/binarycodec/types/test_serialized_dict.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

Implement account permission delegation - XLS-74d and XLS-75d amendments (#840)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/transactions/test_delegate_set.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/core/binarycodec/definitions/__init__.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fix changelog
  CHANGELOG.md
Due: none

add Batch to non-delegable txs, clean up
  tests/unit/models/transactions/test_delegate_set.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy
