Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix: UInt64.from_value() accepts lower case hex (#258)
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

nox change attempt
  noxfile.py
Due: isort, black, flake8

attempt yaml change to avoid nox
  .github/workflows/integration_test.yml
Due: none

addresses PR comments
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

fix all errors (hopefully)
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

clean up, test fix
  .github/workflows/integration_test.yml
  tests/integration/it_utils.py
Due: isort, black, flake8

final stuff
  .github/workflows/integration_test.yml
Due: none

refactor retry
  tests/integration/it_utils.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Exports all models at the top models level (#257)
  xrpl/models/__init__.py
Due: isort, black, flake8, mypy, sphinx

test: adds basic tests for subscribe (#255)
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

improve retry logic
  tests/integration/it_utils.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

increase timeout
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

remove nox
  .flake8
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8

fix merge issues
  tests/integration/it_utils.py
Due: isort, black, flake8

fix typo
  .github/workflows/unit_test.yml
Due: none

use helper function for dev faucet
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

remove dev client testing infra
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

respond to comments
  tests/integration/sugar/test_wallet.py
  tests/unit/sugar/__init__.py
  tests/unit/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

restructure tests
  tests/integration/reqs/__init__.py
  tests/unit/asyn/__init__.py
  tests/unit/asyn/wallet/__init__.py
  tests/unit/asyn/wallet/test_wallet_generation.py
Due: isort, black, flake8

Fixes integration test issues (#262)
  .flake8
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/integration/it_utils.py
  tests/integration/reqs/__init__.py
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/__init__.py
  tests/unit/asyn/wallet/__init__.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

update pyproject
  pyproject.toml
Due: none

fix typo
  CONTRIBUTING.md
Due: none

fix more typos
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

V1.1.0 (#263)
  CHANGELOG.md
  CONTRIBUTING.md
  pyproject.toml
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

export asyncio
  xrpl/__init__.py
Due: isort, black, flake8, mypy, sphinx

reorder release steps
  CONTRIBUTING.md
Due: none

fix ascii decoding bug for some non-standard currencies
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_currency.py
  tests/unit/core/binarycodec/types/test_path_set.py
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

Fix install command
  docs/index.rst
Due: none

fix ascii decoding bug for some non-standard currencies (#266)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_currency.py
  tests/unit/core/binarycodec/types/test_path_set.py
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

Fix install command (#267)
  docs/index.rst
Due: none

v1.1.1
  CHANGELOG.md
  pyproject.toml
Due: none

improve currency fix
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/constants.py
  xrpl/core/binarycodec/types/currency.py
  xrpl/models/currencies/issued_currency.py
Due: isort, black, flake8, mypy

improve currency fix
  xrpl/constants.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/core/binarycodec/types/test_path_set.py
  xrpl/constants.py
Due: isort, black, flake8, mypy

fix types
  xrpl/constants.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/constants.py
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

remove extraneous maxDiff in test
  tests/unit/core/binarycodec/types/test_path_set.py
Due: isort, black, flake8

improve currency fix (#269)
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/constants.py
  xrpl/core/binarycodec/types/currency.py
  xrpl/models/currencies/issued_currency.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
