Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix typo
  tests/unit/models/transactions/test_escrow_create.py
Due: isort, black, flake8

remove more
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

address Omar PR suggestions
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/clawback_amount.py
  xrpl/models/requests/vault_info.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy, sphinx

Single Asset Vault XLS-65d (#814)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/reqs/test_vault_info.py
  tests/integration/transactions/test_single_asset_vault.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  tests/unit/models/requests/test_vault_info.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_set.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/number.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/clawback_amount.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/requests/request.py
  xrpl/models/requests/vault_info.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_deposit.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy, sphinx

update comment
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

fix lint error
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

remove CancelAfter condition
  tests/unit/models/transactions/test_escrow_create.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

remove unused imports
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

refactor escrow_create IT
  tests/integration/it_utils.py
  tests/integration/transactions/test_escrow_create.py
Due: isort, black, flake8

coderabbitai suggestions
  tests/integration/it_utils.py
Due: isort, black, flake8

Add support for Token Escrow - XLS-85d (#853)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_escrow_create.py
  tests/unit/models/transactions/test_escrow_create.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

Add integration test for NFTokenMintOffer
  tests/integration/transactions/test_nftoken_mint.py
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

Support NFTokenMintOffer (#851)
  CHANGELOG.md
  tests/integration/transactions/test_nftoken_mint.py
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

enabled rippled feature
  .ci-config/rippled.cfg
Due: none

add domain_id and TF_HYBRID to OfferCreate
  tests/unit/models/transactions/test_offer_create.py
  xrpl/models/transactions/offer_create.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

add validate_domain_id
  tests/unit/models/transactions/test_offer_create.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

testnet faucet give atmost 10 xrp. reduce xrp used in snippets
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

fix comments
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

add domain_id to Payment tx
  tests/unit/models/transactions/test_offer_create.py
  tests/unit/models/transactions/test_payment.py
  xrpl/models/transactions/payment.py
Due: isort, black, flake8, mypy

add domain to RPCs
  xrpl/models/requests/book_offers.py
  xrpl/models/requests/path_find.py
  xrpl/models/requests/ripple_path_find.py
  xrpl/models/requests/subscribe.py
Due: isort, black, flake8, mypy

add integ test
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

add docstring describing test
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

include RPCs in integ test
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

fix test
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

delete line
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

use req model
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

update integ test
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

WIP commit
  CHANGELOG.md
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

WIP commit
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Fix snippets (#855)
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

address comments
  tests/integration/transactions/test_permissioned_dex.py
  tests/unit/models/transactions/test_payment.py
Due: isort, black, flake8

address comment
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

fix
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

fix bug
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

add tests
  tests/unit/models/mptoken-metadata-fixtures.json
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

validation refactors
  tests/unit/models/mptoken-metadata-fixtures.json
  tests/unit/models/test_utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

add warnings tests
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

some cleanups
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy
