Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update pyproject
  pyproject.toml
Due: none

fix: make Python 3.10 support more general (#293)
  poetry.lock
  pyproject.toml
Due: none

bump version in toml
  pyproject.toml
Due: none

edit changelog
  CHANGELOG.md
Due: none

edit date
  CHANGELOG.md
Due: none

edit release process
  CONTRIBUTING.md
  README.md
Due: none

replace calls with the ones on the clients
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/clients/async_client.py
Due: isort, black, flake8, mypy

add account tx methods to client and replace calls
  tests/integration/sugar/test_account.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/clients/async_client.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

change to minor version
  pyproject.toml
Due: none

minor lint changes, address comments
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

v1.2.0 (#296)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#299)
  CONTRIBUTING.md
Due: none

fix response type
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/models/response.py
Due: isort, black, flake8, mypy

Fix #301 (X-address w/ tag in autofill)
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: make response.result type more specific (#300)
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/models/response.py
Due: isort, black, flake8, mypy

change sequence number method to "current" instead of "validated"
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

add ledger_index to sync methods
  xrpl/account/main.py
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

add error if bad ledger_index
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

edit docstrings to follow style guide
  xrpl/account/main.py
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

feat: add optional `ledger_index` param to account methods (#304)
  CHANGELOG.md
  xrpl/account/main.py
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

remove tesSUCCESS check
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add last_ledger_sequence check
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add TicketCreate model
  xrpl/models/transactions/ticket_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

export tx
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

add test
  tests/integration/transactions/test_ticket_create.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

add callbacks
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

add test
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8

fix: remove erroring in `send_reliable_submission` if not success (#308)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix more IDs
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

add tests
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ledger.py
  tests/integration/reqs/test_no_ripple_check.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

fix sync ws client
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

fix ID issues
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

write better docstrings
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy
