Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Export from asyncio as well
  xrpl/asyncio/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

update rpcs
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

refactor: create new abstract model for nested dict objects (#421)
  xrpl/models/nested_model.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

added ticket_sequence to Transaction class common
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fixed up name of tests
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

whitespace
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

made ticket sequence test more readable
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

added simple ticket_sequence added test
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

unit tested and threw errors on ticket seq
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

changed to long string
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

Updated CHANGELOG.md with ticket_sequence
  CHANGELOG.md
Due: none

export AuthAccount model
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

Remove empty lines from CHANGELOG
  CHANGELOG.md
Due: none

Removed empty lines from CHANGELOG v2
  CHANGELOG.md
Due: none

Update CHANGELOG.md for clearer common field naming
  CHANGELOG.md
Due: none

Update Sequence to sequence for readability
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

feat: added ticket_sequence to Transaction class common fields (#428)
  CHANGELOG.md
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update version to beta
  pyproject.toml
Due: none

Remove unnecessary sugar and update docs
  CHANGELOG.md
  xrpl/account/__init__.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy, sphinx

Fix linting errors
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

fix rebase bugs in signer_list_set.py
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

add test case for entries > 16 and < 32
  tests/unit/models/transactions/test_signer_list_set.py
Due: isort, black, flake8

fix test case
  tests/unit/models/transactions/test_signer_list_set.py
Due: isort, black, flake8

typo
  tests/unit/models/transactions/test_signer_list_set.py
Due: isort, black, flake8

update CHANGELOG.md
  CHANGELOG.md
Due: none

add ExpandedSignerList amendment support (#406)
  CHANGELOG.md
  tests/unit/models/transactions/test_signer_list_set.py
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

Deprecate get_account_transactions
  poetry.lock
  pyproject.toml
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

Add docs to `get_account_transactions` and fix Sphinx dependency issues (#427)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

add AuthAccount and refactor special case models check
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/models/__init__.py
  xrpl/models/auth_account.py
  xrpl/models/path.py
  xrpl/models/path_step.py
  xrpl/models/requests/__init__.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

fix AuthAccount capitalization issues
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

revert Path and _value_to_tx_json() changes
  tests/unit/models/test_base_model.py
  xrpl/models/path.py
  xrpl/models/path_step.py
  xrpl/models/requests/__init__.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

fix AuthAccount capitalization issues (#432)
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add AMMBid codec-fixture
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add AMMInstanceCreate codec-fixture
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

update definitions.json with different AuthAccounts number
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

remove AMM codec-fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

bump version
  pyproject.toml
Due: none

Add code snippets to documentation + repo
  docs/index.rst
  docs/source/claim_pay_channel.rst
  docs/source/get_transaction.rst
  docs/source/partial_payment.rst
  docs/source/paths.rst
  docs/source/reliable_transaction_submission.rst
  docs/source/send_escrow.rst
  docs/source/set_regular_key.rst
  docs/source/snippets.rst
  snippets/claim_pay_channel.py
  snippets/get_transaction.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
Due: isort, black, flake8

Remove claim_pay_channel snippet
  docs/source/claim_pay_channel.rst
  docs/source/snippets.rst
  snippets/claim_pay_channel.py
Due: isort, black, flake8
