Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Fix typings and lint
  tests/unit/utils/test_get_nftoken_id.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

Fix typing import
  xrpl/models/ledger/nft.py
Due: isort, black, flake8, mypy

Simplify imports and lint
  xrpl/models/ledger/nft.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

comment out tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add back tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Remove unnecessary init
  xrpl/models/ledger/__init__.py
Due: isort, black, flake8, mypy, sphinx

Removed redundant cast
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

feat: remove nft-devnet faucet (#535)
  CHANGELOG.md
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

increase-delay-time
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

increase ledger accept delay
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Create .py
  .github/.py
Due: isort, black, flake8

rename DisallowIncoming flag for NFTs (#533)
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

add optional type filter to ledger, ledger_data request
  xrpl/models/requests/ledger.py
  xrpl/models/requests/ledger_data.py
Due: isort, black, flake8, mypy

add LedgerEntryType enum
  xrpl/models/requests/__init__.py
  xrpl/models/requests/ledger.py
  xrpl/models/requests/ledger_data.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy, sphinx

Add get_nftoken_id for after minting an NFT with NFTokenMint (#534)
  CHANGELOG.md
  tests/unit/utils/test_get_nftoken_id.py
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response1.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response2.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

Update snippets/multisign.py
  snippets/multisign.py
Due: isort, black, flake8

Update snippets/reliable_transaction_submission.py
  snippets/reliable_transaction_submission.py
Due: isort, black, flake8

small updates
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

small doc fix
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add positional args
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

simplify attempts logic
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

handle relsub errors better
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix: handle relsub errors better (#539)
  CHANGELOG.md
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix validation for XChainCreateClaimID
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy

fix circular dependency
  xrpl/utils/hooks.py
Due: isort, black, flake8, mypy

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

add `type` field to `Ledger` and `LedgerData` request (#538)
  CHANGELOG.md
  xrpl/models/requests/__init__.py
  xrpl/models/requests/ledger.py
  xrpl/models/requests/ledger_data.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy, sphinx

simplify and clean up a few things WRT clients (#519)
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

test remove from dict
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Update xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

remove predefined sequence
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add fail hard param
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix for multisign
  snippets/multisign.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

improve docs
  poetry.lock
  pyproject.toml
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy, sphinx

update docs a bit
  xrpl/asyncio/clients/async_websocket_client.py
Due: isort, black, flake8, mypy

fix deps
  poetry.lock
  pyproject.toml
Due: none

save algorithm as a part of the wallet
  .vscode/settings.json
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
