Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

move to transaction
  xrpl/transaction/__init__.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy, sphinx

add tests, fix issues
  tests/unit/transaction/__init__.py
  tests/unit/transaction/test_batch_signers.py
  xrpl/models/base_model.py
  xrpl/models/transactions/batch.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

fix typing issue
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

fix tests
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

Update main.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Update definitions.json -- generated from the tip of rippled codebase at commit ea8e77ffec065cf1a8d1cd4517f9cebdab27cc17
  .ci-config/rippled.cfg
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

use base 10 serialization for all amount fields in MPT
  tests/integration/transactions/test_mptoken_issuance_create.py
  tests/integration/transactions/test_payment.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/utils/test_int_conversions.py
  xrpl/core/binarycodec/types/uint64.py
  xrpl/utils/__init__.py
  xrpl/utils/int_conversions.py
Due: isort, black, flake8, mypy, sphinx

resolve lint errors
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

resolve more lint errors
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

Specify the CredentialCreate transaction
  tests/integration/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_create.py
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

remove hard-coded references to transaction BaseFee as 10 drops. Use the term BaseFee to reflect non-availability of latest data
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Update rippled.cfg file to specify different FeeSettings options Update integration tests to validate non-historical transaction cost
  .ci-config/rippled.cfg
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

update CL
  CHANGELOG.md
Due: none

Update poetry version to 1.8.3 inside Github Actions scripts
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
Due: none

parse the expected fee from the config file
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Revert mypy changes: align with Python 3.8 version, instead of 3.11
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix: Integration tests pertaining to XChainClaim pass
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

Files relevant to the CredentialAccept transaction
  tests/integration/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_accept.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Files pertaining to the CredentialDelete transaction Refactor common elements within Credential-related transactions
  tests/integration/transactions/test_credential.py
  tests/unit/models/transactions/test_credential_delete.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy, sphinx

Files pertaining to DepositPreauth transaction are included in this commit
  tests/integration/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

FIX: Update deposit_preauth integration tests to validate the transaction result code
  tests/integration/transactions/test_deposit_preauth.py
Due: isort, black, flake8

Include account_objects RPC call to verify that cred ledger-object is successfully deleted
  tests/integration/transactions/test_credential.py
  tests/unit/models/transactions/test_account_delete.py
  tests/unit/models/transactions/test_escrow_finish.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy

Updates to DepositAuthorized RPC
  tests/unit/models/requests/test_deposit_authorized.py
  xrpl/models/requests/deposit_authorized.py
Due: isort, black, flake8, mypy

address PR comments
  .ci-config/rippled.cfg
  tests/unit/models/transactions/test_deposit_preauth.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

FIX: Use sum() method for error validation in DepositPreauth transaction model; Revert this file to an older version
  tests/unit/models/transactions/test_deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

Update the definitions.json file without changing the format of the document
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Update base_model.py -- Use mypy with Python 3.8 suggestions
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

nit: rename the integration test to reflect updates
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Initial draft of GIthub Actions workflow
  .github/workflows/publish_to_pypi.yml
  pyproject.toml
Due: none

install (or) load poetry from cache
  .github/workflows/publish_to_pypi.yml
Due: none

include fixAMM1_1 in the rippled.cfg file
  .ci-config/rippled.cfg
Due: none

rearrange the LedgerEntryTypes in definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Github Actions: Publish tagged commits into PyPI
  .github/workflows/publish_to_pypi.yml
Due: none

Update version on the least-significant-digit -- this should not trigger PyPI publish Github Actions
  pyproject.toml
Due: none

Update minor version of the project
  pyproject.toml
Due: none

include amendments which are not in majority consensus yet
  .ci-config/rippled.cfg
Due: none

Validate the serialization of maximum UINT64 value OracleSet txn (#756)
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

Update the instructions for the Release process
  CONTRIBUTING.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
