Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

improve XChainCreateBridge test
  tests/integration/transactions/test_xchain_create_bridge.py
Due: isort, black, flake8

fix EscrowCreate test
  tests/integration/transactions/test_escrow_create.py
Due: isort, black, flake8

add XChainModifyBridge integration test
  tests/integration/transactions/test_xchain_modify_bridge.py
Due: isort, black, flake8

fix test name
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

fix tests
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_add_claim_attestation.py
Due: isort, black, flake8

add XChainAccountCreateCommit integration test
  tests/integration/transactions/test_xchain_account_create_commit.py
Due: isort, black, flake8

clean up
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_add_claim_attestation.py
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

fix tests
  tests/integration/transactions/test_xchain_account_create_commit.py
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_add_claim_attestation.py
  tests/integration/transactions/test_xchain_claim.py
  tests/integration/transactions/test_xchain_commit.py
  tests/integration/transactions/test_xchain_create_bridge.py
  tests/integration/transactions/test_xchain_create_claim_id.py
  tests/integration/transactions/test_xchain_modify_bridge.py
Due: isort, black, flake8

improve tests
  tests/integration/transactions/test_xchain_add_claim_attestation.py
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

add XChainClaim integration test
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

add reusable bridge
  tests/integration/reusable_values.py
Due: isort, black, flake8

fix rebase issues
  tests/integration/reusable_values.py
Due: isort, black, flake8

add XChainCommit integration test
  tests/integration/transactions/test_xchain_commit.py
Due: isort, black, flake8

remove sidechain-net1 faucet + tests
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix snippet
  snippets/bridge_transfer.py
Due: isort, black, flake8

update changelog
  CHANGELOG.md
Due: none

update docker version
  .github/workflows/integration_test.yml
Due: none

Update bridge_transfer.py
  snippets/bridge_transfer.py
Due: isort, black, flake8

chore: fix sidechain networks (#660)
  CHANGELOG.md
  snippets/bridge_transfer.py
  tests/integration/sugar/test_network_id.py
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

update door account
  snippets/bridge_transfer.py
Due: isort, black, flake8

fix: update door account for bridge snippet (#661)
  snippets/bridge_transfer.py
Due: isort, black, flake8

add ledger objects
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_entry_type.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/ledger_object.py
  xrpl/models/ledger_objects/negative_unl.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ripple_state.py
  xrpl/models/ledger_objects/signer_list.py
  xrpl/models/ledger_objects/ticket.py
Due: isort, black, flake8, mypy, sphinx

add environment variable RIPPLED_DOCKER_IMAGE
  .github/workflows/integration_test.yml
Due: none

add NFTokenOffer test
  docs/source/xrpl.models.ledger_objects.rst
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/nftoken_offer.py
Due: isort, black, flake8, mypy

add NFTokenOffer test
  tests/unit/models/test_ledger_object.py
Due: isort, black, flake8

add metadata models
  docs/source/xrpl.models.metadata.rst
  xrpl/models/metadata/__init__.py
  xrpl/models/metadata/account_root.py
  xrpl/models/metadata/amendments.py
  xrpl/models/metadata/check.py
  xrpl/models/metadata/deposit_preauth.py
  xrpl/models/metadata/directory_node.py
  xrpl/models/metadata/ledger_hashes.py
  xrpl/models/metadata/metadata.py
  xrpl/models/metadata/negative_unl.py
  xrpl/models/metadata/nftoken_offer.py
  xrpl/models/metadata/nftoken_page.py
  xrpl/models/metadata/offer.py
  xrpl/models/metadata/pay_channel.py
  xrpl/models/metadata/ripple_state.py
  xrpl/models/metadata/signer_list.py
  xrpl/models/metadata/ticket.py
Due: isort, black, flake8, mypy, sphinx

remove metadata models
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/account_root.py
  xrpl/models/ledger_objects/amendments.py
  xrpl/models/ledger_objects/check.py
  xrpl/models/ledger_objects/deposit_preauth.py
  xrpl/models/ledger_objects/directory_node.py
  xrpl/models/ledger_objects/escrow.py
  xrpl/models/ledger_objects/fee_settings.py
  xrpl/models/ledger_objects/ledger_hashes.py
  xrpl/models/ledger_objects/negative_unl.py
  xrpl/models/ledger_objects/nftoken_offer.py
  xrpl/models/ledger_objects/nftoken_page.py
  xrpl/models/ledger_objects/offer.py
  xrpl/models/ledger_objects/pay_channel.py
  xrpl/models/ledger_objects/ripple_state.py
  xrpl/models/ledger_objects/signer_list.py
  xrpl/models/ledger_objects/ticket.py
Due: isort, black, flake8, mypy, sphinx

fix integration_test.yml
  .github/workflows/integration_test.yml
Due: none

fix docker command
  .github/workflows/integration_test.yml
Due: none

add amm_info integ test
  tests/integration/it_utils.py
  tests/integration/reqs/test_amm_info.py
  tests/integration/reusable_values.py
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_deposit.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

use variable for docker image version
  .github/workflows/integration_test.yml
Due: none

test: add AMM integration tests (#645)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_amm_info.py
  tests/integration/reusable_values.py
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_create.py
  tests/integration/transactions/test_amm_deposit.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

run type checking on earliest python version
  .github/workflows/unit_test.yml
Due: none

feat: add support for `server_definitions` RPC (#659)
  .github/workflows/integration_test.yml
  tests/integration/reqs/test_server_definitions.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/server_definitions.py
Due: isort, black, flake8, mypy, sphinx

respond to comments
  tests/integration/transactions/test_did_delete.py
  tests/integration/transactions/test_did_set.py
  tests/unit/models/transactions/test_did_delete.py
  tests/unit/models/transactions/test_did_set.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/did_set.py
Due: isort, black, flake8, mypy

add support to ledger_entry and ledger_data
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

add amendment
  .ci-config/rippled.cfg
Due: none

add invalid test
  tests/unit/models/transactions/test_did_delete.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
