Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Reword clients
  CONTRIBUTING.md
Due: none

Put in async functions as examples
  CONTRIBUTING.md
Due: none

Abstracted time rel sub component
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Add missing import
  tests/integration/it_utils.py
Due: isort, black, flake8

Add note about creating new file
  CONTRIBUTING.md
Due: none

Update CHANGELOG and pyproject.toml to 1.7.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fix typo
  CHANGELOG.md
Due: none

Remove CHANGELOG which are not relevant
  CHANGELOG.md
Due: none

Update CHANGELOG and pyproject.toml to 1.7.0 (#451)
  CHANGELOG.md
  pyproject.toml
Due: none

Added doc string to send timed rel sub function
  tests/integration/it_utils.py
Due: isort, black, flake8

Modularized timer and removed testnet wallets/destination
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Modularized ledger accept time
  tests/integration/it_utils.py
Due: isort, black, flake8

Change ledger close time from 4 to 1
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add XChainClaim tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add XChainCreateClaimID tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

get XChainCreateBridge test working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/bridge.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/models/__init__.py
  xrpl/models/bridge.py
Due: isort, black, flake8, mypy, sphinx

get XChainCommit working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add XChainCreateBridge test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add XChainAddAttestation model(s)
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy, sphinx

fix typo
  xrpl/core/binarycodec/types/bridge.py
Due: isort, black, flake8, mypy

rename Bridge -> XChainBridge in models
  tests/unit/models/test_base_model.py
  xrpl/models/__init__.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
  xrpl/models/xchain_bridge.py
Due: isort, black, flake8, mypy, sphinx

add CreateAccount AddAttestation test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

fix import
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

fix existing tests w/updated rippled, add AccountCreate test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

add models
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy, sphinx

add/update models
  xrpl/models/transactions/sidechain_xchain_account_create.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

export new tx
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

rename file
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_attestation_batch.py
Due: isort, black, flake8, mypy, sphinx

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update to handle XChainAddAttestation (and fix everything else)
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/test_base_model.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
  xrpl/models/bridge.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

fix XChainCommit
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

fix bugs
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/field_header.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

comment out unwritten txs
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

add test for xchain conversion, fix bugs
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

fix unused variable
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

update RPCs
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

actually export tx
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

one more fix
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

add XChainModifyBridge tx model
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy
