Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

address more comments + fix lint
  tests/integration/it_utils.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

nit fixes
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy, sphinx

address comments
  CHANGELOG.md
  tests/integration/transactions/test_lending_protocol_v1_1.py
Due: isort, black, flake8

add hex test for vault set
  tests/unit/models/transactions/test_vault_set.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy

feat: Support LendingProtocolV1_1 (#1034)
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_lending_protocol.py
  tests/integration/transactions/test_lending_protocol_v1_1.py
  tests/unit/models/transactions/test_loan_broker_cover_withdraw.py
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_loan_set.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_set.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_set.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy, sphinx

bump packages
  CHANGELOG.md
  pyproject.toml
Due: none

Initial commit
  .ci-config/xrpld.cfg
  CHANGELOG.md
  tests/integration/transactions/test_mpt_dex.py
  tests/unit/core/binarycodec/test_main.py
  tests/unit/core/binarycodec/types/test_path_set.py
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/requests/test_requests.py
  tests/unit/models/test_path.py
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_delete.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  tests/unit/models/transactions/test_check_cash.py
  tests/unit/models/transactions/test_check_create.py
  tests/unit/models/transactions/test_offer_create.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  tests/unit/utils/txn_parser/transaction_jsons/offer_mpt_created.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_mpt_partially_filled_and_filled.json
  xrpl/core/binarycodec/types/path_set.py
  xrpl/models/path.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/utils.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

Fail closed on unknown transaction flags
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

add local definitions retrieval
  CONTRIBUTING.md
  pyproject.toml
  tools/generate_definitions.py
  tools/validate_definitions.py
Due: isort, black, flake8

fix: accept a multisigned Account in the LoanSet counterparty helpers
  CHANGELOG.md
  tests/integration/transactions/test_lending_protocol.py
  tests/unit/transaction/test_counterparty_signer.py
  xrpl/transaction/counterparty_signer.py
Due: isort, black, flake8, mypy

fix: name the missing CounterpartySignature when a LoanSet is submitted without it
  CHANGELOG.md
  tests/unit/asyn/transaction/test_submit.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: use the base fee for VaultCreate autofill
  CHANGELOG.md
  tests/unit/asyn/transaction/test_owner_reserve_fee.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: reject unknown dict flags and close LoanSet and VaultCreate validation gaps
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_loan_set.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_set.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy, sphinx

add pagination
  tools/generate_definitions.py
  tools/validate_definitions.py
Due: isort, black, flake8

update contributing
  CONTRIBUTING.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
