Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Revert "uncomment MPT integ tests"
  tests/integration/transactions/test_clawback.py
  tests/integration/transactions/test_mptoken_authorize.py
  tests/integration/transactions/test_mptoken_issuance_create.py
  tests/integration/transactions/test_mptoken_issuance_destroy.py
  tests/integration/transactions/test_mptoken_issuance_set.py
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

uncomment issuance create integ test
  tests/integration/transactions/test_mptoken_issuance_create.py
Due: isort, black, flake8

debug MaximumAmount base10 regex match
  xrpl/core/binarycodec/types/uint64.py
Due: isort, black, flake8, mypy

fix field.name not passed in uint64
  xrpl/core/binarycodec/types/st_object.py
  xrpl/core/binarycodec/types/uint64.py
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

uncomment issuance destroy integ test
  tests/integration/transactions/test_mptoken_issuance_destroy.py
Due: isort, black, flake8

uncomment authorize and issuance set integ tests
  tests/integration/transactions/test_mptoken_authorize.py
  tests/integration/transactions/test_mptoken_issuance_set.py
Due: isort, black, flake8

uncomment mpt payment integ test
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

uncomment mpt clawback integ test
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

fix test_clawback integ test
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

fix mpt clawback integ test
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

fix docstrings
  xrpl/core/binarycodec/types/hash192.py
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

Add default value of NULL for optional fields
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove typo
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

add test to verify uint64 parsing
  tests/unit/core/binarycodec/types/test_uint.py
Due: isort, black, flake8

make error message more specific
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

fix linter
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

add TODO comment for MPT balance
  xrpl/utils/txn_parser/get_balance_changes.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

update release date
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

address PR comments from @mvadari
  .github/workflows/integration_test.yml
  tests/integration/transactions/test_credential.py
  tests/unit/models/transactions/test_account_delete.py
  tests/unit/models/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_escrow_finish.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Update .ci-config/rippled.cfg
  .ci-config/rippled.cfg
Due: none

Update xrpl/models/utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Update tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_create.py
Due: isort, black, flake8

Update tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_accept.py
Due: isort, black, flake8

Update tests/unit/models/transactions/test_credential_delete.py
  tests/unit/models/transactions/test_credential_delete.py
Due: isort, black, flake8

Update tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_payment.py
Due: isort, black, flake8

Update xrpl/models/requests/deposit_authorized.py
  xrpl/models/requests/deposit_authorized.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
