Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add stacklevel=5
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

meaningful function name
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
Due: isort, black, flake8

assert BookNode
  tests/integration/transactions/test_permissioned_dex.py
Due: isort, black, flake8

feat: add support for Permissioned DEX (XLS-81) (#854)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/transactions/test_permissioned_dex.py
  tests/unit/models/transactions/test_offer_create.py
  tests/unit/models/transactions/test_payment.py
  xrpl/models/requests/book_offers.py
  xrpl/models/requests/path_find.py
  xrpl/models/requests/ripple_path_find.py
  xrpl/models/requests/subscribe.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

remove snippets files
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  docs/index.rst
  docs/source/snippets.rst
  pyproject.toml
  snippets/README.md
  snippets/get_transaction.py
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

remove extra lines
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
Due: isort, black, flake8

minor refactors
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Add warnings for MPTokenMetadata - XLS-89d (#856)
  CHANGELOG.md
  tests/unit/models/mptoken-metadata-fixtures.json
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

update version numvers for new release
  CHANGELOG.md
  pyproject.toml
Due: none

4.3.0 release (#858)
  CHANGELOG.md
  pyproject.toml
Due: none

fix tests
  tests/integration/transactions/test_escrow.py
Due: isort, black, flake8

bump version
  pyproject.toml
Due: none

updated README file with correct URL
  CHANGELOG.md
  README.md
Due: none

remove snippets files (#857)
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  docs/index.rst
  docs/source/snippets.rst
  pyproject.toml
  snippets/README.md
  snippets/get_transaction.py
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/paths.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

fix mypy
  xrpl/asyncio/clients/websocket_base.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

feat (846): added ledger object hashing functionality
  tests/unit/utils/test_hash_utils.py
  xrpl/utils/__init__.py
  xrpl/utils/hash_utils.py
Due: isort, black, flake8, mypy, sphinx

chore (846): updated changelog for ledger object hashing
  CHANGELOG.md
Due: none

chore (846): enhance ledger object hashing utilities and improve test coverage
  CHANGELOG.md
  tests/unit/utils/test_hash_utils.py
  xrpl/utils/__init__.py
  xrpl/utils/hash_utils.py
Due: isort, black, flake8, mypy, sphinx

test (846): enhance hash utility tests and improve error handling for currency formats
  tests/unit/utils/test_hash_utils.py
  xrpl/utils/hash_utils.py
Due: isort, black, flake8, mypy

feat (846): enhance hash utilities with additional input handling and error checks
  tests/unit/utils/test_hash_utils.py
  xrpl/utils/hash_utils.py
Due: isort, black, flake8, mypy

Add CredentialCreate transaction type and update definitions
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

refactor(hash_utils): rename ticket_id to ticket_sequence and update related comments for clarity
  tests/unit/utils/test_hash_utils.py
  xrpl/utils/hash_utils.py
Due: isort, black, flake8, mypy

update ripple submodule to support CredentialCreate tx
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update ripple submodule to support CredentialCreate tx (#13)
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

handle credential accept and delete and refactor create (#14)
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Models and unit tests for LP amendment; TODO: Integ tests are remaining; LoanDraw transaction has nt been implemented
  .ci-config/rippled.cfg
  tests/unit/models/transactions/test_loan_broker_cover_clawback.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_broker_cover_clawback.py
  xrpl/models/transactions/loan_broker_cover_deposit.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_delete.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_delete.py
  xrpl/models/transactions/loan_manage.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/loan_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update integration test with LoanSet transaction
  tests/integration/transactions/test_lending_protocol.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

add integ tests for loan-crud operations; update changelog
  CHANGELOG.md
  tests/integration/transactions/test_lending_protocol.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/loan_pay.py
Due: isort, black, flake8, mypy

address first batch of coderabbit AI suggestions
  tests/integration/transactions/test_lending_protocol.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/loan_broker_cover_deposit.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

binary codec changes
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/int.py
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy, sphinx

model/autofill changes
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

run prettier on everything
  .github/dependabot.yml
  .github/workflows/faucet_test.yml
  .github/workflows/publish_to_pypi.yml
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/fixtures/data/x-codec-fixtures.json
  tests/unit/models/mptoken-metadata-fixtures.json
  tests/unit/models/x-codec-fixtures.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID2.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response1.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response2.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_cancelled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_created.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_partially_filled_and_filled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_with_expiration.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_xrp_create_account.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_create.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
Due: none

chore: run prettier on everything (#868)
  .github/dependabot.yml
  .github/workflows/faucet_test.yml
  .github/workflows/publish_to_pypi.yml
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/fixtures/data/x-codec-fixtures.json
  tests/unit/models/mptoken-metadata-fixtures.json
  tests/unit/models/x-codec-fixtures.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID2.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response1.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response2.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_cancelled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_created.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_partially_filled_and_filled.json
  tests/unit/utils/txn_parser/transaction_jsons/offer_with_expiration.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_destination_no_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_multipath.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_redeem_then_issue.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_iou_spend_full_balance.json
  tests/unit/utils/txn_parser/transaction_jsons/payment_xrp_create_account.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_create.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_delete.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit2.json
  tests/unit/utils/txn_parser/transaction_jsons/trustline_set_limit_zero.json
Due: none

fix linter errors
  xrpl/models/transactions/loan_broker_cover_deposit.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_delete.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_delete.py
  xrpl/models/transactions/loan_manage.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

update Number internal rippled type into str JSON type
  tests/unit/models/transactions/test_loan_broker_cover_clawback.py
  xrpl/models/transactions/loan_broker_cover_clawback.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

add unit tests and validation for loan_broker_set txn
  tests/unit/models/transactions/test_loan_broker_set.py
  xrpl/models/transactions/loan_broker_set.py
Due: isort, black, flake8, mypy

loan_set validation and unit tests
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy
