Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add comment
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix: fix typing of `from_dict` and other classmethods (#408)
  CHANGELOG.md
  xrpl/asyncio/transaction/main.py
  xrpl/models/base_model.py
  xrpl/models/requests/request.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
  xrpl/models/requests/submit.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy

remove sidechain util
  tests/unit/utils/test_sidechain.py
  xrpl/utils/__init__.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy, sphinx

remove federator_info
  xrpl/models/requests/federator_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

fix types
  xrpl/core/binarycodec/types/sidechain.py
  xrpl/core/binarycodec/types/xchain_claim_proof.py
Due: isort, black, flake8, mypy

get claim proof working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_claim_proof.py
  xrpl/models/xchain_claim_proof.py
Due: isort, black, flake8, mypy, sphinx

add docstrings
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/core/binarycodec/types/sidechain.py
  xrpl/core/binarycodec/types/xchain_claim_proof.py
Due: isort, black, flake8, mypy

get sidechain object and txs working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/core/binarycodec/types/sidechain.py
  xrpl/models/sidechain.py
Due: isort, black, flake8, mypy, sphinx

add docstrings
  xrpl/models/sidechain.py
  xrpl/models/xchain_claim_proof.py
Due: isort, black, flake8, mypy

add new models
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_door_create.py
  xrpl/models/transactions/xchain_seq_num_create.py
  xrpl/models/transactions/xchain_transfer.py
Due: isort, black, flake8, mypy, sphinx

fix test name
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

use old tx names
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

fix bugs
  xrpl/models/__init__.py
  xrpl/models/sidechain.py
Due: isort, black, flake8, mypy, sphinx

more fixes
  xrpl/models/base_model.py
  xrpl/models/requests/sign.py
  xrpl/models/sidechain.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix typo
  xrpl/models/transactions/xchain_transfer.py
Due: isort, black, flake8, mypy

fix proof things
  xrpl/models/__init__.py
  xrpl/models/xchain_claim_proof.py
Due: isort, black, flake8, mypy, sphinx

make models work again
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

more fixes
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

more fixes
  xrpl/models/transactions/transaction.py
  xrpl/models/xchain_claim_proof.py
Due: isort, black, flake8, mypy

more proof fixes
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add amount to xchain transfer
  xrpl/models/transactions/xchain_transfer.py
Due: isort, black, flake8, mypy

fix another bug
  xrpl/models/requests/sign_and_submit.py
Due: isort, black, flake8, mypy

fix more encoding
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

use to_xrpl instead of to_dict
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

fix: properly encode transactions in signing requests (#409)
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
Due: isort, black, flake8, mypy

fix linter
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/txn_parser/utils/parser.py
  xrpl/utils/txn_parser/utils/types.py
Due: isort, black, flake8, mypy

return real delta from _calculate_delta
  CHANGELOG.md
  tests/unit/utils/test_xrp_conversions.py
  tests/unit/utils/txn_parser/test_get_order_book_changes.py
  xrpl/constants.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/utils/time_conversions.py
  xrpl/utils/txn_parser/utils/order_book_parser.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

attempt #1
  .github/workflows/unit_test.yml
Due: none

fix lockfile
  poetry.lock
Due: none

nvm
  .github/workflows/unit_test.yml
Due: none

fix run
  .github/workflows/unit_test.yml
Due: none

fix deps
  poetry.lock
  pyproject.toml
Due: none

update lock file
  poetry.lock
Due: none

replicate across other tests
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

whoops forgot to save
  pyproject.toml
Due: none

ci: cache poetry dependencies (#411)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
Due: none
