Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

remove unused code
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

use _parallel_test prefix
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

roll back some changes
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix: better error handling in reliable submission (#594)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

test: run faucet tests in parallel (#464)
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
Due: isort, black, flake8

Fix `send_escrow` param order
  snippets/send_escrow.py
Due: isort, black, flake8

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix test
  tests/integration/reusable_values.py
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

Update bridge_transfer.py
  snippets/bridge_transfer.py
Due: isort, black, flake8

fix snippet
  snippets/bridge_transfer.py
Due: isort, black, flake8

(WIP) bridge transfer snippet
  snippets/bridge_transfer.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

fix: improve error message for `tem` errors in relsub (#590)
  CHANGELOG.md
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update tests
  tests/unit/models/transactions/test_autofill.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

update docs
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

feat: Remove `send_reliable_submission` (#592)
  README.md
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

fix lint
  tests/unit/models/transactions/test_autofill.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

add default for user_agent
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add user agent and use case info to faucet json body (#572)
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Remove the async sign feature
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Update CHANGELOG and pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

Update CHANGELOG and pyproject.toml (#596)
  CHANGELOG.md
  pyproject.toml
Due: none

Remove check_fee from sync import
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Remove unused import
  tests/unit/models/transactions/test_transaction.py
Due: isort, black, flake8

Update CHANGELOG
  CHANGELOG.md
Due: none

Add detail to the changelog
  CHANGELOG.md
Due: none

Directly alias sign and add comment with history
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Remove aliases
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Remove `submit_transaction`
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Fix integration test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Remove long aliases for signing/submitting functions (#599)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Make `sign` synchronous (#598)
  CHANGELOG.md
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Update the CHANGELOG
  CHANGELOG.md
Due: none

Update `autofill_and_sign` and `sign_and_submit`
  README.md
  snippets/paths.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

refactor: Make param order for signing/submitting consistent (#600)
  CHANGELOG.md
  README.md
  snippets/paths.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

comments
  xrpl/asyncio/clients/async_websocket_client.py
Due: isort, black, flake8, mypy

feature `NetworkID` (#520)
  tests/unit/models/transactions/test_autofill.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy
