Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

deepcopy in request copy
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

implement request_json
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

remove "needs lint" for unit tests
  .github/workflows/unit_test.yml
Due: none

chore: parallelize linting and unit tests in CI (#314)
  .github/workflows/unit_test.yml
Due: none

feat: Add `TicketCreate` transaction model (#310)
  CHANGELOG.md
  tests/integration/transactions/test_ticket_create.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/ticket_create.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

replace runtime assert with cast
  CHANGELOG.md
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

replace runtime assert with cast (#320)
  CHANGELOG.md
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

include last missing py.typed
  xrpl/py.typed
Due: none

edit changelog
  CHANGELOG.md
Due: none

fix: include missing `py.typed` file (#318)
  CHANGELOG.md
  xrpl/py.typed
Due: none

improve readability of websocket_base by removing unnecessary optional queue
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

fix typing issue with generics in python 3.7 and 3.8
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

clean up error handling of request_impl in websockets
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

fixes typing issue with websockets in 3.7 and 3.8 (#321)
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

clean up
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

rename UnknownRequest -> CustomRequest
  CHANGELOG.md
  tests/integration/reqs/test_custom_request.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/custom_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

get constructor working
  tests/integration/reqs/test_unknown_request.py
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

more renames
  CHANGELOG.md
  tests/integration/reqs/test_custom_request.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

improve comments
  xrpl/models/requests/request.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

add tests, fix issues
  tests/integration/it_utils.py
  tests/integration/reqs/test_unknown_request.py
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/request.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

get tests working
  tests/integration/reqs/test_unknown_request.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

fix init
  xrpl/models/requests/custom_request.py
Due: isort, black, flake8, mypy

improve docstrings
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/models/requests/__init__.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

add explanatory comments
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

add docstrings
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy

initial implementation of UnknownRequest
  tests/integration/reqs/test_unknown_request.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/unknown_request.py
Due: isort, black, flake8, mypy, sphinx

rename test file
  tests/integration/reqs/test_generic_request.py
Due: isort, black, flake8

feat: add `GenericRequest` model for unsupported requests (#313)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_generic_request.py
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/generic_request.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

get basic transactions working
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
Due: isort, black, flake8

add debugging info
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

get rest of tests working
  tests/integration/reqs/test_subscribe.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

get all sugar tests except relsub to work
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

get all tx tests to work
  tests/integration/it_utils.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

get all request tests except subscribe to work
  tests/integration/it_utils.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/reqs/test_tx.py
Due: isort, black, flake8

increase reserve
  tests/integration/it_utils.py
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

turn on integ tests on all PRs
  .github/workflows/integration_test.yml
Due: none

fix attempt
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

actually add the docker
  .github/workflows/integration_test.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
