Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

Fix spacing on print statement
  snippets/multisigning.py
Due: isort, black, flake8

Add address alias
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

turn off check_fee by default
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

add tx type fee as max (for account delete purposes)
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

adjust fee check
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

improve check fee logic
  .vscode/settings.json
  CHANGELOG.md
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

fix error message
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix minor mypy issue
  mypy.ini
Due: none

fix: adjust `check_fee` logic to be more reasonable (#458)
  .vscode/settings.json
  CHANGELOG.md
  mypy.ini
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Fix default algorithm for public/private key
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Move helper func to top
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

feat: Add nft devnet, and hooks v2 testnet wallet inferencing (#455)
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Wrote main wallet tests for generation
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Add from_secret tests
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Remove breaking change for algorithm optional on wallet init
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

get parallel tests working
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

simplify relsub test
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

switch around method order
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

clean up
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
Due: isort, black, flake8

fix linter
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

fix hook wallet test
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Remove default algo for wallet init
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Reverted behavior of default algorithm for from_seed and init
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Add multisign helper
  snippets/multisigning.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Change name of master wallet in snippet
  snippets/multisigning.py
Due: isort, black, flake8

Fix docstrings
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Deprecate wallet create
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Add back amm devnet support
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Modularized helper
  snippets/multisigning.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

add XChainCreateBridge test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

add XChainCreateClaimID tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

comment out unwritten txs
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

get XChainCreateBridge test working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/bridge.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/models/__init__.py
  xrpl/models/bridge.py
Due: isort, black, flake8, mypy, sphinx

add models
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy, sphinx

add XChainClaim tx
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

get XChainCommit working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add test for xchain conversion, fix bugs
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy
