Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

v1.1.1 (#268)
  CHANGELOG.md
  pyproject.toml
Due: none

raise ImportErorr, over AssertionError as a result of an Import
  xrpl/core/keypairs/__init__.py
Due: isort, black, flake8, mypy, sphinx

update docs for clients
  CHANGELOG.md
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
  xrpl/core/keypairs/crypto_implementation.py
Due: isort, black, flake8, mypy

remove unnecessary NotImplementedError
  xrpl/asyncio/clients/client.py
  xrpl/clients/websocket_client.py
  xrpl/core/binarycodec/types/hash.py
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/keypairs/crypto_implementation.py
Due: isort, black, flake8, mypy

futher improvements
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

path docs improvements
  xrpl/models/path.py
Due: isort, black, flake8, mypy

Workaround for ripemd160 not being available on Google Colab
  xrpl/core/keypairs/__init__.py
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy, sphinx

pep8
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

lint
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

refactor to be simpler
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

lint
  xrpl/core/keypairs/__init__.py
Due: isort, black, flake8, mypy, sphinx

black change
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

Add explicit cast
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

Fix inverted logic
  xrpl/core/keypairs/helpers.py
Due: isort, black, flake8, mypy

fixes no_ripple_check request
  CHANGELOG.md
  tests/integration/reqs/test_no_ripple_check.py
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

fixes no_ripple_check request (#274)
  CHANGELOG.md
  tests/integration/reqs/test_no_ripple_check.py
  xrpl/asyncio/clients/utils.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

update docs for clients (#272)
  CHANGELOG.md
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
  xrpl/core/binarycodec/types/hash.py
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/models/path.py
Due: isort, black, flake8, mypy

Fixed the issue #276 by adding Cookie
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Added ValidatedHash
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

- Add Account Lines to asyncio/main, refs - Add Account Lines Test
  tests/integration/reqs/test_account_info.py
  xrpl/account/__init__.py
  xrpl/account/main.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy, sphinx

Add Hooks
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/set_hook.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

add 3.10 to tests
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

update websockets
  poetry.lock
  pyproject.toml
Due: none

upgrade websockets again
  poetry.lock
  pyproject.toml
Due: none

make tests not run twice
  .github/workflows/unit_test.yml
Due: none

feat: ensure support for python 3.10 (#285)
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
Due: none

add get_balance to Client
  tests/integration/sugar/test_account.py
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  xrpl/asyncio/clients/async_client.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

add account methods to clients
  tests/integration/sugar/test_account.py
  xrpl/asyncio/clients/async_client.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

add ledger methods to client
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/clients/async_client.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

ledger methods to client and changing linked tests
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/ledger/main.py
  xrpl/clients/sync_client.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

Add transaction methods to client
  .flake8
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_account.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/clients/sync_client.py
Due: isort, black, flake8, mypy

add py.typed everywhere
  py.typed
  xrpl/account/py.typed
  xrpl/asyncio/account/py.typed
  xrpl/asyncio/clients/py.typed
  xrpl/asyncio/ledger/py.typed
  xrpl/asyncio/py.typed
  xrpl/asyncio/transaction/py.typed
  xrpl/asyncio/wallet/py.typed
  xrpl/clients/py.typed
  xrpl/core/addresscodec/py.typed
  xrpl/core/binarycodec/py.typed
  xrpl/core/keypairs/py.typed
  xrpl/core/py.typed
  xrpl/ledger/py.typed
  xrpl/models/amounts/py.typed
  xrpl/models/currencies/py.typed
  xrpl/models/py.typed
  xrpl/models/requests/py.typed
  xrpl/models/transactions/py.typed
  xrpl/transaction/py.typed
  xrpl/utils/py.typed
  xrpl/wallet/py.typed
Due: none

fix: add py.typed files to all modules (#294)
  py.typed
  xrpl/account/py.typed
  xrpl/asyncio/account/py.typed
  xrpl/asyncio/clients/py.typed
  xrpl/asyncio/ledger/py.typed
  xrpl/asyncio/py.typed
  xrpl/asyncio/transaction/py.typed
  xrpl/asyncio/wallet/py.typed
  xrpl/clients/py.typed
  xrpl/core/addresscodec/py.typed
  xrpl/core/binarycodec/py.typed
  xrpl/core/keypairs/py.typed
  xrpl/core/py.typed
  xrpl/ledger/py.typed
  xrpl/models/amounts/py.typed
  xrpl/models/currencies/py.typed
  xrpl/models/py.typed
  xrpl/models/requests/py.typed
  xrpl/models/transactions/py.typed
  xrpl/transaction/py.typed
  xrpl/utils/py.typed
  xrpl/wallet/py.typed
Due: none

change order of authors
  pyproject.toml
Due: none

remove CODEOWNERS
  CODEOWNERS
Due: none

chore: remove CODEOWNERS (#295)
  CODEOWNERS
  pyproject.toml
Due: none

include 3.9
  poetry.lock
  pyproject.toml
Due: none

update lock
  poetry.lock
Due: none

allow 3.7-3.9 to use 10.0
  pyproject.toml
Due: none
