Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Remove poe test
  pyproject.toml
Due: none

Fix spacing linting
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_fund.py
Due: isort, black, flake8

Fix spacing linting
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Fix unit tests
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Flipped logic and changed alias
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Added link to algo in docstring
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Added thrown exceptions for secret numbers tests
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Removed else block from sign with multisign
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Resolve comments
  tests/integration/reqs/test_submit_only.py
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

breaking: Refactored wallet class and removed wallet sequence (#477)
  CHANGELOG.md
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/keypairs/test_main.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/addresscodec/__init__.py
  xrpl/core/addresscodec/main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

Commented xrpl-secret-numbers
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Change name of function
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Update comment location
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Update xrpl/wallet/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

feat: generate wallet from secret numbers (#492)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Removed intense checking in submit multisign test
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

Abstract out variables for multisign snippet
  tests/integration/reqs/test_submit_multisigned.py
Due: isort, black, flake8

feat: Add multisign snippet, multisign functionality to autofill, and multisign helper (#459)
  snippets/multisign.py
  tests/integration/reqs/test_submit_multisigned.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/multisign.py
Due: isort, black, flake8, mypy, sphinx

Add nft_offer type in AccountObjects
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add check for txnNotFound
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

edit change log
  CHANGELOG.md
Due: none

Update xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add gateway + setup
  tests/integration/reusable_values.py
Due: isort, black, flake8

update xrp to amount
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_fund.py
Due: isort, black, flake8, mypy

add tests
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
Due: isort, black, flake8

fund wallet
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add test for xchain conversion, fix bugs
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
Due: isort, black, flake8, mypy

fix typo
  xrpl/core/binarycodec/types/bridge.py
Due: isort, black, flake8, mypy

get XChainCreateBridge test working
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/bridge.py
  xrpl/core/binarycodec/types/issued_currency.py
  xrpl/models/__init__.py
  xrpl/models/bridge.py
Due: isort, black, flake8, mypy, sphinx

add XChainCreateBridge test
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

comment out unwritten txs
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy

fix unused variable
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

fix bugs
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/field_header.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
Due: isort, black, flake8, mypy

add models
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_claim.py
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy, sphinx

update to handle XChainAddAttestation (and fix everything else)
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/test_base_model.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/core/binarycodec/types/xchain_claim_attestation_batch.py
  xrpl/models/bridge.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
