Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add unit tests for PDDelete
  tests/unit/models/transactions/test_permissioned_domain_delete.py
  tests/unit/models/transactions/test_permissioned_domain_set.py
  xrpl/models/transactions/permissioned_domain_delete.py
Due: isort, black, flake8, mypy

reword comment: replace aliter with alternatively
  tests/integration/transactions/test_permissioned_domain.py
Due: isort, black, flake8

Update xrpl/models/transactions/permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_delete.py
Due: isort, black, flake8, mypy

respond to comments
  CONTRIBUTING.md
  pyproject.toml
  tools/generate_definitions.py
Due: isort, black, flake8

bitwise
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add multisign test
  tests/integration/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove unneeded rename
  tools/generate_definitions.py
Due: isort, black, flake8

Update tests/integration/transactions/test_permissioned_domain.py
  tests/integration/transactions/test_permissioned_domain.py
Due: isort, black, flake8

fix linter errors
  tests/integration/transactions/test_permissioned_domain.py
Due: isort, black, flake8

introduce DOMAIN_ID_LENGTH variable
  tests/unit/models/transactions/test_permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_delete.py
Due: isort, black, flake8, mypy

update the error message to use f-strings
  tests/unit/models/transactions/test_permissioned_domain_delete.py
Due: isort, black, flake8

XLS-80d Permissioned Domains (#773)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CHANGELOG.md
  tests/integration/transactions/test_permissioned_domain.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/transactions/test_permissioned_domain_delete.py
  tests/unit/models/transactions/test_permissioned_domain_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

change wording
  tools/generate_definitions.py
Due: isort, black, flake8

fix wording
  tools/generate_definitions.py
Due: isort, black, flake8

lsf flags
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

respond to comments
  tools/generate_definitions.py
Due: isort, black, flake8

fix integ
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

fix tests
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

offercreate test fix
  tests/integration/transactions/test_offer_create.py
Due: isort, black, flake8

Handle OracleSet integ transactions distinctly: Fill last_update_time from last_validated_ledger_close_time value to maintain clock synchronization
  tests/integration/it_utils.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_set_oracle.py
Due: isort, black, flake8

Deep freeze XLS-77d (#803)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_delete_oracle.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_set_oracle.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy

increment version
  CHANGELOG.md
  pyproject.toml
Due: none

4.1.0 release (#806)
  CHANGELOG.md
  pyproject.toml
Due: none

fix linter error
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix more
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/nftoken_modify.py
  xrpl/models/transactions/permissioned_domain_delete.py
  xrpl/models/transactions/permissioned_domain_set.py
Due: isort, black, flake8, mypy

AccountPermissionSet: models and integration tests
  .ci-config/rippled.cfg
  tests/integration/transactions/test_account_permission_set.py
  tests/unit/models/transactions/test_account_permission_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_permission_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update changelog
  CHANGELOG.md
Due: none

additional unit test validations for transaction common fields
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix: Update default cryptographic algorithm in `Wallet` class methods (#770)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

add MPTAmount support in Issue model with new test module
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

small refactor
  xrpl/core/binarycodec/types/hash192.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

fix lint
  xrpl/core/binarycodec/types/hash192.py
Due: isort, black, flake8, mypy

refactor
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

add non-standard currency code tests
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

cleanup
  tests/unit/core/binarycodec/types/test_issue.py
Due: isort, black, flake8

add message verification
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

feat: add model validation for types (#708)
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_check_cash.py
  tests/unit/models/transactions/test_oracle_set.py
  tests/unit/models/transactions/test_xchain_claim.py
  xrpl/models/base_model.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/oracle_set.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix: add `MPTAmount` support in `Issue` model (#809)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_issue.py
  xrpl/core/binarycodec/types/hash192.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy
