Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Make `sign` synchronous (#598)
  CHANGELOG.md
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

refactor: Make param order for signing/submitting consistent (#600)
  CHANGELOG.md
  README.md
  snippets/paths.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Fix a mix up with AccountSet flags (#524)
  CHANGELOG.md
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx

breaking: Refactored wallet class and removed wallet sequence (#477)
  CHANGELOG.md
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/sugar/test_transaction.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/core/addresscodec/test_main.py
  tests/unit/core/keypairs/test_main.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/addresscodec/__init__.py
  xrpl/core/addresscodec/main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

feat: Remove `send_reliable_submission` (#592)
  README.md
  snippets/submit_payment.py
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

Remove long aliases for signing/submitting functions (#599)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

[BREAKING] fix: XRP().to_amount now expects XRP instead of drops (#554)
  CHANGELOG.md
  tests/unit/models/currencies/test_xrp.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

Fix invalid account address (#611)
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

Add missing entries to CHANGELOG + bump version
  CHANGELOG.md
  pyproject.toml
Due: none

Release xrpl-py 2.0.0 (#613)
  CHANGELOG.md
  pyproject.toml
Due: none

fix settings.json
  .vscode/settings.json
Due: none

run linting on snippets
  .github/workflows/unit_test.yml
Due: none

Fix aliasing issue
  CHANGELOG.md
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

test: run linting on snippets (#615)
  .github/workflows/unit_test.yml
Due: none

Lint
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

use AccountSetAsfFlag
  tests/integration/reusable_values.py
Due: isort, black, flake8

fix: Fix `classic_address` aliasing issue (#617)
  CHANGELOG.md
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

bump version
  pyproject.toml
Due: none

update poetry lock file
  poetry.lock
Due: none

Add migration guide and update initial code snippet
  README.md
Due: none

reset poetry file
  poetry.lock
Due: none

docs: Update README with migration guide and more relevant tutorial (#618)
  README.md
Due: none

allow fund_wallet to be used in integration tests
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

fix(tests): allow fund_wallet to be used in integration tests (#619)
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

move setup
  tests/integration/reusable_values.py
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

flag rename
  tests/integration/transactions/test_clawback.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

docker link
  .github/workflows/integration_test.yml
Due: none

doc
  CONTRIBUTING.md
Due: none

fix integratin
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

Update docker file to xrpld:1.12.0-b1 (#620)
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

remove sidechain method
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

small refactor
  xrpl/asyncio/transaction/main.py
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

update docstrings
  xrpl/models/requests/amm_info.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_create.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

unittest
  tests/unit/models/transactions/test_clawback.py
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

fix test name
  tests/unit/models/transactions/test_clawback.py
Due: isort, black, flake8

bump version to 2.1.0
  pyproject.toml
Due: none

release 2.1.0 (#623)
  pyproject.toml
Due: none

release 1.10.0
  pyproject.toml
Due: none

Fix invalid account address (#611) (#625)
  tests/integration/sugar/test_account.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
