Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix docstrings
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/models/mptoken_metadata.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

use dict over Dict
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

add encode decode in IT
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

fix IT
  tests/integration/transactions/test_mptoken_issuance_create.py
Due: isort, black, flake8

fix test
  tests/integration/transactions/test_mptoken_issuance_create.py
Due: isort, black, flake8

Add encode_mptoken_metadata and decode_mptoken_metadata utility functions (#880)
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_create.py
  tests/unit/models/mptoken-metadata-encode-decode-fixtures.json
  tests/unit/models/mptoken-metadata-validation-fixtures.json
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/__init__.py
  xrpl/models/mptoken_metadata.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
  xrpl/utils/__init__.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy, sphinx

Fix failed integration tests due to removal of ammendaments
  .ci-config/rippled.cfg
  tests/integration/it_utils.py
  tests/integration/transactions/test_delegate_set.py
Due: isort, black, flake8

beta release workflow
  .github/workflows/release.yml
Due: none

beta release workflow
  .github/workflows/faucet_test.yml
  .github/workflows/release.yml
Due: none

beta release workflow
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

revert changes not needed
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

revert changes not needed
  .github/workflows/faucet_test.yml
Due: none

fix: Update the PermDelegation feature name in the rippled.cfg file; Use terNO_DELEGATE_PERMISSION error in the integ tests;
  .ci-config/rippled.cfg
  tests/integration/transactions/test_delegate_set.py
Due: isort, black, flake8

Fix failing Integration Test workflow (#883)
  .ci-config/rippled.cfg
  tests/integration/transactions/test_delegate_set.py
Due: isort, black, flake8

release: update the patch version of the xrpl-py package and the CHANGELOG entry
  CHANGELOG.md
  pyproject.toml
Due: none

fix: Add a missing CHANGELOG entry
  CHANGELOG.md
Due: none

release 4.3.1: update the patch version of the xrpl-py package (#884)
  CHANGELOG.md
  pyproject.toml
Due: none

fix: better formatting handling in definitions script (#879)
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

prevent code injection
  .github/workflows/release.yml
Due: none

test release
  .github/workflows/release.yml
Due: none

update RELEASE.md
  RELEASE.md
Due: none

typo in example async
  README.md
Due: none

update: PermissionDelegation and LP features have been updated to Supported::no. Remove their names from the amendment-list inside the ci-config file
  .ci-config/rippled.cfg
Due: none

address minor coderabbit suggestions
  tests/integration/transactions/test_lending_protocol.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/loan_set.py
Due: isort, black, flake8, mypy

feat: add support and tests for sign method
  tests/integration/reqs/test_sign.py
  tests/unit/models/requests/test_sign.py
  xrpl/models/requests/sign.py
Due: isort, black, flake8, mypy

fix: remove moot case in autofilling fees for LoanSet transaction
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix: add PermissionDelegationV1_1 amendment into the config file for explicit inclusion
  .ci-config/rippled.cfg
Due: none

Support for Lending Protocol (XLS-66d) (#866)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/reqs/test_sign.py
  tests/integration/transactions/test_lending_protocol.py
  tests/integration/transactions/test_single_asset_vault.py
  tests/unit/core/binarycodec/types/test_blob.py
  tests/unit/models/requests/test_sign.py
  tests/unit/models/transactions/test_loan_broker_cover_clawback.py
  tests/unit/models/transactions/test_loan_broker_set.py
  tests/unit/models/transactions/test_loan_set.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/issue.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/sign.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_broker_cover_clawback.py
  xrpl/models/transactions/loan_broker_cover_deposit.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_delete.py
  xrpl/models/transactions/loan_broker_set.py
  xrpl/models/transactions/loan_delete.py
  xrpl/models/transactions/loan_manage.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/loan_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx
