Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix linter errors
  tests/integration/transactions/test_amm_clawback.py
Due: isort, black, flake8

Update tests/unit/models/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_clawback.py
Due: isort, black, flake8

Fix the incorrect code-rabbit update suggestion
  tests/unit/models/transactions/test_amm_clawback.py
Due: isort, black, flake8

modify trustset flags'
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy

comment
  xrpl/models/transactions/trust_set.py
Due: isort, black, flake8, mypy

fix broken test
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
Due: isort, black, flake8

resolve comment
  CHANGELOG.md
Due: none

offercreate test integration
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add to cfg
  .ci-config/rippled.cfg
Due: none

full integration tests
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

remove faulty for test
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

remvoe faulty
  tests/integration/transactions/test_offer_create.py
Due: isort, black, flake8

readd tests
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

switch operator flags
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

support DynamicNFT XLS-46 (#799)
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/nftoken_modify.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update script to follow server_definitions format
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

oops wrong branch
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add basic Github support
  tools/generate_definitions.py
Due: isort, black, flake8

pipe automatically to file
  tools/generate_definitions.py
Due: isort, black, flake8

add Github support to model generation
  tools/generate_tx_models.py
Due: isort, black, flake8

add poe script
  pyproject.toml
Due: none

address PR comments
  tests/integration/reusable_values.py
  tests/integration/transactions/test_permissioned_domain.py
Due: isort, black, flake8

Update xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

ashray PR suggestion: change error message
  tests/unit/models/transactions/test_amm_clawback.py
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

pacify the linter
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

clean up
  tools/generate_definitions.py
Due: isort, black, flake8

shorten variable name
  tests/integration/it_utils.py
Due: isort, black, flake8

fix: update variable name at function invocation
  tests/integration/transactions/test_amm_clawback.py
Due: isort, black, flake8

more cleanup
  tools/generate_definitions.py
Due: isort, black, flake8

Merge
  .darglint
  .flake8
  .github/workflows/unit_test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/unit/models/transactions/test_better_transaction_flags.py
  tests/unit/models/transactions/test_nftoken_modify.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/nftoken_modify.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

feat: add support for the `simulate` RPC (XLS-69d) (#793)
  .github/workflows/integration_test.yml
  .vscode/settings.json
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_simulate.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/requests/test_simulate.py
  tests/unit/models/test_base_model.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/nested_model.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/sign.py
  xrpl/models/requests/sign_and_submit.py
  xrpl/models/requests/sign_for.py
  xrpl/models/requests/simulate.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

Asyncio changed to await
  xrpl/clients/sync_client.py
  xrpl/transaction/reliable_submission.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

remove transaction_ids
  tests/integration/sugar/test_transaction.py
  tests/unit/transaction/test_batch_signers.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/batch.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/transaction/test_batch_signers.py
Due: isort, black, flake8

Update main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

add comment for clarity
  tests/unit/models/transactions/test_better_transaction_flags.py
Due: isort, black, flake8

fix operator
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add success check
  tests/integration/transactions/test_offer_create.py
Due: isort, black, flake8

add terssuccess check
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

Support AMMClawback amendment (#802)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_clawback.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx
