Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

remove more
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/delegate_set.py
Due: isort, black, flake8, mypy

improve changelog
  CHANGELOG.md
Due: none

fix definitions, update amendments in config
  .ci-config/rippled.cfg
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix integration tests
  tests/integration/it_utils.py
  tests/integration/transactions/test_escrow.py
Due: isort, black, flake8

bump version
  pyproject.toml
Due: none

add workflow_dispatch to publish flow
  .github/workflows/publish_to_pypi.yml
Due: none

fix tests (hopefully)
  tests/integration/it_utils.py
  tests/integration/transactions/test_escrow.py
Due: isort, black, flake8

Update definitions, transaction-models with the latest cpp implementation
  .ci-config/rippled.cfg
  tests/integration/transactions/test_sav.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Model and Integ-tests for VaultInfo Request
  tests/integration/reqs/test_vault_info.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/vault_info.py
Due: isort, black, flake8, mypy, sphinx

fix linter errors
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

remove unused type:ignore directives
  xrpl/models/requests/vault_info.py
Due: isort, black, flake8, mypy

use tecNO_DELEGATE_PERMISSION error code
  tests/integration/transactions/test_delegate_set.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

add backoff
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

run one job at a time
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
Due: none

revert retry changes
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix IT
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

move retry logic to test code
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix status_code check
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

expect tecNO_DELEGATE_PERMISSION error code instead of tecNO_PERMISSION (#842)
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_delegate_set.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

fix definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix changelog
  CHANGELOG.md
Due: none

clean up changelog
  CHANGELOG.md
Due: none

more changelog cleanup
  CHANGELOG.md
Due: none

fix typing
  xrpl/core/binarycodec/main.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

refactor: improve `Request.from_dict` to have fewer exceptions to the rule (#726)
  CHANGELOG.md
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/requests/test_requests.py
  xrpl/models/base_model.py
  xrpl/models/requests/amm_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

clean up
  tests/unit/core/binarycodec/test_main.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/core/binarycodec/test_main.py
Due: isort, black, flake8

Revert "fix: Update default cryptographic algorithm in `Wallet` class methods…"
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Revert "fix: Update default cryptographic algorithm in `Wallet` class methods" (#843)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

respond to comments
  .ci-config/rippled.cfg
  tests/unit/models/transactions/test_batch.py
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

execute faucet tests separately
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
  pyproject.toml
  tests/faucet/test_faucet_wallet.py
Due: isort, black, flake8

fix issues
  tests/unit/models/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

remove bad test, improve fee calculation
  tests/unit/models/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

remove unneeded code
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

fix tests
  CHANGELOG.md
  tests/integration/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

execute faucet tests separately (#844)
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
  pyproject.toml
  tests/faucet/test_faucet_wallet.py
Due: isort, black, flake8

fix faucet test
  tests/faucet/test_faucet_wallet.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
