Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update fail hard docstring
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add http header for faucet
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

modify and add tests to is_signed
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add blob methods
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update comments
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

feat: add submit and wait for transaction submission (#528)
  CHANGELOG.md
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/sugar/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

add use_case param to header
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

initial commit
  xrpl/models/flags.py
  xrpl/models/requests/__init__.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

remove nft by issuer
  xrpl/models/requests/__init__.py
  xrpl/models/requests/nfts_by_issuer.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

remove space
  xrpl/models/requests/nft_history.py
Due: isort, black, flake8, mypy

working
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/flags.py
  xrpl/models/requests/__init__.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx

fix string
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

fix error message
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

change to json body
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

change to camelcase
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Add `nft_info` and `nft_history` clio APIs (#573)
  xrpl/models/requests/__init__.py
  xrpl/models/requests/nft_history.py
  xrpl/models/requests/nft_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

change name to usage_context
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

fix: hooks v3 testnet
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

update definitions and codec-fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix: assorted fixes (#570)
  .vscode/settings.json
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
  xrpl/core/keypairs/main.py
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

fix unfunded wallet
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

fix faucet request time
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Update manual steps
  .ci-config/rippled.cfg
  CONTRIBUTING.md
Due: none

Update the CI with the new docker
  .github/workflows/integration_test.yml
Due: none

Remove deprecated functions
  CHANGELOG.md
  xrpl/account/__init__.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/__init__.py
  xrpl/transaction/ledger.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy, sphinx

Run isort
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

fix: hooks v3 testnet (#576)
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Lint
  tests/integration/transactions/test_check_create.py
Due: isort, black, flake8

Update the docker container to use latest amendments (#577)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

Revert changes that aren't part of this PR
  .vscode/settings.json
  CHANGELOG.md
  poetry.lock
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/core/keypairs/main.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Lint
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Pull in hooks fix
  tests/unit/asyn/wallet/test_wallet_generation.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

test
  tests/integration/reusable_values.py
  tests/integration/transactions/test_clawback.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy, sphinx

remove flag
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

comment
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

rename
  tests/integration/transactions/test_clawback.py
Due: isort, black, flake8

Remove deprecated functions
  CHANGELOG.md
  xrpl/account/__init__.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/__init__.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy, sphinx

Fix isort
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

chore: Remove deprecated request functions (attempt 2) (#581)
  CHANGELOG.md
  xrpl/account/__init__.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/__init__.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy, sphinx

rename AccountSetFlag -> AccountSetAsfFlags
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy, sphinx
