Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

update definitions file
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add network id to base transaction
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add disable incoming
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Lint
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

add submit and wait
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Remove from TX_FLAGS
  xrpl/models/flags.py
Due: isort, black, flake8, mypy

Add disallow_incoming flags (#522)
  CHANGELOG.md
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

add tests and fix errors
  snippets/send_escrow.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

feature `Hooks`
  tests/unit/models/transactions/test_set_hook.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/set_hook.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

make network id optional
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add hook utils
  tests/unit/utils/test_hooks.py
  xrpl/utils/__init__.py
  xrpl/utils/hooks.py
Due: isort, black, flake8, mypy, sphinx

fixup! estimate fees
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/__init__.py
  xrpl/ledger/main.py
  xrpl/models/requests/fee.py
Due: isort, black, flake8, mypy, sphinx

fixup! network id as number
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

refactor asset pair to be Currency type
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

update amm_info asset pair to be Currency type and remove Issue model
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/test_base_model.py
  xrpl/models/currencies/__init__.py
  xrpl/models/currencies/issue.py
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy, sphinx

increment pyproject version
  pyproject.toml
Due: none

Update CONTRIBUTING.md (#516)
  CONTRIBUTING.md
Due: none

fix snippets
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/reliable_transaction_submission.py
  snippets/set_regular_key.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add get_network_id func
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/__init__.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy, sphinx

add network id to client
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

add network id to autofill
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

docs: Improve poetry docs
  CONTRIBUTING.md
Due: none

docs: Improve poetry docs (#529)
  CONTRIBUTING.md
Due: none

rename DisallowIncoming flag for NFTs
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

support signed tx
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix is_signed
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

export transaction type map and list
  xrpl/core/binarycodec/definitions/__init__.py
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy, sphinx

update hook on transaction types
  tests/unit/utils/test_hooks.py
  xrpl/utils/hooks.py
Due: isort, black, flake8, mypy

update docs
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

add missing variable
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Start porting over the getNFTokenID logic
  CHANGELOG.md
  xrpl/models/ledger/__init__.py
  xrpl/models/ledger/nft.py
  xrpl/models/transactions/metadata.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy, sphinx

Add initial implementation and tests
  tests/unit/utils/test_get_nftoken_id.py
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response1.json
  tests/unit/utils/txn_parser/transaction_jsons/nftokenmint_response2.json
  xrpl/models/ledger/nft.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

Lint and add tests
  tests/unit/utils/test_get_nftoken_id.py
  xrpl/models/ledger/__init__.py
  xrpl/models/ledger/nft.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy, sphinx

feat: remove nft-devnet faucet
  CHANGELOG.md
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

support blob
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix optional
  snippets/multisign.py
  snippets/partial_payment.py
  snippets/reliable_transaction_submission.py
  snippets/send_escrow.py
  snippets/set_regular_key.py
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
