Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

fix nestedmodel typing
  xrpl/models/nested_model.py
Due: isort, black, flake8, mypy

fix import
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

remove sidechain util
  tests/unit/utils/test_sidechain.py
  xrpl/utils/__init__.py
  xrpl/utils/sidechain.py
Due: isort, black, flake8, mypy, sphinx

remove federator_info
  xrpl/models/requests/federator_info.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

Test submit transaction alias
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Fix unexpected EOF
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

Deprecated get_account_info, get_transaction_from_hash, get_account_payment_transactions for direct requests
  CHANGELOG.md
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

Update usecases of deprecated functions
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Fix account root method
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

update Issue form
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

Throw error in get account root now
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

fix models
  xrpl/models/xchain_bridge.py
Due: isort, black, flake8, mypy

fix test
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add Issue type
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy, sphinx

add flags to AMM deposit & withdraw
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/flags.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy, sphinx

add Issue model
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/currencies/__init__.py
  xrpl/models/currencies/issue.py
Due: isort, black, flake8, mypy, sphinx

add Issue type to models with asset & asset2; remove amm_id
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_vote.py
  xrpl/models/requests/amm_info.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

resolve lint errors
  tests/unit/models/requests/test_amm_info.py
  xrpl/core/binarycodec/types/issue.py
Due: isort, black, flake8, mypy

rename LPToken in amm deposit & withdraw
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

update docstrings
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

add AMM codec-fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
Due: isort, black, flake8

add one asset withdraw & withdraw all tests
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

updated CHANGELOG and pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: fix `NestedModel` typing (#474)
  CHANGELOG.md
  xrpl/models/nested_model.py
Due: isort, black, flake8, mypy

Switched address used in main.py account to be renamed
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

Changed wallet class to look alike xrpljs
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Change address to be more safe
  xrpl/asyncio/account/main.py
Due: isort, black, flake8, mypy

refactor: Deprecate xrpl-py sugar that is just a wrapper on a request (#473)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

Add tests to wallet refactor
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Remove changelog changes
  CHANGELOG.md
Due: none

Shortened address function
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Updated CHANGELOG
  CHANGELOG.md
Due: none

Fix tests for sequence removal
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
  tests/unit/models/transactions/test_better_transaction_flags.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Fix get next valid seq num imports
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

Made request_impl into a private method
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

Add from secret numbers tests
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Add from_secret tests
  tests/unit/asyn/wallet/test_main.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
