Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

shorten variable names _ACCOUNT_ISSUER
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_delete.py
Due: isort, black, flake8

use SHA512Half values for Credential IDs
  tests/unit/models/transactions/test_deposit_preauth.py
Due: isort, black, flake8

include multiple credential_ids in PayChanClaim unit tests
  tests/unit/models/transactions/test_payment_channel_claim.py
Due: isort, black, flake8

Apply suggestions from code review
  tests/unit/models/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_escrow_finish.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

address PR comments: refactor _get_errors() method
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

rectify all unit-test error messages
  tests/unit/models/transactions/test_account_delete.py
Due: isort, black, flake8

rewrite DepositPreauth unit test to use Credential object
  tests/unit/models/transactions/test_deposit_preauth.py
Due: isort, black, flake8

pacify the linter
  tests/unit/models/transactions/test_payment.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

add validation checks for transfer_fee
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_accept.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

addressed Omar's comments
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

[Fix #354] Introduce decode_ledger_data utility method
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/fixtures/data_driven_fixtures.py
  tests/unit/core/binarycodec/test_field_id_codec.py
  xrpl/core/binarycodec/field_id_codec.py
Due: isort, black, flake8, mypy

feat: add validation checks for MPT TransferFee (#784)
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

update release date again
  CHANGELOG.md
Due: none

pacify the linter
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

fix imports
  poetry.lock
  pyproject.toml
Due: none

fix Hash192
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

update release date
  CHANGELOG.md
Due: none

add Credentials in CHANGELOG
  CHANGELOG.md
Due: none

add recent amendments in rippled
  .ci-config/rippled.cfg
Due: none

Update .ci-config/rippled.cfg
  .ci-config/rippled.cfg
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

include None check in validate_creds method
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

Credentials (#759)
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  tests/integration/transactions/test_credential.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/unit/models/requests/test_deposit_authorized.py
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/transactions/test_account_delete.py
  tests/unit/models/transactions/test_credential_accept.py
  tests/unit/models/transactions/test_credential_create.py
  tests/unit/models/transactions/test_credential_delete.py
  tests/unit/models/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_escrow_finish.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/deposit_authorized.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/did_set.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy, sphinx

4.0.0 release (#783)
  CHANGELOG.md
Due: none

[Fix #710] Use network_id to identify faucet_url (#715)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Update lock file
  poetry.lock
Due: none

Update escrow snippet: Use rippled API v2 format
  snippets/send_escrow.py
Due: isort, black, flake8

Update xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

add `simulate` RPC
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/simulate.py
Due: isort, black, flake8, mypy, sphinx

update changelog
  CHANGELOG.md
Due: none

rectify the invocaton of CC serialize_binary method
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

fix changelog
  CHANGELOG.md
Due: none

rename field
  tests/unit/transaction/test_batch_signers.py
  xrpl/asyncio/transaction/main.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

more renames
  tests/integration/sugar/test_transaction.py
  tests/unit/core/binarycodec/test_main.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/main.py
  xrpl/models/transactions/batch.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy
