Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

add nft cancel offer tx model
  xrpl/models/transactions/nftoken_cancel_offer.py
Due: isort, black, flake8, mypy

add new requests to request models
  xrpl/models/requests/__init__.py
Due: isort, black, flake8, mypy, sphinx

add nft_buy_offers request model
  xrpl/models/requests/nft_buy_offers.py
Due: isort, black, flake8, mypy

Add account_nfts request and lint rest
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  xrpl/models/requests/account_nfts.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_cancel_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy, sphinx

add nft create offer tx model
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

remove flags from nft create and mint models
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

add missing binary codec definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

paste new definitions file
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add nft methods to Requests
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

comments
  CHANGELOG.md
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy, sphinx

fix request implementations
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

improve type hints in base_model
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
  xrpl/models/types.py
Due: isort, black, flake8, mypy

add accept offer tx model
  xrpl/models/transactions/nftoken_accept_offer.py
Due: isort, black, flake8, mypy

add txs to tx_types and init
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

fixup docs
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
Due: isort, black, flake8, mypy

add nft_sell_offers request model
  xrpl/models/requests/nft_sell_offers.py
Due: isort, black, flake8, mypy

Add nft support (#289)
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/models/transactions/test_account_set.py
  tests/unit/models/transactions/test_nftoken_accept_offer.py
  tests/unit/models/transactions/test_nftoken_cancel_offer.py
  tests/unit/models/transactions/test_nftoken_create_offer.py
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/definitions/field_instance.py
  xrpl/core/binarycodec/types/serialized_dict.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/amount.py
  xrpl/models/base_model.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_nfts.py
  xrpl/models/requests/nft_buy_offers.py
  xrpl/models/requests/nft_sell_offers.py
  xrpl/models/requests/request.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/nftoken_accept_offer.py
  xrpl/models/transactions/nftoken_burn.py
  xrpl/models/transactions/nftoken_cancel_offer.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/types.py
Due: isort, black, flake8, mypy, sphinx

use drops instead of XRP in get_fee
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

add max_fee stuff
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

add fee scaling
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

add max fee param
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

capitalize changelog line
  CHANGELOG.md
Due: none

edit docstrings
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

add test
  tests/integration/sugar/test_ledger.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

use Fee calculations, add param for fee type
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

respond to comments
  CHANGELOG.md
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

feat: scales fee based on ledger load (#328)
  CHANGELOG.md
  tests/integration/sugar/test_ledger.py
  xrpl/asyncio/ledger/main.py
  xrpl/ledger/main.py
Due: isort, black, flake8, mypy

add final type
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

use localcontext context manager in xrp conversions
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

replace setcontext with localcontext in binarycodec amount
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

add TODOs for exporting contexts
  xrpl/core/binarycodec/types/amount.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

rename constants
  xrpl/constants.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

export contexts
  xrpl/constants.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

fix: replace Decimal `setcontext` with `localcontext` context manager (#326)
  CHANGELOG.md
  xrpl/constants.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

adjust tests
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

make autofill a public method
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
