Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

feat: add support for XLS-40 + add script to auto-generate models from rippled code (#652)
  .ci-config/rippled.cfg
  .vscode/settings.json
  CHANGELOG.md
  tests/integration/transactions/test_did_delete.py
  tests/integration/transactions/test_did_set.py
  tests/unit/models/transactions/test_did_delete.py
  tests/unit/models/transactions/test_did_set.py
  tools/generate_tx_models.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/base_model.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/did_delete.py
  xrpl/models/transactions/did_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

feat: remove AMM devnet
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

remove amm devnet unit tests
  tests/unit/asyn/wallet/test_wallet.py
Due: isort, black, flake8

ci: run type checking on earliest python version (#665)
  .github/workflows/unit_test.yml
Due: none

simplify
  tests/integration/transactions/test_xchain_add_claim_attestation.py
  tests/integration/transactions/test_xchain_claim.py
Due: isort, black, flake8

test: add integration tests for sidechain transactions (#571)
  tests/integration/reusable_values.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_xchain_account_create_commit.py
  tests/integration/transactions/test_xchain_add_account_create_attestation.py
  tests/integration/transactions/test_xchain_add_claim_attestation.py
  tests/integration/transactions/test_xchain_claim.py
  tests/integration/transactions/test_xchain_commit.py
  tests/integration/transactions/test_xchain_create_bridge.py
  tests/integration/transactions/test_xchain_create_claim_id.py
  tests/integration/transactions/test_xchain_modify_bridge.py
Due: isort, black, flake8

feat: remove AMM devnet (#666)
  CHANGELOG.md
  tests/integration/sugar/test_wallet.py
  tests/unit/asyn/wallet/test_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

Update changelog for release of 2.5.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fix CHANGELOG
  CHANGELOG.md
Due: none

Release xrpl-py 2.5.0 (#667)
  CHANGELOG.md
  pyproject.toml
Due: none

Update CONTRIBUTING.md to use main instead of master
  CONTRIBUTING.md
Due: none

Use b4 instead of b3 for docker container
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md to use main instead of master (#668)
  CONTRIBUTING.md
Due: none

fix DGE-2049: add CTID field in the tx command request
  tests/unit/models/requests/test_tx.py
  xrpl/models/requests/tx.py
Due: isort, black, flake8, mypy

update CHANGELOG: include `ctid` field in tx request
  CHANGELOG.md
Due: none

Update tests/unit/models/requests/test_tx.py
  tests/unit/models/requests/test_tx.py
Due: isort, black, flake8

include docstrings for the tx command from xrpl.org
  xrpl/models/requests/tx.py
Due: isort, black, flake8, mypy

use filter instead of explicit for loop
  xrpl/models/requests/tx.py
Due: isort, black, flake8, mypy

remove optional type from ledger_entry_type
  xrpl/models/ledger_objects/ledger_object.py
Due: isort, black, flake8, mypy

fix the ISO currency code regex to match the documentation
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/constants.py
Due: isort, black, flake8, mypy

include integration tests for verifying the currency codes
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

address PR comments
  CHANGELOG.md
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add AMM ledger object
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/ledger_entry_type.py
Due: isort, black, flake8, mypy, sphinx

address PR comments: add unit tests to validate exceptions triggered by positional args on data class
  tests/unit/models/requests/test_channel_authorize.py
  tests/unit/models/requests/test_sign.py
Due: isort, black, flake8

add DID ledger object
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/did.py
  xrpl/models/ledger_objects/ledger_entry_type.py
Due: isort, black, flake8, mypy, sphinx

include example usage of faucet_host in the docstring
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add try-catch block to produce better error msg
  tests/integration/sugar/test_generate_faucet_wallet.py
  xrpl/asyncio/wallet/wallet_generation.py
Due: isort, black, flake8, mypy

add Bridge ledger object
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/ledger_entry_type.py
Due: isort, black, flake8, mypy, sphinx

fix doctring
  xrpl/models/ledger_objects/bridge.py
Due: isort, black, flake8, mypy

fix typos
  xrpl/models/ledger_objects/amm.py
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/did.py
Due: isort, black, flake8, mypy

add XChainOwnedClaimID ledger object
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/ledger_entry_type.py
  xrpl/models/ledger_objects/xchain_owned_claim_id.py
Due: isort, black, flake8, mypy, sphinx

add XChainOwnedCreateAccountClaimID ledger object
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/ledger_entry_type.py
  xrpl/models/ledger_objects/xchain_owned_create_account_claim_id.py
Due: isort, black, flake8, mypy, sphinx

small docstring updates
  xrpl/models/ledger_objects/bridge.py
  xrpl/models/ledger_objects/did.py
Due: isort, black, flake8, mypy

update AccountRoot
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/account_root.py
Due: isort, black, flake8, mypy

update Amendments
  xrpl/models/ledger_objects/amendments.py
Due: isort, black, flake8, mypy

update AMM
  tests/unit/models/test_ledger_object.py
  xrpl/models/ledger_objects/amm.py
Due: isort, black, flake8, mypy

update Check
  xrpl/models/ledger_objects/check.py
Due: isort, black, flake8, mypy

fix Check field
  xrpl/models/ledger_objects/check.py
Due: isort, black, flake8, mypy

update DepositPreauth
  xrpl/models/ledger_objects/deposit_preauth.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
