Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

move all http to async (#243)
  .darglint
  CHANGELOG.md
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
  poetry.lock
  pyproject.toml
  tests/integration/it_utils.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/asyncio/__init__.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/account/main.py
  xrpl/asyncio/account/transaction_history.py
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_json_rpc_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/utils.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/ledger/main.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/transaction/ledger.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/wallet/__init__.py
  xrpl/asyncio/wallet/wallet_generation.py
  xrpl/clients/client.py
  xrpl/clients/json_rpc_client.py
  xrpl/clients/sync_client.py
  xrpl/ledger/main.py
  xrpl/transaction/main.py
  xrpl/transaction/reliable_submission.py
  xrpl/wallet/__init__.py
  xrpl/wallet/wallet_generation.py
Due: isort, black, flake8, mypy, sphinx

fix failing test
  tests/integration/test_websocket.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove examples
  async_websockets_example.py
  sync_websockets_example.py
Due: isort, black, flake8

respond to comments
  CHANGELOG.md
  tests/integration/test_websocket.py
  tests/unit/models/test_base_model.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_json_rpc_client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/clients/json_rpc_client.py
  xrpl/clients/sync_client.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

clean up some comments
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

Implements a WebSocket client (#241)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/integration/it_utils.py
  tests/unit/models/test_base_model.py
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_json_rpc_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/utils.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/__init__.py
  xrpl/clients/json_rpc_client.py
  xrpl/clients/sync_client.py
  xrpl/clients/websocket_client.py
  xrpl/models/base_model.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

first set of tests
  tests/integration/it_utils.py
  tests/integration/transactions/test_account_set.py
Due: isort, black, flake8

more test cases/reorg
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
Due: isort, black, flake8

check tests
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
Due: isort, black, flake8

more tests
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
Due: isort, black, flake8

more tests
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
Due: isort, black, flake8

finish transaction tests
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

account sugar
  tests/integration/sugar/test_asyncio_account.py
Due: isort, black, flake8

transaction sugar
  tests/integration/sugar/test_asyncio_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

wallet sugar
  tests/integration/sugar/test_asyncio_wallet.py
Due: isort, black, flake8

request tests
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ledger.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
Due: isort, black, flake8

fix flaky tests
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_asyncio_account.py
  tests/integration/sugar/test_asyncio_transaction.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

use async for reusable values
  tests/integration/reusable_values.py
Due: isort, black, flake8

half-working decorator
  tests/integration/reqs/test_ledger.py
Due: isort, black, flake8

fix 3.7 issues
  poetry.lock
  pyproject.toml
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ledger.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
  tests/integration/sugar/test_asyncio_account.py
  tests/integration/sugar/test_asyncio_transaction.py
  tests/integration/sugar/test_asyncio_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add testing notes
  CONTRIBUTING.md
Due: none

fix decorator, move to it_utils
  tests/integration/it_utils.py
  tests/integration/reqs/test_ledger.py
Due: isort, black, flake8

fix decorator issues
  tests/integration/it_utils.py
  tests/integration/reqs/test_ledger.py
Due: isort, black, flake8

decorator on all reqs tests
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
Due: isort, black, flake8

fix poetry stuff
  poetry.lock
  pyproject.toml
Due: none

add decorator to test_account_delete
  tests/integration/it_utils.py
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

add decorator to transaction tests
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

account and transaction sugar
  tests/integration/it_utils.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_asyncio_account.py
  tests/integration/sugar/test_asyncio_transaction.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

wallet sugar
  tests/integration/it_utils.py
  tests/integration/sugar/test_asyncio_wallet.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

make linter happy
  xrpl/core/keypairs/crypto_implementation.py
Due: isort, black, flake8, mypy

fix bugs
  tests/integration/it_utils.py
Due: isort, black, flake8

fix import comments
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
Due: isort, black, flake8

fix more bugs, add retries for wallet tests
  tests/integration/it_utils.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

fix from_dict bug
  tests/unit/models/test_base_model.py
  xrpl/models/requests/submit_multisigned.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

respond to comments
  tests/integration/it_utils.py
Due: isort, black, flake8

reqs tests
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ledger.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
  tests/unit/models/test_base_model.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/request.py
  xrpl/models/requests/submit.py
  xrpl/models/requests/submit_multisigned.py
Due: isort, black, flake8, mypy, sphinx

transaction tests
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

fix unclosed event loop warning
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

fix stuff
  tests/integration/it_utils.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

sugar tests
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8
