Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

update changelog
  CHANGELOG.md
Due: none

Update default algorithm in`Wallet` class (breaking change) (#942)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix: make Directory.dir_root and Directory.owner optional in LedgerEntry
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix: handle hex string signatures and OverflowError in is_valid_message
  tests/unit/core/keypairs/test_main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

fix: bump websockets minimum version to >=14
  pyproject.toml
Due: none

fix: address CodeRabbit review feedback on is_valid_message
  tests/unit/core/keypairs/test_main.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/main.py
  xrpl/core/keypairs/secp256k1.py
Due: isort, black, flake8, mypy

reduce binary size and update wrappers
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/build_wheels_confidential.yml
  pyproject.toml
  tests/unit/core/confidential/test_utility_layer.py
  tests/unit/models/transactions/test_confidential_mpt_convert.py
  tools/build-mpt-crypto-natives.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/context.py
  xrpl/core/confidential/crypto_bindings.py
  xrpl/core/confidential/include/secp256k1_mpt.h
  xrpl/core/confidential/keypair.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/main.py
  xrpl/core/confidential/setup_mpt_crypto.sh
  xrpl/core/confidential/transaction_builders.py
  xrpl/models/transactions/confidential_mpt_convert.py
Due: isort, black, flake8, mypy

Fix: Convert Mnemonic to private key\n\nAutomated fix by sixder for https://github.com/XRPLF/xrpl-py/issues/419
  FIX.md
Due: none

fix round to zero
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Add demo scripts for a demo payment, XLS-66d Single Asset Vault and XLS-65d Lending Protocol
  demo_payment.py
  demo_xls65_66.py
Due: isort, black, flake8

fix #948: missing return in IOU amount underflow path (#948)
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

fix: do not expose seed in Wallet init error message (#987)
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix: redact secret fields in BaseModel __repr__ (#992)
  tests/unit/models/requests/test_sign.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix: use cryptographic RNG for WebSocket request IDs (#986)
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

minor: linter fixes
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

minor: fix mypy error
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fix(transaction): guard version parsing against short version strings
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

minor: Use HIDDEN instead of REDACTED to denote sensitive field-values
  tests/unit/asyn/clients/test_websocket_base.py
  tests/unit/models/requests/test_sign.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

tests: address PR comments suggesting wider test coverage (points 4, 5)
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

integ test: update docker command to be consistent with recent updates to xrpld executable
  .ci-config/xrpld.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

fix: skip malformed JSON frames in WebSocket handler (#977)
  CHANGELOG.md
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

reflect new mpt-crypto version
  tests/unit/core/confidential/test_utility_layer.py
  xrpl/core/confidential/__init__.py
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/keypair.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/main.py
  xrpl/core/confidential/plaintext_proofs.py
  xrpl/core/confidential/transaction_builders.py
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_send.py
Due: isort, black, flake8, mypy, sphinx

update local build to use mpt-crypto
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

update models
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/confidential/examples/submit_confidential_tx.py
  xrpl/core/confidential/transaction_builders.py
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_send.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy, sphinx

pull binaries from mpt-crypto release
  .github/workflows/build_mpt_crypto_libs.yml
  .github/workflows/build_wheels_confidential.yml
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: none

minor: print warnings to stdout before dropping a malformed frame
  tests/unit/asyn/clients/test_websocket_base.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

add clawback to example
  xrpl/core/confidential/examples/submit_confidential_tx.py
Due: isort, black, flake8, mypy

add new definitions extraction
  CONTRIBUTING.md
  pyproject.toml
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

initial commit
  .claude/skills/batch-deps-upgrade/README.md
  .claude/skills/batch-deps-upgrade/SKILL.md
Due: none

use xrpld:develop image
  .ci-config/xrpld.cfg
  .claude/skills/batch-deps-upgrade/SKILL.md
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix tests
  .claude/skills/batch-deps-upgrade/SKILL.md
  CONTRIBUTING.md
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

chore(deps): upgrade requests from 2.32.4 to 2.33.1
  .claude/skills/batch-deps-upgrade/SKILL.md
  .gitignore
  poetry.lock
Due: none

chore(deps): upgrade sphinx-rtd-theme from 3.0.2 to 3.1.0
  poetry.lock
  pyproject.toml
Due: none

chore(deps): upgrade packaging from 25.0 to 26.2
  .claude/skills/batch-deps-upgrade/SKILL.md
  .claude/skills/batch-deps-upgrade/pr-description.md
  poetry.lock
  pyproject.toml
Due: none

chore(deps): upgrade types-deprecated from 1.2.15.20241117 to 1.3.1.20260408
  .claude/skills/batch-deps-upgrade/pr-description.md
  poetry.lock
  pyproject.toml
Due: none

chore(deps): upgrade poethepoet from 0.30.0 to 0.37.0
  .claude/skills/batch-deps-upgrade/pr-description.md
  poetry.lock
  pyproject.toml
Due: none

update dependencies
  .claude/skills/batch-deps-upgrade/SKILL.md
  .claude/skills/batch-deps-upgrade/pr-description.md
  poetry.lock
  pyproject.toml
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

make explanation brief
  CONTRIBUTING.md
Due: none

chore(deps): quarterly batch dependency upgrade 2026-Q2 (#995)
  .ci-config/xrpld.cfg
  .claude/skills/batch-deps-upgrade/README.md
  .claude/skills/batch-deps-upgrade/SKILL.md
  .github/workflows/integration_test.yml
  .gitignore
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

minor: address PR comments
  tests/unit/asyncio/__init__.py
  tests/unit/asyncio/clients/__init__.py
  tests/unit/asyncio/clients/test_websocket_base.py
  tests/unit/asyncio/ledger/__init__.py
  tests/unit/asyncio/ledger/test_calculate_fee_dynamically.py
  tests/unit/asyncio/wallet/__init__.py
  tests/unit/asyncio/wallet/test_main.py
  tests/unit/asyncio/wallet/test_wallet.py
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
