Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

replace pyparsing with typing
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: update request models related to AMM (#638)
  CHANGELOG.md
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/amm_info.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

Add build os required field
  .readthedocs.yaml
Due: none

Fix missing snippet
  docs/source/snippets.rst
Due: none

Revert snippet rename change
  docs/source/snippets.rst
Due: none

Unconditionally set the theme
  docs/conf.py
Due: isort, black, flake8

Remove incorrect comment
  docs/conf.py
Due: isort, black, flake8

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Remove deprecated python versioning
  .readthedocs.yaml
Due: none

docs: Update ReadTheDocs (rtd) configuration (#642)
  .readthedocs.yaml
Due: none

Add steps for docs RTD build debug
  CONTRIBUTING.md
Due: none

Add note in conf.py
  docs/conf.py
Due: isort, black, flake8

fix unit tests
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

docs: Update theme to ReadTheDocs always (fixes regression) (#643)
  CONTRIBUTING.md
  docs/conf.py
Due: isort, black, flake8

respond to comments
  .vscode/settings.json
  CHANGELOG.md
  snippets/bridge_transfer.py
  snippets/paths.py
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/core/binarycodec/types/xchain_bridge.py
  xrpl/models/base_model.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

update Docker container to use rippled 1.12 with AMM enabled
  .ci-config/rippled.cfg
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

add AMMCreate test
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
  tests/integration/transactions/test_amm_create.py
Due: isort, black, flake8

add getXChainClaimID util
  snippets/bridge_transfer.py
  tests/unit/utils/test_get_xchain_claim_id.py
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID.json
  tests/unit/utils/txn_parser/transaction_jsons/XChainCreateClaimID2.json
  xrpl/models/transactions/metadata.py
  xrpl/utils/__init__.py
  xrpl/utils/get_xchain_claim_id.py
Due: isort, black, flake8, mypy, sphinx

export get/parse_nftoken_id at the xrpl.utils level
  tests/unit/utils/test_get_nftoken_id.py
  tests/unit/utils/test_parse_nftoken_id.py
  xrpl/utils/__init__.py
Due: isort, black, flake8, mypy, sphinx

better error when wrong metadata is passed in
  tests/unit/utils/test_get_nftoken_id.py
  xrpl/utils/get_nftoken_id.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

add AMMDeposit test
  tests/integration/transactions/test_amm_deposit.py
Due: isort, black, flake8

fix test name
  tests/integration/transactions/test_amm_deposit.py
Due: isort, black, flake8

error if wallet is passed into account/destination
  CHANGELOG.md
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix error
  snippets/bridge_transfer.py
Due: isort, black, flake8

add AMMWithdraw test
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

add AMMVote test
  tests/integration/transactions/test_amm_vote.py
Due: isort, black, flake8

add AMMBid test
  tests/integration/transactions/test_amm_bid.py
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

fix bugs
  tests/integration/transactions/test_amm_create.py
  tests/integration/transactions/test_amm_vote.py
Due: isort, black, flake8

create yaml variable for rippled docker image
  .github/workflows/integration_test.yml
Due: none

fix test name
  tests/unit/models/requests/test_ledger_entry.py
Due: isort, black, flake8

add more comments
  xrpl/core/binarycodec/types/xchain_bridge.py
Due: isort, black, flake8, mypy

fix: better error handling if wallet is passed into account/destination (#647)
  CHANGELOG.md
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
  xrpl/utils/parse_nftoken_id.py
Due: isort, black, flake8, mypy

fix changelog
  CHANGELOG.md
Due: none

add comments
  tests/integration/transactions/test_amm_bid.py
  tests/integration/transactions/test_amm_create.py
  tests/integration/transactions/test_amm_vote.py
  tests/integration/transactions/test_amm_withdraw.py
Due: isort, black, flake8

fix BidMin & BidMax types
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
