Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Adds transaction flag constants (#219)
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/offer_create.py
Due: isort, black, flake8, mypy, sphinx

minor updates to sample code
  README.md
Due: none

Minor updates to sample code (#220)
  README.md
Due: none

update the changelog release date
  CHANGELOG.md
Due: none

update version, add something to the changelog, add some more metadata in the pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

V1.0.0 (#183)
  CHANGELOG.md
  pyproject.toml
Due: none

rename project
  pyproject.toml
Due: none

rename project (#221)
  pyproject.toml
Due: none

Fixes issue with calculating negative iou precision
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Fixes issue with calculating precision when value is exponential notation
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Revert "Fixes issue with calculating precision when value is exponential notation"
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Revert "Fixes issue with calculating negative iou precision"
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

export utils
  xrpl/__init__.py
Due: isort, black, flake8, mypy, sphinx

export get_account_root
  xrpl/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

add to_xrpl to Transaction
  xrpl/models/transactions/transaction.py
  xrpl/transaction/__init__.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

first attempt at hashing transactions
  tests/integration/reusable_values.py
  tests/integration/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Fix get_hash, fix other bugs
  tests/integration/transactions/test_transaction.py
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

fix test
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

undo unneeded changes
  tests/integration/reusable_values.py
Due: isort, black, flake8

add test for from_dict bug
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

better error handling, docs
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

use get_hash in rel sub
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix typos
  tests/integration/transactions/test_payment_channel_claim.py
  tests/unit/utils/test_time_conversions.py
  xrpl/core/binarycodec/types/uint16.py
  xrpl/models/requests/ledger_entry.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix ci
  .github/workflows/unit_test.yml
Due: none

fix ci (#231)
  .github/workflows/unit_test.yml
Due: none

fix typos (#230)
  tests/integration/transactions/test_payment_channel_claim.py
  tests/unit/utils/test_time_conversions.py
  xrpl/core/binarycodec/types/uint16.py
  xrpl/models/requests/ledger_entry.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

update README
  README.md
Due: none

cherry-pick d718cc86cee451481f0ad59164abc96936184230
  README.md
Due: none

update README for legibility, aesthetics (#232)
  README.md
Due: none

set up pseudo-transaction object
  docs/source/xrpl.models.transactions.pseudo_transactions.rst
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/pseudo_transaction.py
  xrpl/models/transactions/pseudo_transactions/pseudo_transaction_type.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

add EnableAmendment
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
Due: isort, black, flake8, mypy

add pseudo-transactions to get_transaction_from_type
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

set up pseudo-transaction docs, circular import issue
  docs/source/xrpl.models.rst
  docs/source/xrpl.models.transactions.pseudo_transactions.rst
  tests/unit/models/transactions/test_transaction.py
  xrpl/models/response.py
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/check_cancel.py
  xrpl/models/transactions/check_cash.py
  xrpl/models/transactions/check_create.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/escrow_cancel.py
  xrpl/models/transactions/escrow_create.py
  xrpl/models/transactions/escrow_finish.py
  xrpl/models/transactions/offer_cancel.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/payment_channel_create.py
  xrpl/models/transactions/payment_channel_fund.py
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/pseudo_transactions/pseudo_transaction.py
  xrpl/models/transactions/set_regular_key.py
  xrpl/models/transactions/signer_list_set.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/types/__init__.py
  xrpl/models/transactions/types/pseudo_transaction_type.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

set up from_dict/xrpl for pseudo-transactions
  tests/unit/models/test_base_model.py
  xrpl/models/base_model.py
  xrpl/models/transactions/pseudo_transactions/__init__.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
  xrpl/models/transactions/pseudo_transactions/unl_modify.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

implement SetFee
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

fix Amount/Currency docs
  docs/source/xrpl.models.amounts.rst
  docs/source/xrpl.models.currencies.rst
Due: none

fix README
  README.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
