Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

get requests + wallet gen working
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
Due: isort, black, flake8

clean up
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix attempt
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

clean up test_transaction
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

simplify client access
  tests/integration/it_utils.py
Due: isort, black, flake8

Add TODOs
  tests/integration/it_utils.py
  tests/integration/reusable_values.py
Due: isort, black, flake8

more cleanup
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix rebase issues
  tests/integration/it_utils.py
Due: isort, black, flake8

fix bools
  tests/integration/it_utils.py
Due: isort, black, flake8

set github actions timeout
  .github/workflows/integration_test.yml
Due: none

make code more readable
  tests/integration/it_utils.py
Due: isort, black, flake8

fix fee/sequence issues
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_account_delete.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

fix tests
  tests/integration/it_utils.py
Due: isort, black, flake8

add standalone caveat to relsub
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

fix setcontext issues
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

more cleanup
  tests/integration/it_utils.py
Due: isort, black, flake8

test: use rippled standalone Docker for most tests (#315)
  .github/workflows/integration_test.yml
  tests/integration/integration_test_case.py
  tests/integration/it_utils.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/reqs/test_tx.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  xrpl/asyncio/transaction/main.py
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

add tests
  tests/unit/models/amounts/__init__.py
  tests/unit/models/amounts/test_issued_currency_amount.py
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

add methods to IssuedCurrencyAmount
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

rename get_issued_currency -> to_currency
  tests/unit/models/amounts/test_issued_currency_amount.py
  xrpl/models/amounts/issued_currency_amount.py
Due: isort, black, flake8, mypy

edit changelog comments
  CHANGELOG.md
Due: none

replicate issue
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

fix accounts
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

add failing test
  tests/unit/core/binarycodec/types/test_currency.py
Due: isort, black, flake8

fix bug
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

fix: encoding issue with encoding non-traditional currency codes (#322)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_currency.py
  xrpl/core/binarycodec/types/currency.py
Due: isort, black, flake8, mypy

add test
  tests/unit/core/binarycodec/test_main.py
Due: isort, black, flake8

fix
  xrpl/core/binarycodec/binary_wrappers/binary_serializer.py
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/hash.py
  xrpl/core/binarycodec/types/serialized_dict.py
Due: isort, black, flake8, mypy

add more comments
  xrpl/core/binarycodec/types/serialized_dict.py
Due: isort, black, flake8, mypy

remove magic string
  xrpl/core/binarycodec/types/serialized_dict.py
Due: isort, black, flake8, mypy

fix: add workaround for rippled UNLModify encoding bug (#323)
  CHANGELOG.md
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/binary_wrappers/binary_serializer.py
  xrpl/core/binarycodec/types/account_id.py
  xrpl/core/binarycodec/types/hash.py
  xrpl/core/binarycodec/types/serialized_dict.py
Due: isort, black, flake8, mypy

replace from_issued_currency with to_amount
  tests/unit/models/amounts/test_issued_currency_amount.py
  tests/unit/models/currencies/test_issued_currency.py
  xrpl/models/amounts/issued_currency_amount.py
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/issued_currency_base.py
Due: isort, black, flake8, mypy

refactor IssuedCurrencyBase._get_errors() to be similar to newer implementations
  xrpl/models/currencies/issued_currency_base.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/models/amounts/test_issued_currency_amount.py
  tests/unit/models/currencies/test_issued_currency.py
  tests/unit/models/currencies/test_xrp.py
Due: isort, black, flake8

implement switch to to_amount
  xrpl/models/amounts/issued_currency_amount.py
  xrpl/models/currencies/issued_currency.py
  xrpl/models/currencies/xrp.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
