Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update RELEASE.md and update slack channel
  .github/workflows/release.yml
  RELEASE.md
Due: none

fix slack message
  .github/workflows/release.yml
Due: none

Support for Dynamic MPT (XLS-94d)
  .ci-config/rippled.cfg
  CHANGELOG.md
  tests/integration/transactions/test_mptoken_issuance_dynamic_mpt.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy, sphinx

Correct ripple epoch time comments since it should be 2000-01-01T00:00Z
  xrpl/utils/time_conversions.py
Due: isort, black, flake8, mypy

ci: add Python 3.14 (#874)
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/unit_test.yml
Due: none

Update PR template to ask writing unit tests for tem* failure conditions for amendment PRs
  .github/pull_request_template.md
Due: none

Revert definitions.json changes that cause some unit and integration tests to fail
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Add more unit tests for mptoken_issuance_set.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_mptoken_issuance_set.py
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

fix type-check error
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/publish_to_pypi.yml
  .github/workflows/unit_test.yml
  poetry.lock
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

resolve ai bot comment
  RELEASE.md
Due: none

resolve PR comments
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
Due: none

resolve PR comments
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release
  .github/workflows/release.yml
Due: none

test release 3.4.16
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release 3.4.17
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release 3.4.18
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release 3.4.19 beta
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release 3.4.19 beta 1
  .github/workflows/release.yml
  pyproject.toml
Due: none

test release 3.4.19 beta 1 with python3.8
  .github/workflows/release.yml
Due: none

change github release version format
  .github/workflows/release.yml
Due: none

update RELEASE.md
  CONTRIBUTING.md
  RELEASE.md
Due: none

address review bot comments
  .github/workflows/release.yml
  RELEASE.md
Due: none

WIP commit
  tests/unit/models/test_utils.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/utils.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy, sphinx

update definitions
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

bump version
  pyproject.toml
Due: none

Update generate_definitions.py
  tools/generate_definitions.py
Due: isort, black, flake8

add more newlines
  tools/generate_definitions.py
Due: isort, black, flake8

run script
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix typo
  tools/generate_definitions.py
Due: isort, black, flake8

WIP commit
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

WIP commit
  tests/unit/models/test_utils.py
  xrpl/models/__init__.py
  xrpl/models/mptoken_metadata.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/utils.py
  xrpl/utils/__init__.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy, sphinx

WIP commit
  tests/unit/models/mptoken-metadata-encode-decode-fixtures.json
  tests/unit/models/mptoken-metadata-validation-fixtures.json
  tests/unit/models/test_utils.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/utils.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

fix tests
  tests/unit/models/mptoken-metadata-encode-decode-fixtures.json
  tests/unit/models/mptoken-metadata-validation-fixtures.json
  tests/unit/models/test_utils.py
  tests/unit/models/transactions/test_mptoken_issuance_create.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/mptoken_metadata.py
  xrpl/utils/mptoken_metadata.py
Due: isort, black, flake8, mypy

some refactors
  tests/unit/models/test_utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy
