Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

VoD request - fix example typo (#887)
  README.md
Due: none

release-4.3.2
  CHANGELOG.md
  pyproject.toml
Due: none

update minor version instead of patch version
  CHANGELOG.md
  pyproject.toml
Due: none

release-4.4.0 (#890)
  CHANGELOG.md
  pyproject.toml
Due: none

add Request.from_xrpl alias
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

add test
  tests/unit/models/requests/test_requests.py
Due: isort, black, flake8

fix #885: Fix error in the Directory model of LedgerEntry request
  CHANGELOG.md
  tests/integration/reqs/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix #888: Allow canonical case-insensitive ledger-object names in type filter
  tests/integration/reqs/test_account_objects.py
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

add changelog entry
  CHANGELOG.md
Due: none

Update pre-commit hooks version to v6.0.0
  .pre-commit-config.yaml
Due: none

improve async websocket examples
  xrpl/asyncio/clients/async_websocket_client.py
Due: isort, black, flake8, mypy

change frequency to quarterly
  .github/dependabot.yml
Due: none

Set dependabot version update frequency to quarterly (#898)
  .github/dependabot.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

trigger from main branch
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
Due: none

trigger from main branch
  .github/workflows/integration_test.yml
Due: none

trigger tests when pr is ready for review or opened manually
  .github/workflows/integration_test.yml
Due: none

update RELEASE.md
  RELEASE.md
Due: none

update slack channel
  .github/workflows/release.yml
Due: none

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix unit tests
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
Due: isort, black, flake8

feat(binarycodec): add update_definitions() for runtime monkey-patching
  xrpl/core/binarycodec/definitions/__init__.py
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy, sphinx

fix gh release
  .github/workflows/release.yml
Due: none

feat(binarycodec): add DefinitionsRegistry class with contextvars support
  tests/unit/core/binarycodec/test_definition_service.py
  xrpl/core/binarycodec/definitions/__init__.py
  xrpl/core/binarycodec/definitions/definitions.py
Due: isort, black, flake8, mypy, sphinx

feat: Update the serialization framework for Number type
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

fix: Recitfy the loss of precision due to floating point type cast in Number::to_json
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

fix: Add an overflow check during Number normalization; add more unit tests
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

feat: provide helper utility methods for signing LoanSet transactions
  tests/unit/transaction/test_counterparty_signer.py
  xrpl/transaction/__init__.py
  xrpl/transaction/counterparty_signer.py
Due: isort, black, flake8, mypy, sphinx

fix: Update the existing integ tests to be compatible with rippled implementation
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

feat: Make use of the helper methods to sign LoanSet transactions in integ tests
  tests/integration/transactions/test_lending_protocol.py
Due: isort, black, flake8

update CL
  CHANGELOG.md
Due: none

fix: Workaround for the docker directory issue
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix linter errors
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

[trivial] update doc strings with correct param names
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

resolve review bot comments
  .github/workflows/release.yml
Due: none

debug reviewer names
  .github/workflows/release.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
