Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

minor: remove traces of seed material in error msg
  tests/unit/asyn/__init__.py
  tests/unit/asyn/clients/__init__.py
  tests/unit/asyn/clients/test_websocket_base.py
  tests/unit/asyn/ledger/__init__.py
  tests/unit/asyn/ledger/test_calculate_fee_dynamically.py
  tests/unit/asyn/wallet/__init__.py
  tests/unit/asyn/wallet/test_main.py
  tests/unit/asyn/wallet/test_wallet.py
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

small changes
  CONTRIBUTING.md
  xrpl/constants.py
  xrpl/core/keypairs/ed25519.py
  xrpl/core/keypairs/helpers.py
  xrpl/core/keypairs/secp256k1.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/nftoken_modify.py
Due: isort, black, flake8, mypy

feat: Integration tests for AMMBid, AMMVote and AMMDelete transactions which contain MPTCurrency amounts
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
Due: isort, black, flake8

fix: remove leftover @require_kwargs_on_init decorators and duplicate test_mpt_amm_delete
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

fix: reject account + mpt_issuance_id combination in PathStep codec
  tests/unit/core/binarycodec/types/test_path_set.py
  xrpl/core/binarycodec/types/path_set.py
Due: isort, black, flake8, mypy

fix: validate mpt_issuance_id format in PathStep model
  tests/unit/models/test_path.py
  xrpl/models/path.py
Due: isort, black, flake8, mypy

fix: raise XRPLException (not ValueError) on AMMCreate failure in test helpers
  tests/integration/it_utils.py
Due: isort, black, flake8

fix: reject malformed MPT amount blobs in Amount.from_parser
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

fix(wallet): infer signing algorithm from seed prefix in Wallet.from_seed / from_secret
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Collection of bug-fixes (#993)
  CHANGELOG.md
  tests/unit/asyn/clients/__init__.py
  tests/unit/asyn/clients/test_websocket_base.py
  tests/unit/core/binarycodec/types/test_amount.py
  tests/unit/models/requests/test_sign.py
  tests/unit/models/test_base_model.py
  tests/unit/wallet/test_wallet.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/core/binarycodec/types/amount.py
  xrpl/models/base_model.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix: preserve significant trailing zeros in `Amount.to_json` for IOU values
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

style: apply Black to Amount.to_json regression test
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

fix: update xrpld docker config mount path to /etc/xrpld/
  .claude/skills/batch-deps-upgrade/SKILL.md
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

merge gitignore
  .gitignore
Due: none

add validation step
  .github/workflows/unit_test.yml
  pyproject.toml
  tools/validate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

fix docker path
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix SKILL.md
  .claude/skills/batch-deps-upgrade/SKILL.md
Due: none

fix: docker path for integration test (#1003)
  .claude/skills/batch-deps-upgrade/SKILL.md
  .github/workflows/integration_test.yml
  CONTRIBUTING.md
Due: none

fix: preserve significant trailing zeros in `Amount.to_json` for IOU values (#1001)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

fix(wallet): infer signing algorithm from seed prefix in Wallet.from_seed / Wallet.from_secret (#999)
  CHANGELOG.md
  tests/unit/asyn/wallet/test_main.py
  tests/unit/wallet/test_wallet.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

release-5.0.0: Update Changelog and SDK version
  CHANGELOG.md
  pyproject.toml
Due: none

update unit test
  tests/unit/models/transactions/test_mptoken_issuance_set.py
Due: isort, black, flake8

Fix Hash256 field-code collision: ObjectID nth 39->40, add ReferenceHolding nth 39
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Regenerate definitions.json from rippled #7350 (xrplf/sponsor) build
  tools/generate_definitions.py
  xrpl/core/binarycodec/definitions/definitions.json
Due: isort, black, flake8

Fix Directory ledger entry dir_root validation
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

feat(transaction): sign Batch with V1_1 payload + batch_account/regular-key
  tests/unit/transaction/test_batch_signers.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

feat(binarycodec): bind outer account/sequence in Batch V1_1 signing payload
  tests/unit/core/binarycodec/test_main.py
  xrpl/core/binarycodec/main.py
Due: isort, black, flake8, mypy

feat(transaction): validate full payload + dedup signers in combine_batch_signers
  tests/unit/transaction/test_batch_signers.py
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

ci: run integration suite against BatchV1_1 rippled image
  .ci-config/xrpld.cfg
  .github/workflows/integration_test.yml
Due: none

test(integration): cover Batch V1_1 against custom rippled
  tests/integration/transactions/test_batch.py
Due: isort, black, flake8

docs(changelog): note Batch V1_1 signing changes
  CHANGELOG.md
Due: none

ci: drop GHCR login step (image is public)
  .github/workflows/integration_test.yml
Due: none

fix(transaction): type multisign_address as Optional[str] for mypy --strict
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy

docs(changelog): list Batch V1_1 under Fixed, not Breaking
  CHANGELOG.md
Due: none

Fix sponsor model/codec compatibility with rippled #7350; expand integ tests
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/requests/ledger_entry.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
Due: isort, black, flake8, mypy

Fix Sphinx ref and en-dashes in sponsor_signer docstrings
  xrpl/transaction/sponsor_signer.py
Due: isort, black, flake8, mypy

Skip XLS-68 integ tests when Sponsor amendment unavailable; drop Sponsor from CI cfg
  .ci-config/xrpld.cfg
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
Due: isort, black, flake8

Revert 89bb237d: always run XLS-68 integ tests, keep Sponsor in CI config
  .ci-config/xrpld.cfg
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_objects_sponsored.py
  tests/integration/reqs/test_ledger_entry_sponsorship.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_sponsor_created_account.py
  tests/integration/transactions/test_sponsor_permissions.py
  tests/integration/transactions/test_sponsor_signer.py
  tests/integration/transactions/test_sponsorship_set.py
  tests/integration/transactions/test_sponsorship_transfer.py
Due: isort, black, flake8

fix: make Directory.dir_root and Directory.owner optional in LedgerEntry
  tests/unit/models/requests/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy
