Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

update to new model names
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/confidential_mpt_clawback.py
  xrpl/models/transactions/confidential_mpt_convert.py
  xrpl/models/transactions/confidential_mpt_convert_back.py
  xrpl/models/transactions/confidential_mpt_merge_inbox.py
  xrpl/models/transactions/confidential_mpt_send.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

release-4.5.0 -- Update CHANGELOG and pyproject.toml files
  CHANGELOG.md
  pyproject.toml
Due: none

test github rate limit issue
  .github/workflows/release.yml
Due: none

not release 4.4.0b1000
  pyproject.toml
Due: none

Use c binder mpt crypto for confidential
  MANIFEST.in
  poetry.lock
  pyproject.toml
  xrpl/core/confidential/README.md
  xrpl/core/confidential/__init__.py
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/context.py
  xrpl/core/confidential/examples/submit_confidential_tx.py
  xrpl/core/confidential/include/secp256k1.h
  xrpl/core/confidential/include/secp256k1_mpt.h
  xrpl/core/confidential/libs/darwin/libmpt-crypto.a
  xrpl/core/confidential/libs/darwin/libsecp256k1.a
  xrpl/core/confidential/libs/linux/libmpt-crypto.a
  xrpl/core/confidential/libs/linux/libsecp256k1.a
  xrpl/core/confidential/setup.py
  xrpl/core/confidential/test_utils.py
  xrpl/core/confidential/transaction_builders.py
  xrpl/core/confidential/utils.py
Due: isort, black, flake8, mypy, sphinx

clean up init
  xrpl/core/confidential/__init__.py
  xrpl/core/confidential/crypto_bindings.py
  xrpl/core/confidential/main.py
Due: isort, black, flake8, mypy, sphinx

add tests
  xrpl/core/confidential/main.py
  xrpl/core/confidential/tests/__init__.py
  xrpl/core/confidential/tests/test_encryption.py
  xrpl/core/confidential/tests/test_proofs.py
Due: isort, black, flake8, mypy, sphinx

refactor files
  xrpl/core/confidential/README.md
  xrpl/core/confidential/commitments.py
  xrpl/core/confidential/encryption.py
  xrpl/core/confidential/keypair.py
  xrpl/core/confidential/link_proofs.py
  xrpl/core/confidential/main.py
  xrpl/core/confidential/plaintext_proofs.py
Due: isort, black, flake8, mypy

clean up example
  xrpl/core/confidential/examples/submit_confidential_tx.py
  xrpl/core/confidential/examples/utils.py
Due: isort, black, flake8, mypy

update version
  pyproject.toml
Due: none

fix workflow
  .github/workflows/release.yml
Due: none

fix lint and test
  pyproject.toml
  xrpl/core/confidential/commitments.py
  xrpl/core/confidential/crypto_bindings.py
  xrpl/core/confidential/encryption.py
  xrpl/core/confidential/setup.py
  xrpl/core/confidential/tests/__init__.py
Due: isort, black, flake8, mypy, sphinx

exclude confidential from linter
  .flake8
Due: none

exclude confidential type-check
  mypy.ini
Due: none

fix linter and mypy
  mypy.ini
  xrpl/models/transactions/mptoken_issuance_set.py
Due: isort, black, flake8, mypy

mypy config for now
  mypy.ini
Due: none

revert release pipeline changes
  .github/workflows/release.yml
Due: none

Fix `Request.from_xrpl` by aliasing it to `Request.from_dict` (#892)
  CHANGELOG.md
  tests/unit/models/requests/test_requests.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

integ tests involving AMMCreate and AMMDeposit with two MPT assets in the AMM pool
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
Due: isort, black, flake8

fix unit test trigger
  .github/workflows/unit_test.yml
Due: none

Add pull request types to unit test workflow
  .github/workflows/unit_test.yml
Due: none

add integ tests for AMMWithdraw and AMMDelete transactions
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
Due: isort, black, flake8

updates to AMMClawback transaction validation and integ tests with MPT
  tests/integration/it_utils.py
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

integ test: OfferCreate transaction with MPT amount
  tests/integration/transactions/test_offer_create.py
Due: isort, black, flake8

feat: Update ledger_entry RPC to accept AMM input. New integ tests for RPCs: amm_info, ledger_entry and book_offers
  tests/integration/reqs/test_amm_info.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_ledger_entry.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

feat: integ tests for RPCs: path_find and ripple_path_find
  tests/integration/reqs/test_path_find.py
Due: isort, black, flake8

feat: integ tests for CheckCash, CheckCreate transactions
  tests/integration/it_utils.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
Due: isort, black, flake8

fix linter errors
  tests/integration/reqs/test_amm_info.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_ledger_entry.py
  tests/integration/reqs/test_path_find.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/transactions/test_amm_lifecycle_with_mpt.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_offer_create.py
Due: isort, black, flake8

address parity concerns between sync and async versions of utility function
  tests/integration/it_utils.py
Due: isort, black, flake8

feat: happy-case unit tests for all the affected transactions
  tests/unit/models/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  tests/unit/models/transactions/test_check_create.py
Due: isort, black, flake8

negative unit tests for all transactions accepting MPT amounts
  tests/unit/models/transactions/test_amm_clawback.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  tests/unit/models/transactions/test_check_cash.py
  tests/unit/models/transactions/test_check_create.py
  tests/unit/models/transactions/test_escrow_create.py
  tests/unit/models/transactions/test_loan_broker_cover_clawback.py
  tests/unit/models/transactions/test_offer_create.py
  xrpl/constants.py
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

changelog
  CHANGELOG.md
Due: none

clone public mpt_crypto library and fix windows CI build
  .github/workflows/build_mpt_crypto_libs.yml
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/commitments.py
  xrpl/core/confidential/include/secp256k1_mpt.h
Due: isort, black, flake8, mypy

Add pull request types to unit test workflow (#911)
  .github/workflows/unit_test.yml
Due: none

add workflow to perform vulns scan for pull requests
  .github/workflows/vulnerability_scan.yml
Due: none

build from wheels initial setup with local build
  xrpl/core/confidential/README.md
  xrpl/core/confidential/build_mpt_crypto.py
  xrpl/core/confidential/include/secp256k1_mpt.h
  xrpl/core/confidential/include/secp256k1_mpt.h.backup
  xrpl/core/confidential/libs/darwin/libmpt-crypto.a
  xrpl/core/confidential/libs/darwin/libsecp256k1.a
  xrpl/core/confidential/libs_backup/darwin/libmpt-crypto.a
  xrpl/core/confidential/libs_backup/darwin/libsecp256k1.a
  xrpl/core/confidential/libs_backup/linux/libmpt-crypto.a
  xrpl/core/confidential/libs_backup/linux/libsecp256k1.a
  xrpl/core/confidential/setup_mpt_crypto.sh
Due: isort, black, flake8, mypy

feat: Updates to PathSet binary-codec. Also included an additional Payment transaction integ test with explicit paths
  CHANGELOG.md
  tests/integration/transactions/test_payment.py
  tests/unit/core/binarycodec/types/test_path_set.py
  xrpl/core/binarycodec/types/path_set.py
  xrpl/models/path.py
Due: isort, black, flake8, mypy
