Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Update CHANGELOG.md (#748)
  CHANGELOG.md
Due: none

Upgrade the minimum supported version to Python 3.9
  .github/workflows/integration_test.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  CHANGELOG.md
  README.md
  docs/index.rst
  pyproject.toml
Due: none

update dependencies in lock file
  poetry.lock
Due: none

Use Github-Actions for PyPI release process (#760)
  .github/workflows/publish_to_pypi.yml
  CONTRIBUTING.md
Due: none

address PR comments from Mayukha
  xrpl/models/transactions/account_delete.py
  xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Update tests/integration/transactions/test_credential.py
  tests/integration/transactions/test_credential.py
Due: isort, black, flake8

Update xrpl/models/utils.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_create.py
  xrpl/models/transactions/credential_create.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/credential_delete.py
  xrpl/models/transactions/credential_delete.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/deposit_preauth.py
  xrpl/models/transactions/deposit_preauth.py
Due: isort, black, flake8, mypy

updated poetry lock file
  poetry.lock
Due: none

address errors raised by flake8
  tests/unit/core/binarycodec/types/test_serialized_type.py
  xrpl/core/addresscodec/codec.py
  xrpl/utils/xrp_conversions.py
Due: isort, black, flake8, mypy

address errors raised by mypy
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

Update pyproject.toml
  pyproject.toml
Due: none

Revert "Update pyproject.toml"
  pyproject.toml
Due: none

remove the MarkupSafe dev-dependency
  poetry.lock
  pyproject.toml
Due: none

Update flake8-annotations to the latest version
  poetry.lock
  pyproject.toml
Due: none

remove Jinja2 dev-dependency
  poetry.lock
  pyproject.toml
Due: none

rectify flake8-annotations errors
  xrpl/core/binarycodec/types/serialized_type.py
  xrpl/core/binarycodec/types/st_object.py
  xrpl/models/base_model.py
  xrpl/models/nested_model.py
  xrpl/models/requests/generic_request.py
  xrpl/models/response.py
Due: isort, black, flake8, mypy

include one additional noqa: ANN401 exception
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

remove minor versions of Python in the gating mechanism
  poetry.lock
  pyproject.toml
Due: none

remove BatchTxn field
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy, sphinx

fix tests
  tests/unit/transaction/test_batch_signers.py
Due: isort, black, flake8

fix unrelated TicketSequence bug
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

improve autofilling
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

better flag handling
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

fix integration tests
  tests/integration/sugar/test_transaction.py
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

handle batch in batch
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

remove Deprecated, types-Deprecated dependencies
  poetry.lock
  pyproject.toml
Due: none

address PR comments; check for duplicates in the credential list
  tests/unit/models/transactions/test_account_delete.py
  tests/unit/models/transactions/test_deposit_preauth.py
  tests/unit/models/transactions/test_escrow_finish.py
  tests/unit/models/transactions/test_payment.py
  tests/unit/models/transactions/test_payment_channel_claim.py
  xrpl/models/transactions/credential_accept.py
  xrpl/models/transactions/deposit_preauth.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

address PR comments
  tests/unit/models/transactions/test_credential_create.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

Revert "remove Deprecated, types-Deprecated dependencies"
  poetry.lock
  pyproject.toml
Due: none

address PR comments
  tests/unit/models/transactions/test_account_delete.py
Due: isort, black, flake8

change Wallet.from_secret_numbers default signing algorithm
  tests/unit/asyn/wallet/test_main.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

fix Pylint warnings
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
