Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

remove new error
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy, sphinx

improve docs
  xrpl/asyncio/clients/__init__.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/models/requests/nft_info.py
Due: isort, black, flake8, mypy, sphinx

remove nft_info
  xrpl/models/requests/nft_info.py
Due: isort, black, flake8, mypy

fix typing
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

initial
  xrpl/models/requests/__init__.py
  xrpl/models/requests/nft_history.py
  xrpl/models/requests/nft_info.py
  xrpl/models/requests/nfts_by_issuer.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy, sphinx

comments
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

fix black
  xrpl/core/binarycodec/types/st_object.py
Due: isort, black, flake8, mypy

fix comments
  xrpl/models/requests/nft_history.py
  xrpl/models/requests/nft_info.py
Due: isort, black, flake8, mypy

fix mypy issues
  xrpl/models/base_model.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy

update account_objects filters
  xrpl/models/requests/account_objects.py
Due: isort, black, flake8, mypy

move internet connection tests to integration tests
  tests/integration/clients/__init__.py
  tests/integration/clients/test_json_rpc_client.py
Due: isort, black, flake8

fix linter issues
  xrpl/core/binarycodec/types/xchain_bridge.py
Due: isort, black, flake8, mypy

improve AccountDelete fee test
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

remove use of WALLET.sequence in integration tests
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

Update README.md
  README.md
Due: none

fix tests
  tests/integration/it_utils.py
Due: isort, black, flake8

add more funding
  tests/integration/it_utils.py
Due: isort, black, flake8

actually add more funding
  tests/integration/it_utils.py
Due: isort, black, flake8

test: integration test improvements (#569)
  README.md
  tests/integration/it_utils.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

fix model validation
  xrpl/models/transactions/xchain_account_create_commit.py
  xrpl/models/transactions/xchain_create_bridge.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy

improve types
  xrpl/models/transactions/xchain_add_account_create_attestation.py
  xrpl/models/transactions/xchain_add_claim_attestation.py
Due: isort, black, flake8, mypy

allow keypairs.sign to take a string
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

fix SignerListSet validation
  xrpl/models/transactions/signer_list_set.py
Due: isort, black, flake8, mypy

actually close a ledger after submitting a transaction
  .vscode/settings.json
  tests/integration/it_utils.py
Due: isort, black, flake8

actually use the websocket client in tests
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

add TODO
  tests/integration/it_utils.py
Due: isort, black, flake8

fix bugs
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

fix type
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

remove ledger_accept
  tests/integration/it_utils.py
Due: isort, black, flake8

refactor sign_and_reliable_submission
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
Due: isort, black, flake8

close ledgers after each transaction
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_ticket_create.py
  tests/integration/transactions/test_trust_set.py
Due: isort, black, flake8

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix multisign condition
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Update xrpl/asyncio/transaction/reliable_submission.py
  xrpl/asyncio/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

clean up todo
  tests/integration/it_utils.py
Due: isort, black, flake8

move internet connection tests to integration tests (#567)
  tests/integration/clients/__init__.py
  tests/integration/clients/test_json_rpc_client.py
Due: isort, black, flake8

docs fix for wallet variable
  xrpl/asyncio/transaction/reliable_submission.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
