Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

fix linting issue
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

Update json_rpc_base.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

Revised PR 763 - Add API key support for JSON-RPC requests
  CHANGELOG.md
Due: none

Add headers support to base Client class for shared authentication functionality
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

Update client.py
  xrpl/asyncio/clients/client.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/json_rpc_base.py
Due: isort, black, flake8, mypy

improve tfInnerBatchTxn stuff
  tests/unit/models/transactions/test_batch.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/batch.py
Due: isort, black, flake8, mypy

address PR comments
  tests/integration/reqs/test_ledger.py
  tests/integration/sugar/test_ledger.py
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

get_open_ledger_seq: early return in case of failures
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

Fix the get_latest_open_ledger_sequence method (#820)
  CHANGELOG.md
  tests/integration/sugar/test_ledger.py
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

fix: add `MPTCurrency` type instead of `MPTAmount` for `Issue`s (#822)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_issue.py
  tests/unit/models/currencies/test_mpt_currency.py
  xrpl/constants.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/models/amounts/amount.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/currencies/__init__.py
  xrpl/models/currencies/currency.py
  xrpl/models/currencies/mpt_currency.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/xchain_claim.py
Due: isort, black, flake8, mypy, sphinx

remove unused files
  xrpl/openapi-codegen/models/models/__init__.py
  xrpl/openapi-codegen/models/models/post200_response.py
Due: isort, black, flake8, mypy, sphinx

remove unused files
  xrpl/openapi-codegen/models/models/account_flags.py
  xrpl/openapi-codegen/models/models/post_request.py
Due: isort, black, flake8, mypy

ignore codegen folder
  pyproject.toml
Due: none

fix linter exclude
  .flake8
  pyproject.toml
Due: none

mypy ignore
  mypy.ini
Due: none

fix merge issues
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

fix linter
  xrpl/models/currencies/mpt_currency.py
Due: isort, black, flake8, mypy

better typing
  xrpl/models/requests/request.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

[WIP] first cut
  poetry.lock
  pyproject.toml
  tools/generate_model_from_spec.py
Due: isort, black, flake8

add some more stuff
  tools/generate_model_from_spec.py
  tools/generate_tx_models.py
Due: isort, black, flake8

fix: increase websocket payload default max size (#795)
  CHANGELOG.md
  xrpl/asyncio/clients/websocket_base.py
Due: isort, black, flake8, mypy

some error stuff
  tools/generate_model_from_spec.py
Due: isort, black, flake8

add \n
  tools/generate_model_from_spec.py
Due: isort, black, flake8

switch back to generated destination
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

Revert "switch back to generated destination"
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

fix issues
  tools/generate_model_from_spec.py
Due: isort, black, flake8

ci: fix flakiness of snippet tests (hopefully) (#823)
  .github/workflows/snippet_test.yml
  snippets/send_escrow.py
  snippets/set_regular_key.py
  snippets/submit_payment.py
Due: isort, black, flake8

fix definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

respond to comments
  xrpl/transaction/batch_signers.py
Due: isort, black, flake8, mypy
