Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

export async method
  xrpl/transaction/__init__.py
Due: isort, black, flake8, mypy, sphinx

edit changelog
  CHANGELOG.md
Due: none

export flag
  xrpl/models/transactions/__init__.py
Due: isort, black, flake8, mypy, sphinx

added Client parameters and default fee to 2 XRP per Transaction
  CHANGELOG.md
  docs/source/modules.rst
  docs/source/xrpl.core.binarycodec.binary_wrappers.rst
  docs/source/xrpl.core.binarycodec.definitions.rst
  docs/source/xrpl.core.binarycodec.types.rst
  docs/source/xrpl.models.parameters.rst
  docs/source/xrpl.models.transactions.types.rst
  tests/integration/it_utils.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
  xrpl/clients/client.py
  xrpl/models/__init__.py
  xrpl/models/parameters/__init__.py
  xrpl/models/parameters/client_parameters.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

added test where fee is higher than max_fee
  tests/integration/transactions/test_payment.py
Due: isort, black, flake8

Included binary, min_ledger and max_ledger for get_transaction_from_hash (#234)
  CHANGELOG.md
  tests/integration/sugar/test_transaction.py
  xrpl/transaction/ledger.py
Due: isort, black, flake8, mypy

removed params from Client and simplified fee check
  docs/source/modules.rst
  docs/source/xrpl.core.binarycodec.binary_wrappers.rst
  docs/source/xrpl.core.binarycodec.definitions.rst
  docs/source/xrpl.core.binarycodec.types.rst
  docs/source/xrpl.models.parameters.rst
  docs/source/xrpl.models.transactions.types.rst
  tests/integration/it_utils.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  xrpl/clients/client.py
  xrpl/models/__init__.py
  xrpl/models/parameters/__init__.py
  xrpl/models/parameters/client_parameters.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

reformated __init__.py as it was as no changes have been made to it
  xrpl/models/__init__.py
Due: isort, black, flake8, mypy, sphinx

removed some tests, changed the fee exception message
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

removed unnecessary fee constants in tests
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
Due: isort, black, flake8

fix bug
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

fetch fee per txn type dynamically
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_fund.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

removed unnecessary comments
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

updated changelog
  CHANGELOG.md
Due: none

first attempt at websocket client
  poetry.lock
  pyproject.toml
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

add tests, export
  tests/integration/test_websocket.py
  xrpl/clients/__init__.py
  xrpl/clients/utils.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy, sphinx

updated tests to use public methods, updated changelog
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_trust_set.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Adds PaymentChannelClaim flags (#237)
  CHANGELOG.md
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/payment_channel_claim.py
Due: isort, black, flake8, mypy, sphinx

Adds asynchronous reliable submission method (#238)
  CHANGELOG.md
  xrpl/transaction/__init__.py
  xrpl/transaction/reliable_submission.py
Due: isort, black, flake8, mypy, sphinx

Fix issue with calculating IOU precision
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Revert "rename account id -> classic address in keypairs"
  xrpl/core/keypairs/helpers.py
  xrpl/core/keypairs/main.py
Due: isort, black, flake8, mypy

revert unneeded changes
  xrpl/account/transaction_history.py
Due: isort, black, flake8, mypy

add tests + minor reorg
  tests/integration/it_utils.py
  tests/integration/test_websocket.py
  tests/integration/transactions/test_account_delete.py
Due: isort, black, flake8

export websocket util methods
  xrpl/clients/__init__.py
Due: isort, black, flake8, mypy, sphinx

handle long connections
  tests/integration/test_websocket.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

clean up tests
  tests/integration/test_websocket.py
  xrpl/clients/utils.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

cleanup
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

Optional check to verify the Transaction fee is not too high (#239)
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_account_delete.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy

Fixes issue with calculating IOU precision (#225)
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/data-driven-tests.json
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Adds additional X-Address support (#236)
  CHANGELOG.md
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_wallet.py
  tests/unit/core/binarycodec/fixtures/data/x-codec-fixtures.json
  tests/unit/core/binarycodec/test_main.py
  xrpl/account/main.py
  xrpl/account/transaction_history.py
  xrpl/core/binarycodec/types/account_id.py
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/clients/exceptions.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

handle closure better
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

fixes docs
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

fix unneeded repeated sending
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

websocket rework WIP [closing broken]
  poetry.lock
  pyproject.toml
  tests/integration/it_utils.py
  tests/integration/test_websocket.py
  xrpl/clients/websocket_client.py
  xrpl/models/base_model.py
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

fix closing error
  tests/integration/it_utils.py
  tests/integration/test_websocket.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

add docstrings, cleanup
  tests/integration/test_websocket.py
  tests/integration/transactions/test_account_delete.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

remove unused helper method
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

make is_open a method
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
