Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

Fix faucet test - Github actions (#845)
  tests/faucet/test_faucet_wallet.py
Due: isort, black, flake8

fix multisig fee calculations
  CHANGELOG.md
  xrpl/asyncio/transaction/main.py
Due: isort, black, flake8, mypy

feat: add support for Batch amendment (#757)
  .ci-config/rippled.cfg
  .vscode/settings.json
  CHANGELOG.md
  tests/integration/it_utils.py
  tests/integration/sugar/test_transaction.py
  tests/integration/transactions/test_batch.py
  tests/unit/core/binarycodec/test_main.py
  tests/unit/models/transactions/test_batch.py
  tests/unit/models/transactions/test_delegate_set.py
  tests/unit/models/transactions/test_transaction.py
  tests/unit/transaction/__init__.py
  tests/unit/transaction/test_batch_signers.py
  tools/generate_tx_models.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/__init__.py
  xrpl/core/binarycodec/definitions/definitions.py
  xrpl/core/binarycodec/main.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/amm_clawback.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/batch.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/mptoken_authorize.py
  xrpl/models/transactions/mptoken_issuance_create.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/nftoken_create_offer.py
  xrpl/models/transactions/nftoken_mint.py
  xrpl/models/transactions/offer_create.py
  xrpl/models/transactions/payment.py
  xrpl/models/transactions/payment_channel_claim.py
  xrpl/models/transactions/pseudo_transactions/enable_amendment.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/trust_set.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_modify_bridge.py
  xrpl/transaction/__init__.py
  xrpl/transaction/batch_signers.py
  xrpl/transaction/main.py
Due: isort, black, flake8, mypy, sphinx

bump versions
  CHANGELOG.md
  pyproject.toml
Due: none

4.2.0 release (#847)
  CHANGELOG.md
  pyproject.toml
Due: none

Add new transaction
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/base_model.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/nftoken_modify.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/utils.py
Due: isort, black, flake8, mypy, sphinx

Use updated name for withdrawal policy
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

update flag values in VaultCreate transaction
  tests/integration/reqs/test_vault_info.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

Update .ci-config/rippled.cfg
  .ci-config/rippled.cfg
Due: none

Update xrpl/core/binarycodec/types/number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

remove duplicate entries in the tec-codes and transaction-types of def.json file
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Address comments from Raj Patel
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_set.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

fix: update the length of domain_id field check
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy

VaultCreate: Add enum for representing Withdrawal Strategy input
  tests/integration/transactions/test_sav.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

vault_info: additional validation for request input specification'
  tests/unit/models/requests/test_vault_info.py
  xrpl/models/requests/vault_info.py
Due: isort, black, flake8, mypy

fix: update the import statements
  tests/unit/models/requests/test_vault_info.py
  xrpl/models/requests/vault_info.py
Due: isort, black, flake8, mypy

Update tests/unit/models/requests/test_vault_info.py
  tests/unit/models/requests/test_vault_info.py
Due: isort, black, flake8

fix: Length field check in Hash256 fields for VaultCreate transaction
  tests/integration/transactions/test_sav.py
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

fix: Update length checkk on VaultSet transaction
  tests/unit/models/transactions/test_vault_set.py
  xrpl/models/transactions/vault_set.py
Due: isort, black, flake8, mypy

remove integ test -- code is already covered under binary_codec tests
  tests/integration/transactions/test_sav.py
Due: isort, black, flake8

Support NFTokenMintOffer
  CHANGELOG.md
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

fix: amount validation
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

vault_clawback: do not allow XRP amounts inside VaultClawback transaction
  xrpl/models/transactions/vault_clawback.py
Due: isort, black, flake8, mypy

add tests
  tests/unit/models/transactions/test_nftoken_mint.py
  xrpl/models/transactions/nftoken_mint.py
Due: isort, black, flake8, mypy

fix
  tests/unit/models/transactions/test_nftoken_mint.py
Due: isort, black, flake8

address comments from Phu
  tests/unit/models/transactions/test_vault_delete.py
  tests/unit/models/transactions/test_vault_set.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/models/requests/vault_info.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

update the lock file with newer dependency versions
  poetry.lock
Due: none

add support for Token Escrow
  .ci-config/rippled.cfg
  CHANGELOG.md
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

add unit test
  tests/unit/models/transactions/test_escrow_create.py
Due: isort, black, flake8

update the lock file with newer dependency versions (#852)
  poetry.lock
Due: none

Update xrpl/models/requests/vault_info.py
  xrpl/models/requests/vault_info.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_delete.py
Due: isort, black, flake8, mypy

Update xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

address PR comments from Omart
  tests/integration/transactions/test_single_asset_vault.py
  xrpl/core/binarycodec/types/number.py
  xrpl/models/amounts/__init__.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/requests/vault_info.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy, sphinx

revert clawback transaction model
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

fix typo in the declaration of Clawback Amount
  xrpl/models/amounts/__init__.py
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy, sphinx

remove unneeded import
  xrpl/models/transactions/clawback.py
Due: isort, black, flake8, mypy

WIP commit
  tests/integration/transactions/test_escrow_create.py
Due: isort, black, flake8

add Token Escrow IT
  tests/integration/transactions/test_escrow_create.py
Due: isort, black, flake8

fix typo
  xrpl/models/transactions/account_set.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
