Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

add nox docs
  CONTRIBUTING.md
Due: none

remove extra line
  CONTRIBUTING.md
Due: none

Async HTTP Integration Tests (#245)
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/integration/it_utils.py
  tests/integration/reqs/test_account_info.py
  tests/integration/reqs/test_account_objects.py
  tests/integration/reqs/test_account_tx.py
  tests/integration/reqs/test_book_offers.py
  tests/integration/reqs/test_channel_verify.py
  tests/integration/reqs/test_ledger.py
  tests/integration/reqs/test_ripple_path_find.py
  tests/integration/reqs/test_server_info.py
  tests/integration/reqs/test_submit_multisigned.py
  tests/integration/reqs/test_submit_only.py
  tests/integration/reqs/test_tx.py
  tests/integration/reusable_values.py
  tests/integration/sugar/test_account.py
  tests/integration/sugar/test_transaction.py
  tests/integration/sugar/test_wallet.py
  tests/integration/transactions/test_account_delete.py
  tests/integration/transactions/test_account_set.py
  tests/integration/transactions/test_check_cancel.py
  tests/integration/transactions/test_check_cash.py
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_deposit_preauth.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  tests/integration/transactions/test_offer_cancel.py
  tests/integration/transactions/test_offer_create.py
  tests/integration/transactions/test_payment.py
  tests/integration/transactions/test_payment_channel_claim.py
  tests/integration/transactions/test_payment_channel_create.py
  tests/integration/transactions/test_payment_channel_fund.py
  tests/integration/transactions/test_set_regular_key.py
  tests/integration/transactions/test_signer_list_set.py
  tests/integration/transactions/test_trust_set.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/keypairs/crypto_implementation.py
Due: isort, black, flake8, mypy

better error message
  xrpl/asyncio/clients/exceptions.py
Due: isort, black, flake8, mypy

fix memo dict stuff
  tests/unit/models/test_base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

add to changelog
  CHANGELOG.md
Due: none

improve changelog
  CHANGELOG.md
Due: none

remove extra newline
  CHANGELOG.md
Due: none

fix rtd links
  README.md
Due: none

fix readme
  README.md
Due: none

clean up changelog
  CHANGELOG.md
Due: none

clean up async docs structure
  docs/index.rst
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
  docs/source/xrpl.core.rst
Due: none

improve module docstrings
  docs/source/xrpl.models.requests.rst
  docs/source/xrpl.models.transactions.rst
  xrpl/account/__init__.py
  xrpl/asyncio/account/__init__.py
  xrpl/asyncio/ledger/__init__.py
  xrpl/asyncio/transaction/__init__.py
  xrpl/asyncio/wallet/__init__.py
  xrpl/ledger/__init__.py
  xrpl/transaction/__init__.py
  xrpl/wallet/__init__.py
Due: isort, black, flake8, mypy, sphinx

more random docs stuff
  .vscode/settings.json
  docs/source/xrpl.asyncio.rst
  xrpl/asyncio/clients/__init__.py
  xrpl/clients/__init__.py
Due: isort, black, flake8, mypy, sphinx

clean up clients
  docs/source/xrpl.clients.rst
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/clients/websocket_client.py
Due: isort, black, flake8, mypy

add initialization
  xrpl/asyncio/clients/exceptions.py
Due: isort, black, flake8, mypy

Fixes `Memo` dictionary handling (#248)
  CHANGELOG.md
  tests/unit/models/test_base_model.py
  xrpl/asyncio/clients/exceptions.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

respond to comments
  xrpl/models/requests/request.py
Due: isort, black, flake8, mypy

edit changelog
  CHANGELOG.md
Due: none

add websocket docs
  README.md
Due: none

Cleans up Changelog (#249)
  CHANGELOG.md
Due: none

add async docs
  README.md
Due: none

remove REPL syntax
  README.md
Due: none

fix spacing
  README.md
Due: none

add missing output
  README.md
Due: none

fix print statements
  README.md
Due: none

respond to comments
  README.md
Due: none

fix order
  README.md
Due: none

move print statement
  README.md
Due: none

document release process
  CONTRIBUTING.md
Due: none

respond to comments
  README.md
  docs/source/xrpl.asyncio.rst
Due: none

fix wording
  docs/source/xrpl.asyncio.rst
Due: none

document pre-release
  CONTRIBUTING.md
Due: none

respond to comments
  docs/source/xrpl.asyncio.rst
Due: none

docs for async code in sphinx
  docs/index.rst
  docs/source/xrpl.account.rst
  docs/source/xrpl.asyncio.account.rst
  docs/source/xrpl.asyncio.clients.rst
  docs/source/xrpl.asyncio.ledger.rst
  docs/source/xrpl.asyncio.rst
  docs/source/xrpl.asyncio.transaction.rst
  docs/source/xrpl.asyncio.wallet.rst
  docs/source/xrpl.clients.rst
  docs/source/xrpl.ledger.rst
  docs/source/xrpl.transaction.rst
  docs/source/xrpl.utils.rst
  docs/source/xrpl.wallet.rst
  xrpl/asyncio/clients/async_client.py
  xrpl/asyncio/clients/async_websocket_client.py
  xrpl/asyncio/clients/client.py
  xrpl/asyncio/clients/json_rpc_base.py
  xrpl/asyncio/clients/websocket_base.py
  xrpl/asyncio/transaction/main.py
  xrpl/clients/websocket_client.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

respond to comments
  CONTRIBUTING.md
Due: none

fix typo
  CONTRIBUTING.md
Due: none

test: WIP adds basic tests for subscribe
  tests/integration/it_utils.py
  tests/integration/reqs/test_subscribe.py
Due: isort, black, flake8
