Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

debug reviewer names
  .github/workflows/release.yml
Due: none

fix dev reviwer list
  .github/workflows/release.yml
Due: none

add definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix dev reviewer list
  .github/workflows/release.yml
  RELEASE.md
Due: none

add models
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/confidential_clawback.py
  xrpl/models/transactions/confidential_convert.py
  xrpl/models/transactions/confidential_convert_back.py
  xrpl/models/transactions/confidential_merge_inbox.py
  xrpl/models/transactions/confidential_send.py
  xrpl/models/transactions/mptoken_issuance_set.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

revert updates to add32, add64 methods to keep the Changelog minimal
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

Introduce rounding behavior in the Number type of ripple binary-codec module
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

unit test needs to pass for both beta and stable release
  .github/workflows/release.yml
Due: none

fix slack failure notification
  .github/workflows/release.yml
Due: none

simplified rounding strategy
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

fix: bug in to_json method in deserialization of Number type
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

remove unused get32 and get64 methods
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

[trivial] update docstring
  CHANGELOG.md
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

Release pipeline (#876)
  .github/workflows/faucet_test.yml
  .github/workflows/integration_test.yml
  .github/workflows/publish_to_pypi.yml
  .github/workflows/release.yml
  .github/workflows/unit_test.yml
  CONTRIBUTING.md
  RELEASE.md
  pyproject.toml
Due: none

Fix number serialization (#900)
  .github/workflows/integration_test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  tests/integration/transactions/test_lending_protocol.py
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/core/binarycodec/types/test_number.py
  tests/unit/transaction/test_counterparty_signer.py
  xrpl/core/binarycodec/types/number.py
  xrpl/transaction/__init__.py
  xrpl/transaction/counterparty_signer.py
Due: isort, black, flake8, mypy, sphinx

first draft of mptdex
  .ci-config/rippled.cfg
  tests/integration/transactions/test_check_create.py
  tests/integration/transactions/test_offer_create.py
  tests/unit/models/transactions/test_offer_create.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/amm_clawback.py
Due: isort, black, flake8, mypy

add destination_tag fields in LoanBrokerCoverWithdraw transaction modekl
  tests/unit/models/transactions/test_loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
Due: isort, black, flake8, mypy

add missing fields from Loan LedgerEntry in binary-codec definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

feat: binary-codec for Int32 type
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_int32.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy, sphinx

feat: add flags into LoanPay transaction
  tests/unit/models/transactions/test_loan_pay.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_pay.py
Due: isort, black, flake8, mypy, sphinx

feat: include scale in VaultCreate transaction
  tests/unit/models/transactions/test_vault_create.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

feat: Add destination tag in the VaultWithdraw transaction model
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

fix linter errors
  tests/unit/models/transactions/test_loan_broker_cover_withdraw.py
  xrpl/core/binarycodec/types/int32.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

address code rabbit suggestions
  tests/unit/core/binarycodec/types/test_int32.py
  tests/unit/models/transactions/test_loan_pay.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

models updates
  xrpl/models/base_model.py
  xrpl/models/transactions/confidential_convert.py
  xrpl/models/transactions/mptoken_issuance_create.py
Due: isort, black, flake8, mypy

first pass aug python implementation
  XLS-0068-IMPLEMENTATION-SUMMARY.md
  demo_xls0068.py
  test_xls0068_all.py
  test_xls0068_combined.py
  tests/unit/models/ledger_objects/__init__.py
  tests/unit/models/ledger_objects/test_sponsorship.py
  tests/unit/models/requests/test_account_sponsoring.py
  tests/unit/models/transactions/test_granular_permission_sponsorship.py
  tests/unit/models/transactions/test_sponsor_signature.py
  tests/unit/models/transactions/test_sponsorship_set.py
  tests/unit/models/transactions/test_sponsorship_transfer.py
  tests/unit/models/transactions/test_transaction.py
  tests/unit/models/transactions/types/__init__.py
  tests/unit/models/transactions/types/test_sponsorship_type.py
  xrpl/models/__init__.py
  xrpl/models/ledger_objects/__init__.py
  xrpl/models/ledger_objects/ledger_entry_type.py
  xrpl/models/ledger_objects/sponsorship.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/account_sponsoring.py
  xrpl/models/requests/request.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/delegate_set.py
  xrpl/models/transactions/sponsor_signature.py
  xrpl/models/transactions/sponsorship_set.py
  xrpl/models/transactions/sponsorship_transfer.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/__init__.py
  xrpl/models/transactions/types/sponsorship_type.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Updates to the Lending-Protocol transactions (#901)
  CHANGELOG.md
  tests/unit/core/binarycodec/types/test_int32.py
  tests/unit/models/transactions/test_loan_broker_cover_withdraw.py
  tests/unit/models/transactions/test_loan_pay.py
  tests/unit/models/transactions/test_vault_create.py
  tests/unit/models/transactions/test_vault_withdraw.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/int32.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/loan_broker_cover_withdraw.py
  xrpl/models/transactions/loan_pay.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy, sphinx

fix changelog
  CHANGELOG.md
Due: none

improve int32 integration
  xrpl/core/binarycodec/types/int.py
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy

clean up
  xrpl/core/binarycodec/types/int.py
Due: isort, black, flake8, mypy

improve error message
  xrpl/core/binarycodec/types/uint.py
Due: isort, black, flake8, mypy

fix linting
  xrpl/core/binarycodec/types/int.py
Due: isort, black, flake8, mypy

fix typo
  xrpl/core/binarycodec/types/int.py
Due: isort, black, flake8, mypy

respond to coderabbit
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy

one more typo
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy

more minor fixes
  xrpl/core/binarycodec/types/int32.py
Due: isort, black, flake8, mypy

refactor: improve int32 integration (#902)
  xrpl/core/binarycodec/types/int.py
  xrpl/core/binarycodec/types/int32.py
  xrpl/core/binarycodec/types/uint.py
Due: isort, black, flake8, mypy

update version
  pyproject.toml
Due: none
