Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Use our local versions of tools so that we stay in sync.
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        args: ["--strict"]
        language: system
        files: xrpl/
        types: [python]
      - id: sphinx
        name: sphinx
        entry: poetry run sphinx-apidoc -o docs/source xrpl
        language: system
        pass_filenames: false
        files: __init__
        exclude: ^tests
        types: [python]

release 1.10.0 (#624)
  pyproject.toml
Due: none

refactor _value_to_tx_json to remove special case for auth_account
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

refactor AuthAccount to be a NestedModel
  xrpl/models/auth_account.py
Due: isort, black, flake8, mypy

remove test_base_model tests for amm
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

add test_to_xrpl_auth_accounts
  tests/unit/models/test_base_model.py
Due: isort, black, flake8

fix indentation with tests
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
Due: isort, black, flake8

Clawback (#580)
  tests/integration/transactions/test_clawback.py
  tests/unit/models/transactions/test_clawback.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/account_set.py
  xrpl/models/transactions/clawback.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Remove unnecessary parameters from LedgerClosed model
  xrpl/models/requests/ledger_closed.py
Due: isort, black, flake8, mypy

Update CHANGELOG
  CHANGELOG.md
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Release xrpl-py 2.2.0 (#629)
  CHANGELOG.md
  pyproject.toml
Due: none

update definitions
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

add AMMDelete
  tests/unit/models/transactions/test_amm_delete.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_delete.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

Copy updated xrpl.js config over
  .ci-config/rippled.cfg
Due: none

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

Add more detailed steps for updating definitions
  CONTRIBUTING.md
Due: none

fix: remove unnecessary parameters from LedgerClosed request (#628)
  xrpl/models/requests/ledger_closed.py
Due: isort, black, flake8, mypy

update ledger_entry
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

add tests
  tests/unit/models/requests/test_ledger_entry.py
  tests/unit/models/requests/test_sign.py
Due: isort, black, flake8

fix tests
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

add AMMDelete docstring
  xrpl/models/transactions/amm_delete.py
Due: isort, black, flake8, mypy

feat: add AMM support (#422)
  CHANGELOG.md
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_create.py
  tests/unit/models/transactions/test_amm_delete.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/core/binarycodec/types/__init__.py
  xrpl/core/binarycodec/types/issue.py
  xrpl/models/__init__.py
  xrpl/models/auth_account.py
  xrpl/models/base_model.py
  xrpl/models/flags.py
  xrpl/models/requests/__init__.py
  xrpl/models/requests/amm_info.py
  xrpl/models/requests/request.py
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_create.py
  xrpl/models/transactions/amm_delete.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/transaction.py
  xrpl/models/transactions/types/transaction_type.py
Due: isort, black, flake8, mypy, sphinx

ci: Copy updated xrpl.js config over (#630)
  .ci-config/rippled.cfg
  CONTRIBUTING.md
Due: none

First attempt
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

Add tests
  tests/unit/models/transactions/test_pseudo_transactions.py
Due: isort, black, flake8

Fix typing, add dynamic checks and tests
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

isort
  tests/unit/models/transactions/test_pseudo_transactions.py
Due: isort, black, flake8

Update changelog
  CHANGELOG.md
Due: none

update version and CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

2.3 release (#635)
  CHANGELOG.md
  pyproject.toml
Due: none

add amm to ledger_entry and account_objects
  xrpl/models/requests/account_objects.py
  xrpl/models/requests/ledger_entry.py
Due: isort, black, flake8, mypy

Remove validation
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/pseudo_transactions/set_fee.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

update version
  pyproject.toml
Due: none

add amm_account to amm_info
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

feat: Update `SetFee` with new syntax pending XRPFee amendment (#634)
  CHANGELOG.md
  tests/unit/models/transactions/test_pseudo_transactions.py
  xrpl/models/transactions/pseudo_transactions/set_fee.py
Due: isort, black, flake8, mypy

Add Discord announcement step
  CONTRIBUTING.md
Due: none

Update PR template
  .github/pull_request_template.md
Due: none

docs: Update PR template (#641)
  .github/pull_request_template.md
Due: none

docs: Add Discord announcement step (#640)
  CONTRIBUTING.md
Due: none
