Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

[WIP] VaultClawback integ tests need to be completed; Errors regarding serialization of Number need to be solved;
  tests/integration/transactions/test_sav.py
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/asyncio/transaction/main.py
  xrpl/models/requests/account_objects.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

add integ test for VaultClawback transaction
  tests/integration/transactions/test_sav.py
Due: isort, black, flake8

fix: easier error msg for MPT float inputs; fix #796
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

remove float type alternative for MPTAmount.value field
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

additional test cases for serialization of MPTAmount.value
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

reorder the tests
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

test cases involving scientific notation
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

update the type for MPTAmount.value
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

Enforce proper serialization of Number types
  tests/integration/transactions/test_sav.py
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

docs explanation of transaction models
  xrpl/core/binarycodec/types/number.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_deposit.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

handle 0 case in Number type
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

simplify the extractNumberParts logic; Avoid using magic numbers;
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

introduce model for MPTIssue
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

Update xrpl/models/transactions/account_permission_set.py
  xrpl/models/transactions/account_permission_set.py
Due: isort, black, flake8, mypy

Update VaultCreate model to include Withdrawal Policy
  tests/integration/transactions/test_sav.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

remove irrelevant tests for amount binary codec
  tests/unit/core/binarycodec/types/test_amount.py
Due: isort, black, flake8

reorder the REQUIRED fields to be at the top of the transactions model; Update the changelog file
  CHANGELOG.md
  xrpl/models/transactions/vault_create.py
Due: isort, black, flake8, mypy

pretty print of Number values
  tests/unit/core/binarycodec/types/test_number.py
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

update the data member name of the MPTIssue class
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

pacify linter errors
  xrpl/core/binarycodec/types/number.py
  xrpl/models/amounts/mpt_amount.py
  xrpl/models/transactions/vault_clawback.py
  xrpl/models/transactions/vault_create.py
  xrpl/models/transactions/vault_delete.py
  xrpl/models/transactions/vault_deposit.py
  xrpl/models/transactions/vault_set.py
  xrpl/models/transactions/vault_withdraw.py
Due: isort, black, flake8, mypy

Update tests/unit/core/binarycodec/types/test_number.py
  tests/unit/core/binarycodec/types/test_number.py
Due: isort, black, flake8

revert the test cases of MPTAmount; Address codec issues in different PR
  tests/unit/core/binarycodec/types/test_amount.py
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

Accept mypy suggestions
  xrpl/core/binarycodec/types/number.py
Due: isort, black, flake8, mypy

use custom method of Number class for debugging unit tests
  tests/unit/core/binarycodec/types/test_number.py
Due: isort, black, flake8

basics
  xrpl/asyncio/transaction/main.py
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

add tests, fix issues, refactor escrow tests
  tests/integration/it_utils.py
  tests/integration/transactions/test_escrow.py
  tests/integration/transactions/test_escrow_cancel.py
  tests/integration/transactions/test_escrow_create.py
  tests/integration/transactions/test_escrow_finish.py
  xrpl/asyncio/transaction/main.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/escrow_create.py
Due: isort, black, flake8, mypy

add EscrowCancel
  tests/unit/models/transactions/test_escrow_create.py
Due: isort, black, flake8

cleanup
  tests/unit/models/transactions/test_escrow_create.py
Due: isort, black, flake8

remove repeat test
  tests/integration/sugar/test_wallet.py
Due: isort, black, flake8

fix #805: Upgrade pyproject config file to Poetry v2
  poetry.lock
  pyproject.toml
Due: none

Add maintainers section with updated latest contributors
  pyproject.toml
Due: none

Upgrade to the latest poetry version
  .github/workflows/publish_to_pypi.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
Due: none

update Integ test workflow to use Poetry v2.1.1
  .github/workflows/integration_test.yml
Due: none

Update xrpl/core/binarycodec/types/amount.py
  xrpl/core/binarycodec/types/amount.py
Due: isort, black, flake8, mypy

Update pyproject.toml
  pyproject.toml
Due: none

fix: update error msg for MPT float inputs; fix #796 (#813)
  xrpl/core/binarycodec/types/amount.py
  xrpl/models/amounts/mpt_amount.py
Due: isort, black, flake8, mypy

Fix #810 -- Fix the get_latest_open_ledger_sequence method
  tests/integration/reqs/test_ledger.py
  xrpl/asyncio/ledger/main.py
Due: isort, black, flake8, mypy

Update CL
  CHANGELOG.md
Due: none

fix #805: Upgrade pyproject config file to Poetry v2 (#819)
  .github/workflows/integration_test.yml
  .github/workflows/publish_to_pypi.yml
  .github/workflows/snippet_test.yml
  .github/workflows/unit_test.yml
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
