Repository XRPLF/xrpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, sphinx

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  args:
  - --strict
  language: system

sphinx:
  name: sphinx
  entry: poetry run sphinx-apidoc -o docs/source xrpl
  language: system
  pass_filenames: false

refactor test
  tests/unit/models/transactions/test_amm_bid.py
Due: isort, black, flake8

make claim attestation destination optional
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

update definitions and replace AMMHash with AMMID
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/base_model.py
  xrpl/models/requests/amm_info.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

update lptokens type to IssuedCurrencyAmount
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

assert with error message
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

assert with error messages for AMMInstanceCreate and amm_info
  tests/unit/models/requests/test_amm_info.py
  tests/unit/models/transactions/test_amm_instance_create.py
Due: isort, black, flake8

move to_xrpl tests to test_base_model
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_instance_create.py
  tests/unit/models/transactions/test_amm_vote.py
  tests/unit/models/transactions/test_amm_withdraw.py
Due: isort, black, flake8

rename lptokens to lp_tokens
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/base_model.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

update amm_info request params to be in snake_case
  tests/unit/models/requests/test_amm_info.py
  xrpl/models/requests/amm_info.py
Due: isort, black, flake8, mypy

update docstrings
  xrpl/models/requests/amm_info.py
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_instance_create.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

reorder SPECIAL_CAMELCASE_STRINGS to alphabetical order
  xrpl/models/base_model.py
Due: isort, black, flake8, mypy

refactor ABBREVIATIONS to be set in one place
  xrpl/models/base_model.py
  xrpl/models/transactions/transaction.py
Due: isort, black, flake8, mypy

make signature reward optional for modify bridge
  xrpl/models/transactions/xchain_modify_bridge.py
Due: isort, black, flake8, mypy

rename LPTokens to LPToken
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/amm_bid.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_vote.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix typo
  xrpl/models/transactions/amm_deposit.py
Due: isort, black, flake8, mypy

fix lint error
  xrpl/models/transactions/amm_deposit.py
Due: isort, black, flake8, mypy

refactor max trading fee to be in one place
  xrpl/models/transactions/amm_instance_create.py
  xrpl/models/transactions/amm_vote.py
Due: isort, black, flake8, mypy

update amm_bid error message
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

add AuthAccount base model for AMMBid
  tests/unit/models/test_base_model.py
  tests/unit/models/transactions/test_amm_bid.py
  xrpl/models/transactions/amm_bid.py
Due: isort, black, flake8, mypy

Add marker
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Make the marker an optional parameter
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

update to new rippled changes
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/xchain_commit.py
  xrpl/models/transactions/xchain_create_claim_id.py
Due: isort, black, flake8, mypy

one more fix
  xrpl/models/transactions/xchain_add_attestation.py
Due: isort, black, flake8, mypy

Update definitions.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

fix spacing
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

update definitions.json to avoid conflict with amm
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/wallet/main.py
Due: isort, black, flake8, mypy

update definitions to fix AMM in LEDGER_ENTRY_TYPES
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

update CHANGELOG.md to specify XLS-30
  CHANGELOG.md
Due: none

update wording on AMMDeposit & AMMWithdraw validation errors
  tests/unit/models/transactions/test_amm_deposit.py
  tests/unit/models/transactions/test_amm_withdraw.py
  xrpl/models/transactions/amm_deposit.py
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

add negative FeeVal check
  tests/unit/models/transactions/test_amm_vote.py
  xrpl/models/transactions/amm_vote.py
Due: isort, black, flake8, mypy

add negative TradingFee check
  tests/unit/models/transactions/test_amm_instance_create.py
  xrpl/models/transactions/amm_instance_create.py
Due: isort, black, flake8, mypy

fix lint error
  xrpl/models/transactions/amm_withdraw.py
Due: isort, black, flake8, mypy

Update definitions.json
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
Due: none

more updates
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
  xrpl/core/binarycodec/definitions/definitions.json
  xrpl/models/transactions/__init__.py
  xrpl/models/transactions/types/transaction_type.py
  xrpl/models/transactions/xchain_account_create_commit.py
Due: isort, black, flake8, mypy, sphinx

fix fixtures
  tests/unit/core/binarycodec/fixtures/data/codec-fixtures.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Add alternate function
  xrpl/account/transaction_history.py
  xrpl/asyncio/account/transaction_history.py
Due: isort, black, flake8, mypy

Fix Sphinx
  poetry.lock
  pyproject.toml
  xrpl/account/__init__.py
Due: isort, black, flake8, mypy, sphinx

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: xrpl/ and \.py$
  sphinx: any of: __init__ and \.py$ and not (^tests)
